[2019-06-24 04:32] tonyzeoli opened #1 "Add DJ List View"
Add the ability to display a list or grid of DJs via short code on a page in grid, list format, with avatar, bio, social media links, and all posts, if have posts.

[2019-06-24 04:33] tonyzeoli opened #2 "Add support for Rest API"
Developers should be able to pull information via Rest API.

[2019-06-24 04:36] tonyzeoli opened #3 "Fix Playlist Entries Custom Field extends beyond the post editor"
The playlist creator extends beyond the post editor body and impacts the sidebar. Needs to be reworked so that it doesn't affect the sidebar.

[2019-06-24 13:53] tonyzeoli opened #4 "Sticky Footer Player"
Add sticky footer player. Plays icecast and shoutcast streams.

[2019-06-24 14:06] tonyzeoli opened #5 "Schedule is calling Google API with non-secure address "HTTP" rather than "HTTPS""
/includes/master_schedule.php is calling Google API with a non-secure address “HTTP” rather than “HTTPS”. And due to the fact that this is within a function (line 12), plugins such as “Really Simple SSL” will not touch it causing it to remain insecure. It’s an easy enough thing to fix on my part, but when an update occurs, it’s right back to giving users a browser warning when using a secure URL o

[2019-06-24 14:07] tonyzeoli opened #6 "Add support to change time zone"
The widgets that are supposed to display upcoming and now playing shows is not respecting time zones for the visitors and thus only shows the correct information in 1 specific time zone. I can understand how this would be difficult to program (or simply time-consuming) but without that issue fixed, the widgets are quite pointless.

[2019-06-24 14:09] tonyzeoli opened #7 "[Docs] Update Shortcode docs in HELP panel/page"
Poor shortcode documentation (or perhaps it’s simply lacking some shortcodes that I thought should be there by default). Consider adding a single page with all possible shortcode methods rather than people having to go find the plugin page or your site to get help. Everything should be right there in the plugin itself.

[2019-06-25 21:13] tonyzeoli opened #8 "Bring code up to date with WordPress 5x"
Review code and make changes to bring the plugin up to date with the latest version of WordPress.

[2019-06-25 21:15] tonyzeoli opened #9 "Add Gutenberg support"
We need to add Guttenberg support for the plugin.

- Widgets as Blocks
- Playlists as Blocks
- DJs as Blocks

[2019-06-26 14:10] tonyzeoli opened #10 "[Master Schedule] Improve Show Category Filtering"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, you can filter shows by category, but the UI is simple and needs to be improved. Doing so would affect both the master calendar and the tabbed browsing.

**Describe the solution you'd like**
A clear and concise description of wh

[2019-06-26 14:14] tonyzeoli opened #11 "Merge Tabbed Schedule Tutorial into Shortcode"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, the tabbed schedule is something the user might attempt via a Tutorial specifying some custom development. Tabbed schedule should be included as a setting.

**Describe the solution you'd like**
A clear and concise description of

[2019-07-12 00:38] nourmab13 commented on #7
Hi Tony,
I reviewed "radio station help" in the plugin, and get-playlists appears to be the only shortcode method missing. I haven't actually reviewed all the options in the documented shortcodes for completeness, but I can take this one as a start if you like.

[2019-07-21 02:07] montereyjeff opened #13 "Date & time not saved in Schedule Override"
**Describe the bug**
After entering a Schedule Override, the date and time blank out after clicking Publish. They also blank out when trying to Update.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a Schedule Override that includes a date and time
2. Click Publish
3. Observe that the Date and Time are now blank

**Expected behavior**
Date and time should be retained for a schedule over

[2019-07-21 16:03] thisisshuffle opened #14 "PHP Errors since release 2.2.1"
Since updating plugin to 2.2.1 php errors are appearing.

The current on-air widget is showing :

The next on-air widget is adding numbers next to the show title such as

I am on version 5.2.2–en_GB using Hitmag theme

The page I need help with: http://thisisshuffle.co.uk/

[2019-07-21 16:41] montereyjeff opened #15 "Help page is blank"
**Describe the bug**
On the dashboard, clicking Radio Station, Help shows a blank result in 2.2.1.

[2019-07-22 00:55] tonyzeoli commented on #15
Thank you. I've seen this and am planning to fix in the next release.

[2019-07-22 00:56] tonyzeoli commented on #14
Thank you for submitting this bug. We expect to get this fixed asap. Will keep this issue updated.

[2019-07-22 00:56] tonyzeoli commented on #13
Thank you for submitting this issue. We'll be looking at this asap and will keep this issue ticket updated.

[2019-07-23 00:16] montereyjeff opened #16 "Day of Week heading missing in schedule grid view"
**Describe the bug**
In version 2.2.1 the Day of the Week heading (Monday, Tuesday, Wednesday, etc.) is missing in the schedule grid view.

**Screenshots**
Example: https://kspb.org/wordpress/schedule/

[2019-07-24 09:46] majick777 commented on #15
Thanks @montereyjeff looks like there were some issues uploading to the SVN and the help template file went missing, will be fixed in the next release upload.

[2019-07-24 09:46] #15 closed

[2019-07-24 09:47] majick777 commented on #14
Thanks @thisisshuffle a typo in the logic there, has been fixed for the next release.

[2019-07-24 09:47] #14 closed

[2019-07-24 09:50] majick777 commented on #8
This should be fine now as covered in the 2.2.0 update, any bugs relating to version conflicts can be treated as fresh separate issues so closing this one.

[2019-07-24 09:50] #8 closed

[2019-07-24 10:01] majick777 commented on #7
We should also look at synchronizing the shortcode information in the Help FAQ page with the readme.txt FAQ section as well as the Netmix plugin homepage.

There seems to be a few bits and pieces of information scattered on both, if they could be combined together, then they could be changed and kept updated together. If you want to start this process great, see how you go with it.

Note the readm

[2019-07-24 10:04] majick777 commented on #5
This one was fixed in 2.2.0 by checking protocol with `is_ssl()`, so closing.

[2019-07-24 10:04] #5 closed

[2019-07-24 10:07] majick777 commented on #3
Resolved for Show metabox but still pending for Playlist tracks metabox.

[2019-07-24 10:16] majick777 commented on #16
@montereyjeff good pickup didn't notice that one, typo in the weekday variable for translation, fixed for next release.

[2019-07-24 10:16] #16 closed

[2019-07-24 10:24] majick777 commented on #10
What kind of context are you meaning for the (genre) filtering to take place in?

[2019-07-24 10:34] majick777 commented on #11
Are there any other main plugin options that need to be considered for adding to an admin page?

[2019-07-24 12:29] majick777 commented on #13
Have fixed the issue with metabox data sanitization and is saving properly now for next release.

[2019-07-24 12:29] #13 closed

[2019-07-24 13:38] tonyzeoli commented on #3
Okay, thanks. Following.

[2019-07-24 13:41] tonyzeoli commented on #11
At this point, I believe giving the user the ability to toggle between the grid Calendar and Tabbed browsing would be more efficient than asking the user to follow the Tutorial the original developer supplied in the documentation. I don't have any specific features outside of this request at this time. I think it's important to roll this into a cohesive feature/option than leave it outside for a d

[2019-07-24 14:51] tonyzeoli commented on #7
Okay, I'll move on these issues today and tomorrow and have them completed Friday at the latest.

[2019-07-24 15:14] majick777 commented on #3
Ok I fixed this for now by splitting each row into to and added this to latest release. Closing this one, we can revisit with minor display improvements in the future.

[2019-07-24 15:14] #3 closed

[2019-07-24 22:06] nourmab13 commented on #7
Cool. Will come back to life this weekend after my cyber security workshop
😊. Just starting a class now- have a great evening 🤓

On Wed, Jul 24, 2019 at 10:51 Tony Zeoli <notifications@github.com> wrote:

--
Nourma Bumgarner
CSM, PMP

[2019-07-24 23:46] tonyzeoli opened #18 "A DJ is replicated multiple times in Show Edit View sidebar module"
**Describe the bug**

The DJ user is replicated in the selection module in the Show Edit View

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard > Shows
2. Click on Show to Edit
3. View list of DJs
4. If you're a DJ, you'll see yourself replicated multiple times

**Expected behavior**
A clear and concise description of what you expected to happen.

All DJs are supposed to be lis

[2019-07-25 01:01] tonyzeoli opened #19 "Only one DJ is listed in Show DJ module when multiple exist"
**Describe the bug**
Only one DJ is listed in the DJ selection module in the Show Edit View when multiple DJs exist.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to User table and check for all assigned DJs
2. If have multiple DJs, go to Dashboard > Show - Edit and click, Edit.
3. View all DJs in the Edit View DJs module.
4. Only One DJ displays (multiple times, has been reported as re

[2019-07-25 01:17] tonyzeoli commented on #19
<img width="1548" alt="radio-station-user-table-with-DJs" src="https://user-images.githubusercontent.com/4053819/61838687-741e2b00-ae58-11e9-96ba-ef82a4cb25d3.png">

Here's a view of my user table with @nourmab13 and myself.

[2019-07-25 01:24] tonyzeoli opened #20 "Upcoming DJ On Air widget printing strange number next to the time"
**Describe the bug**
A clear and concise description of what the bug is.
<img width="286" alt="Screen Shot 2019-07-24 at 9 21 18 PM" src="https://user-images.githubusercontent.com/4053819/61838851-3968c280-ae59-11e9-9853-03fb2280bf5f.png">

**To Reproduce**
Steps to reproduce the behavior:

1. View Widget in sidebar of https://netmix.co/radio-station-demo
2. View number printed next to time stamp.

[2019-07-25 02:33] tonyzeoli opened #21 "Playlist remove function only removes second row of data"
**Describe the bug**
A clear and concise description of what the bug is.

When you create a playlist and add a second row for a new track, if you try to remove, it will only remove the second row of data and not the first row, which is the song name, artist, album name, and label.

**To Reproduce**
Steps to reproduce the behavior:
1. Add New Playlist
2. Add first Playlist entry and save.
3. Add se

[2019-07-25 02:37] tonyzeoli commented on #7
Good luck, Nourma!

[image: photo]
Tony Zeoli
Founder, Digital Strategy Works LLC
O  (828) 412-0990  <(828) 412-0990> M  (917) 705-4700  <(917)
705-4700> E  az@digitalstrategyworks.com
<az@digitalstrategyworks.com>
W  https://digitalstrategyworks.com
Whatsapp 9177054700
Skype tonyzeoli
<http://www.facebook.com/digitalstrategyworks>
<http://www.twitter.com/dswks>
<http://www.linkedin.com/company/di

[2019-07-25 02:41] tonyzeoli commented on #20
This is related to the closed ticket here: https://github.com/netmix/radio-station/issues/14

[2019-07-25 02:54] tonyzeoli opened #22 "Grid display time labels below cutoff lines"
**Describe the bug**
A clear and concise description of what the bug is.

If add Show and set two hour time for show, the calendar grid displays a a border between 1 am and 2 am.

**To Reproduce**
Steps to reproduce the behavior:
1. View Calendar at https://netmix.co/radio-station-demo
2. View Show 1 and Show 2 entries for 12 midnight to 2 am.
3. Observe border for 2nd hour present when it should

[2019-07-25 03:30] majick777 commented on #19
Duplicate of #18

This is an issue with the display labels, they have the different DJ IDs are selectable just displaying the same label for all of them. My bad on this one as I placed modified option label code (to include username) outside the user option loop. Fixed for next release.

[2019-07-25 03:30] #19 closed

[2019-07-25 03:35] majick777 commented on #19
Duplicate of #18

This is an issue with the display labels, they have the different DJ IDs are selectable just displaying the same label for all of them. My bad on this one as I placed modified option label code (to include username) outside the user option loop. Fixed for next release.

[2019-07-25 03:38] majick777 commented on #20
The number is a UNIX timestamp format which was not being converted to weekday before translation. Fixed for next release.

[2019-07-25 03:38] #20 closed

[2019-07-25 03:39] majick777 commented on #19
Duplicate of #18

This is an issue with the display labels, they have the different DJ IDs are selectable just displaying the same label for all of them. My bad on this one as I placed modified option label code (to include username) outside the user option loop. Fixed for next release.

[2019-07-25 03:41] majick777 commented on #20
The number is a UNIX timestamp format which was not being converted to weekday before translation. Fixed for next release.

[2019-07-25 03:55] majick777 opened #23 "Add Data Columns for CPT List Views"
Add data columns for custom post type list views
Shows - active or not, assigned DJs, assigned Genres, shift times (expandable)
Overrides - display override times
Playlists - display track count, played count and queued count

[2019-07-25 03:57] majick777 commented on #18
This is an issue with the display labels, they have the different DJ IDs are selectable just displaying the same label for all of them. My bad on this one as I placed modified option label code (to include username) outside the user option loop. Fixed for next release.

[2019-07-25 03:57] #18 closed

[2019-07-25 03:57] majick777 commented on #20
The number is a UNIX timestamp format which was not being converted to weekday before translation. Fixed for next release.

[2019-07-25 04:20] majick777 commented on #22
I see this problem differently, there is no border already at 1am line, which is expected behaviour... the showtimeslot ends at 2am so does not continue into the third row.

It may appear this way because the times display are below the line they are intended for (centered in the cell.) If we can shift up the time labels to where the lines actually are then the confusion will disappear.

[2019-07-25 05:25] majick777 commented on #21
Side effect of splitting the track data into two rows for the display overflow fix. Updated the jQuery to remove both rows now. Added to next release.

[2019-07-25 05:25] #21 closed

[2019-07-25 07:16] majick777 commented on #22
I have shifted the time labels up to be more in line with the lines, hopefully that will make things visually clearer. Added this one to next release.

[2019-07-25 18:13] tonyzeoli opened #25 "Now Playing Widget List Items Enhancement"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The Now PLaying Widget lists the Artist, Title, Album, Label and Playlist in one long row. And, there are no headers in the widget for Artist, Title, Album, or Label.

**Describe the solution you'd like**
A clear and concise description of

[2019-07-25 18:26] tonyzeoli opened #26 "2.2.2. Commit blocked by pre-commit hook error in authors.php"
**Describe the bug**
A clear and concise description of what the bug is.

SVN reports the following error in the author.php file:

Parse error: syntax error, unexpected '<', expecting elseif (T_ELSEIF) or else (T_ELSE) or endif (T_ENDIF) in radio-station/trunk/templates/author.php on line 22
Errors parsing radio-station/trunk/templates/author.php
***********************************

**To Reproduce

[2019-07-26 00:30] majick777 commented on #26
Unclosed PHP tag. Oops. Fix pushed and merged, should be good to go now.

[2019-07-26 00:30] #26 closed

[2019-07-26 08:41] miklsnews opened #28 "Schedule Override not showing up in Show/DJ On-Air"
I just did the most recent update for "Radio Station" and was hopping it would correct the schedule override issue (it did to a point now you can setup a show override) but it doesn't show up in the Show/DJ On-Air widget

[2019-07-26 16:09] montereyjeff opened #29 "Schedule Override does not retain :00 minutes in start and end times (v 2.2.2)"
**Describe the bug**
Schedule Override does not retain minutes entered as 00. Minutes entered as 01 and 02 are retained.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Schedule Override and either add a new one or update an existing one
2. For the times, enter any hour, 00 minutes, am.
3. Click Publish/Update
4. See error

**Expected behavior**
Many programs begin/end on the hour, so

[2019-07-26 16:20] montereyjeff opened #30 "Formatting of Show On-Air and Coming Up widgets"
**Describe the bug**
The program name runs into the day without a space. All of it wraps oddly around the featured image.

**To Reproduce**

**Expected behavior**
More attractive spacing/formatting. Perhaps all of it appearing to the right of the featured image instead of just one line centered to the side of the image, or, have it all appear under the image.

**Screenshots**
See attached screensh

[2019-07-26 18:01] tonyzeoli commented on #30
Agreed, I'm aware of these issues and we'll probably address them early next week. Both Tony and Nourma have to focus on other things for a few days, but we'll get this taken care of.

[2019-07-29 02:57] tonyzeoli commented on #30
@montereyjeff What is the expected functionality you'd like to see here?

I'm thinking that the Show Featured Image is set to thumbnail size and left aligned, then the title is to the right of the image and the time is below it.

For both Now On Air and Coming Up, instead of displaying the day and time as is now, we should just display the current day and time at the top of the widget.

Makes no s

[2019-07-29 02:59] tonyzeoli commented on #28
Okay, thanks for letting us know. We'll look into this this week and provide a fix in the next update.

[2019-07-29 03:34] montereyjeff commented on #30
@tonyzeoli Even if the current day and time are displayed at the top of the widget, would you not want also to know how much longer the program might be on? For example, it’s Friday, 8:02 AM and BBC OS is on, but for how much longer? Some sites may not choose to also put up the Coming Up widget. Also, going by memory here, I think the widget has an option also to list other times the program is ai

[2019-07-29 09:04] majick777 commented on #29
@montereyjeff Good pickup. Found the issue in newly added value save sanitization. Added to next release.

[2019-07-29 09:04] #29 closed

[2019-07-29 11:37] majick777 commented on #28
@miklsnews Have not been able to reproduce this issue yet. Override seems to take over fine in the widget. There was a bug with failing 00 minute value saving (Issue #29 which has been fixed for next release) ... can you confirm whether this was the cause of your issue also or not?

[2019-07-29 12:00] majick777 commented on #30
So far now something middle of the road.... since we cannot determine the thumbnail size and/or sidebar width used in any theme, placing each thing (image, title, DJs etc.) on a new line seems to be the go. I was going to go with simple line breaks added after the <span> tags, but this does create a bit of a problem if the user wants to move things with CSS later - span tags annoyingly don't honou

[2019-07-29 12:01] majick777 commented on #6
Also could add a countdown time remaining show time as suggested by @montereyjeff.

[2019-07-29 12:08] majick777 commented on #25
Fixed along with #30 for next release.

[2019-07-29 12:08] #25 closed

[2019-07-29 12:10] majick777 commented on #25
"In the future, we can add a thumbnail."
A Thumbnail for the Playlist? Easy to do but do you think it would be used? Can't hurt I suppose.

[2019-07-29 12:12] #30 closed

[2019-07-29 12:18] majick777 commented on #23
Minor improvement on this front, by adding `show_admin_column` to the Genre taxonomy registration, a Genre column is now automatically added to any post types that use it (ie. Show.) Also by adding `show_in_quick_edit` they can be assigned to a Show from the show list screen using the Quick Edit feature. Nifty.

[2019-07-29 14:37] tonyzeoli commented on #30
Tony, then I would actually do away with the image altogether. I honestly
don’t think it’s necessary in the free version. If we build a pro version,
and someone wants to add a thumbnail to a widget sidebar for those widgets,
then we can build some feature to Allow the addition of a featured image in
widget  sidebar. My reasoning for this is, if you allow a featured image in
a sidebar, then the ima

[2019-07-29 14:38] tonyzeoli commented on #30
Sorry for the typos - driving and using vice to text!

On Mon, Jul 29, 2019 at 8:00 AM majick777 <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-07-29 17:41] miklsnews commented on #28
@majick777 your correct it was issue #29 and looking forward to the next bug fix in the next release ty

[2019-07-30 01:20] majick777 commented on #28
@miklsnews great! latest release has been pushed to Github but may not be on SVN until tomorrow so feel free to get it from here.

[2019-07-30 01:20] #28 closed

[2019-07-30 02:21] tonyzeoli commented on #28
I'm inadvertently without my laptop charger today. Traveling on South Carolina. Will be back at my desk in North Carolina Tuesday night EST and will push this after testing.

[2019-07-30 02:23] tonyzeoli commented on #25
Per "thumbnail" for playlist. Maybe too ambitious at the moment. Probably not necessary as the playlist is added to a Show page and there is no Featured Image option in the Playlist edit view. Let's leave this one off for now. I didn't think it through enough but now realize it's not justified. Thanks for your feedback.

[2019-07-30 19:34] thisisshuffle commented on #14
Having downloaded update Version 2.2.2. The PHP errors are still showing
![radio-stat-capture](https://user-images.githubusercontent.com/53148877/62159331-5a259200-b309-11e9-9b70-e87fff5b023b.JPG)

[2019-07-31 02:43] majick777 commented on #14
@thisisshuffle This has been fixed in 2.2.3 just released. :-)

[2019-08-02 01:11] WBFYradio opened #32 ""Encore Presentation" checkbox on Show schedule"
When I check the "Encore Presentation" option on a show schedule entry and hit the "Update" button the "Encore" check box clears.  The schedule shows the time slot without the "Encore" notation, though items I have not updated still have theirs.  Don't know how long this has been going on. It has been a few months since the station last had a schedule change, but "Encore" worked then, and we did j

[2019-08-03 22:12] scottdutton12 commented on #30
Hi, is there any update on getting the image to show next to the text.

Im trying to replicate what is shown in the screenshot with the On Air thumbnail but Im getting the text showing under the image and further down as shown with the Neil Freeman show.

![on air thumb](https://user-images.githubusercontent.com/53665512/62417300-1eaa0100-b644-11e9-89a2-22e5b8cd03a6.PNG)

![neil freeman thumb](htt

[2019-08-03 22:15] scottdutton12 opened #33 "Display of Widget Image and Text"
Hi, is there any update on getting the image to show next to the text.

Im trying to replicate what is shown in the screenshot with the On Air thumbnail but Im getting the text showing under the image and further down.

Isle of Wight Radio's use of your plugin:

![on air thumb](https://user-images.githubusercontent.com/53665512/62417300-1eaa0100-b644-11e9-89a2-22e5b8cd03a6.PNG)

My current plugin

[2019-08-04 01:37] tonyzeoli commented on #33
Hey Scott,

Thanks for submitting a feature request.

We actually just went through this here: https://github.com/netmix/radio-station/issues/30

We decided to stack the thumbnail on top of the text, because you cannot know what sidebar width someone is going to employ for their site and/or what size image they are going to use for the thumbnail. It could be different on twenty different sites.

Y

[2019-08-04 01:37] #33 closed

[2019-08-04 01:46] tonyzeoli commented on #32
Hey Vic,

An LPFM, WPVM 103.7 FM Asheville, NC, where I DJ and volunteer as webmaster was using the plugin, as well. When I saw that it hadn't been updated since 2015, I contacted Nikki Blight, the original author, and she was looking for someone to take it over.

I am not a developer myself, but I'm in product development, information architecture, and manage user experience design. But I've also

[2019-08-04 05:24] majick777 commented on #32
@WBFYradio The checkbox saving was indeed broken so I have fixed that for the next version. Thanks for picking that. Was me being a bit over-zealous with security and sanitizing all the save values and I missed that one.

Seems all the encore checkbox does at the moment is display a line "encore airing" in the master program schedule. So to further improve this, I have also added "Encore Presentat

[2019-08-04 05:24] #32 closed

[2019-08-04 09:12] scottdutton12 commented on #30
In reference to formatting and adding css to show the image and text side by side, can someone please point me in the right direction as to where to add the following line of code:

.on-air-dj-avatar, .on-air-dj-title {display: inline-block;}

Im unsure as to where on the djcss file that this code needs to be added.

All your help is very much appreciated!

[2019-08-04 09:27] majick777 opened #34 "On Air Widget Countdown Timer"
Add a countdown time remaining show time as suggested by @montereyjeff.

One the countdown reaches zero, the widget should refresh itself via AJAX and show the current show... and remove that show from the Upcoming widget if it is also on the page (or simply refresh that widget also.)

[2019-08-04 09:34] majick777 commented on #11
I think I'll tackle this next... although, I don't think it actually needs to be a plugin admin setting. The way the schedule shortcode works is to take a display attribute from the shortcode... The tutorial then further styles the "list" type shortcode. Incorporating that tutorial, this can be merged into a new "tabs" schedule display type that is also available via the shortcode without affectin

[2019-08-04 09:56] majick777 commented on #33
@scottdutton12 Thanks for the feedback! I had another look at this, and found a few things with the widget CSS that I've improved upon... bit of a rabbit hole. As mentioned the decision was made to give the title a new line and remove the explicit image sizing because sidebar widths may vary. Rather than forcing the image size to small and floated as it was, it is preferable to be full sidebar wid

[2019-08-04 10:05] scottdutton12 commented on #33
@majick777 I can't thank you enough for taking a look into this! If this works I will be forever greatful!

May I ask where I can download the development copy from, do you have a link?

Thank you so much!

[2019-08-04 23:55] majick777 commented on #30
@montereyjeff Further fixed in #33 with added widget display options.

[2019-08-05 00:00] majick777 commented on #33
@scottdutton12 No problem, our aim is to keep on top of bugs like this so we can move on and start adding further enhancements and features. There is a Patreon account up at https://www.patreon.com/radiostation if you would like to show support, hopefully we can build enough subscribers to fund making this better and better. :-)

From the main Github repository page for the project, https://github

[2019-08-05 02:22] tonyzeoli commented on #23
Cool, love it!

[2019-08-05 02:31] tonyzeoli commented on #33
As @majick777 instructed, you can download the development version using
the link he provided. But, I'll be pushing this after testing. I'm testing
in the morning eastern standard time. You should see an update in your
WordPress Dashboard most likely before 1 pm EST, but if you take the
development version and rename the zip from "radio-station-master" to
"radio-station," then upload via WordPress

[2019-08-05 13:54] tonyzeoli opened #36 "Author Page Not Found"
**Describe the bug**
When Author is clickable with a link, author page is 404 not found.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to widget sidebar or Show page
2. Click on Author link
5. Returns 404 page not found

**Expected behavior**
Returns Author page

**Screenshots**
Did not take screenshot.

I'm going to assume we need to give instructions that the author.php needs to be in

[2019-08-05 13:59] tonyzeoli opened #37 "Add Descriptors to Now Playing Widget"
In the Now Playing Widget, we should add the following descriptors to the widget before their entries.

We can leave the font style as regular and someone could child theme to make each text strong, if they wanted.

Song:
Artist:
Album:
Label:
Note:

[2019-08-05 14:07] tonyzeoli opened #38 "Add Link Text Field to Playlist tool to make Song Title clickable"
Some radio stations may want to link a song to Spotify, Amazon, or elsewhere. If they have an affiliate agreement with Amazon or some other online seller, they can link the Song Title to the song and generate affiliate revenue using a link provided by the individual service. In the free version, they can only add one link. In a future PRO version, they could use a drop down or "+" featue to add mu

[2019-08-05 14:43] tonyzeoli commented on #33
I just pushed 2.2.4 with the new layout manager for the sidebar widgets for Show / DJ On Air and Upcoming Show /DJ On Air. You'll find that @majick777 did a fantastic job of giving you a setting to move your Show Title above, below, or left/right align of the thumbnail. You can also increase/decrease the size of the thumbnail, or leave as default.

[2019-08-05 16:07] thisisshuffle opened #39 "PHP Error (filemtime(): stat failed) re-introduced with 2.2.4"
The Php errors that existed initially and were resolved as part of 2.2.3 have re-appeared with the update to 2.2.4.

They again appear within both the on-air now and next widgets.

see example :
![radio-stat-capture224](https://user-images.githubusercontent.com/53148877/62478591-5da29880-b7a3-11e9-82bb-769b8bdd0f74.JPG)

[2019-08-06 08:49] majick777 commented on #36
Hmm this is kinda a tricky one... Firstly, the 404 should not be appearing on standard author template pages (assuming the user exists, which it does if a link is generated for it.) If that is happening, there is a theme issue. In any standard theme an author display would be handled by author.php, or otherwise fallback to archive.php for the author archive display. Without debugging, I don't know

[2019-08-06 09:00] majick777 commented on #39
I renamed the djonair.css to widgets.css for 2.2.4 so it will be used as a common file for all the existing widgets as the CSS was so minimal... but it looks like the new file has not made it up on to WordPress SVN from the Github release:
https://raw.githubusercontent.com/netmix/radio-station/master/css/widgets.css
If you save that file in /wp-content/plugins/radio-station/css/widgets.css the fil

[2019-08-06 09:00] #39 closed

[2019-08-06 18:00] tonyzeoli commented on #36
This all makes sense. You're right - it would impact the author page for the true "author" role. And, yes, you can add author.php to the child theme for Make, but you're right, it would still impact things given that the DJ is a member role.

When I saw that the DJ is actually a member role, but didn't have a resulting DJ page, that certainly was problematic in my mind, because we shouldn't return

[2019-08-08 16:43] tonyzeoli opened #40 "Add Netmix MailChimp Email Signup to Help Page"
**Is your feature request related to a problem? Please describe.**
We need email newsletter signup registration with MailChimp on the Help Page. Since there is no General Settings Dashboard yet, we don't have a place to put an email newsletter signup tool. Probably good to add it to the top of the HELP page.
Don't think it's necessary to add as a notification at this time.

**Describe the solution

[2019-08-10 19:38] tonyzeoli opened #41 "Schedule override displays Show Time in 12-hour as 24-hour for PM times only"
**Describe the bug**
A clear and concise description of what the bug is.

When Schedule Override is enabled on a Show, if set to 12-hour time:

1. Displays correct 12-hour time for AM hours
2. Displays incorrect 24-hour time for PM hours

See the user reported error here: https://wordpress.org/support/topic/title-position-and-override-time-format/#post-11820813

**To Reproduce**
Steps to reproduce

[2019-08-22 13:01] majick777 commented on #22
@tonyzeoli I saw on the demo site this issue may have arisen for longer program times, so I think it is worth reopening and exploring what may be actually happening there.

[2019-08-23 18:50] tonyzeoli opened #43 "Fatal Error Line 57 radiostation.php"
**Describe the bug**

Users are reporting a fatal error in 2.2.6. Here is the error message:

Warning: require(/www/webroot/test.cci/html/wp-content/plugins/radio-station/includes/post-types.php): failed to open stream: No such file or directory in /www/webroot/test.cci/html/wp-content/plugins/radio-station/radio-station.php on line 57

Fatal error: require(): Failed opening required ‘/www/webroot

[2019-08-23 20:40] miklsnews commented on #43
same issue here is there a way to return to the later version until this is fixed

[2019-08-23 22:00] majick777 commented on #43
Looks like the latest version was not committed to SVN properly. You can download and install the Github version while this is being fixed.

@tonyzeoli need to do the step by step instructions sent or filename changes will not be picked up by SVN as they are handled as delete of old files and add of new. so make sure to delete all of trunk contents and paste in all of new before SVN add.
can alway

[2019-08-23 22:00] #43 closed

[2019-08-23 23:42] tonyzeoli commented on #43
@majick777 I've deleted everything from trunk and copied in everything from my Git desktop folder and it won't take any new changes, because it says there's nothing to change. So, I'm still getting the download from the plugin page with the old widget files. Versions shows me that the widget files have been deleted, but the widget files still seem to be in the download folder and the class files d

[2019-08-24 04:37] tonyzeoli commented on #43
It's all good. I figure it out. 👍

[2019-08-25 00:28] montereyjeff opened #44 "Coming Up widget shows times in 24-hour format when set for 12-hour"
**Describe the bug**
In the Coming Up widget, the scheduled time shows in 24-hour format when the widget is set to 12-hour. Now On Air widget works fine.

**Expected behavior**
Display times in selected format.

**Screenshots**
![image](https://user-images.githubusercontent.com/53131566/63644029-33524580-c694-11e9-86cf-ebf7692f275d.png)

![image](https://user-images.githubusercontent.com/53131566/

[2019-08-25 03:20] tonyzeoli commented on #44
Thanks, @montereyjeff Sorry we didn't catch this. Will do so on the next go round. Moved this into @majick777 bugs to look at. He's got some things going on this weekend. He'll probably take a look early in the week.

[2019-08-25 04:12] montereyjeff commented on #44
No worries. I’ve been distracted by other things lately (my station engineer passed away unexpectedly) so just getting back around to paying more attention to the website.

[2019-08-26 09:24] majick777 commented on #44
The conditional test for 12 hour format option was not being cast integer in the Upcoming widget like it is in the other widget. This has been fixed for next release.

[2019-08-26 09:24] #44 closed

[2019-08-26 10:40] majick777 commented on #41
Have added a fix for this to convert the 24 schedule override time back to 12 hour for display in this widget if the show hour is more than 12. Added to next release.

[2019-08-26 10:40] #41 closed

[2019-08-28 04:56] majick777 commented on #37
Easy one. Added to 2.2.7 release.

[2019-08-28 04:56] #37 closed

[2019-08-28 10:41] majick777 commented on #23
So I have added some extra data columns for this one:
Shows: Active, Shift Times, DJs, Show Image
Overrides: Override Date, Start Time, End Time, Show(s) Affected, Override Image
Playlist: Track Count, Tracklist (expandable), Show

Also made the Override Date column sortable and set it to the default sort order. And added a month dropdown filter for the overrides as thought it might be useful too.

[2019-08-28 10:41] #23 closed

[2019-08-28 13:00] majick777 commented on #7
@nourmab13 How is the progress on this one? I was thinking it might be a good idea to split the content up between Setup Guide and Help FAQ. And show the Setup Guide on the main plugin Admin page (along with any plugin options we add, but there are none so far.)

[2019-08-28 13:57] majick777 commented on #40
Okay this one is done too.

[2019-08-28 13:57] #40 closed

[2019-08-28 14:00] majick777 commented on #11
Decided it doesn't matter including this one in free version as tutorial already available to do this, I think there is sufficient features for pro version now without this. Instead we may want to consider adding a single shortcode that allows for instant switching between Table and Tab views.

[2019-08-28 14:00] #11 closed

[2019-08-28 14:06] majick777 opened #45 "Check for Show Shift Conflicts on Saving"
Could check for shift time overlaps on saving Show Shifts and display an error message.

[2019-08-28 14:08] majick777 opened #46 "Display Schedule Overrides in Master Schedule"
Seems like an obvious oversight, but I don't see in the code that this is being done and will need to test this further.

[2019-08-28 14:10] majick777 commented on #1
Related to #36 this could be a display option for the DJ archive view via plugin admin option.

[2019-08-28 23:10] tonyzeoli opened #48 "Commit Failed php error in class-dj-upcoming-widget.php"
**Describe the bug**
Commit failed (details follow):
Commit blocked by pre-commit hook (exit code 1) with output:

***********************************
PHP error in: radio-station/trunk/includes/class-dj-upcoming-widget.php:

Parse error: syntax error, unexpected '<<' (T_SL) in radio-station/trunk/includes/class-dj-upcoming-widget.php on line 152
Errors parsing radio-station/trunk/includes/class-dj

[2019-08-29 09:07] majick777 commented on #48
Somehow the merge from my forked repository conflicted and added all the file diffs into the files. So I re-pulled, fixed the diff sections in those files and re-pushed. Hopefully should be all good now.

[2019-08-29 09:07] #48 closed

[2019-08-29 13:09] tonyzeoli opened #50 "Parse Error on Line 609"
**Describe the bug**

Commit reporting a new error:

Parse error: syntax error, unexpected '===' (T_IS_IDENTICAL), expecting end of file in radio-station/tags/2.2.7/radio-station.php on line 609
Errors parsing radio-station/tags/2.2.7/radio-station.php
***********************************

[2019-08-29 13:10] tonyzeoli commented on #22
Okay, sounds good.

[2019-08-30 09:37] majick777 commented on #50
Ack, another leftover from the merge fail, thought I got them all. Pushed another fix.

[2019-08-30 09:37] #50 closed

[2019-09-08 03:46] tonyzeoli opened #52 "Ability to disable link to from Calendar to Show Page"
**Is your feature request related to a problem? Please describe.**

After talking to my station that I volunteer for, I realized that some stations have programming that does not require a Show page. They may want to add the Show, add it's time to air, but not host any content on the Show page.

**Describe the solution you'd like**
We should find a way to allow the admin to disable the link on the

[2019-09-09 01:10] tonyzeoli opened #53 "[Docs] Update Language Pack Files"
**Describe the bug**
At this URL: https://translate.wordpress.org/projects/wp-plugins/radio-station/language-packs/, we are only showing two language packs available, but the plugin has been translated into 8 languages.

**To Reproduce**
Go to https://translate.wordpress.org/projects/wp-plugins/radio-station/language-packs/ and review the num of language packs available.

**Expected behavior**
All

[2019-09-11 09:23] majick777 commented on #53
From the linked page, the information states:
"Language packs are installed automatically if they are available. Once a locale has reached the threshold for a package build it will be listed here. It also means that you don’t have to include this language in your plugin anymore."

While I'm not familiar with how this exactly works, I would take this on face value to mean what it says and we've onl

[2019-09-11 10:02] majick777 commented on #7
@nourmab13 I added a new shortcode option in 2.2.7 for the Master Schedule to give the tabbed display (previously only available via following code tutorial.) This display is activated by the format:
``[master-schedule list="tabs"]``

[2019-09-11 23:59] tonyzeoli commented on #53
Okay, thanks. I’ll look into this and get back to you with what I find out.

On Wed, Sep 11, 2019 at 5:23 AM majick777 <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-09-12 04:55] tonyzeoli opened #54 "Ability to disable Show Page features in a settings panel"
**Is your feature request related to a problem? Please describe.**
There's been a request to be able to disable the following from a show page:

1. Playlists - If the user never has a playlist, we should let them disable playlists.
2. Hosted By - If the user never registeres a DJ as a host, we should let them disable Hosted By
3. Genre - If the user does not want to display a genre, we should let

[2019-09-13 14:47] tonyzeoli opened #55 "Tabs shift to second line"
**Describe the bug**
When viewing the Tab version on the demo site, the tabs shift to a second line. I can't ascertain whether this is because of the content width or not, given the sidebar on this page.

<img width="1552" alt="Screen Shot 2019-09-13 at 10 44 07 AM" src="https://user-images.githubusercontent.com/4053819/64871599-8bd18e80-d613-11e9-8a59-1211f6d1e30a.png">

**To Reproduce**
Steps to

[2019-09-17 04:06] tonyzeoli opened #56 "Filter Days"
**Is your feature request related to a problem? Please describe.**
Please view this site:

https://radioromaniacultural.ro/program/

It seems the station wrote a feature to show/hide (filter) days of the week.

<img width="1552" alt="Screen Shot 2019-09-17 at 12 00 47 AM" src="https://user-images.githubusercontent.com/4053819/65010689-a0957700-d8de-11e9-940a-389aa1a5863f.png">

**Describe the solu

[2019-09-17 04:22] tonyzeoli opened #57 "View as List / Grid Switcher"
**Is your feature request related to a problem? Please describe.**
On Fly FM here: http://flyfm.co.uk/schedule-grid/

They have somehow implemented a List / Grid switcher to switch from the List (Tab) view to the Grid (block) view.

<img width="1552" alt="Screen Shot 2019-09-17 at 12 19 56 AM" src="https://user-images.githubusercontent.com/4053819/65011327-2ca89e00-d8e1-11e9-8503-6cedfd20dcf6.png"

[2019-09-17 12:41] tonyzeoli opened #58 "JetPack Related Posts splits Show Description from Show Schedule and Playlists"
**Describe the bug**
In my research on sites using Radio Station, I'm seeing that when someone installs the Related Posts plugin from JetPack, it sits between the Show description and the schedule and playlists feature. We need to figure out how to ensure this doesn't happen.

**To Reproduce**
Install JetPack and enabled Related Posts
View Show Page

**Expected behavior**
Related Posts should alwa

[2019-09-17 12:42] tonyzeoli commented on #58
Here is a link to the example site: https://kbog.org/show/chill-sweet-sleep/

I've seen this happen on other sites, as well.

[2019-09-17 12:44] tonyzeoli commented on #58
@trystant and @majick777 ,  maybe you guys can communicate on this one and propose a solution. We can then all discuss?

[2019-09-18 00:27] tonyzeoli opened #59 "Month, Week, Day, List Views"
**Is your feature request related to a problem? Please describe.**
Spinitron is a radio station services company that provides a method to create and publish a show schedule. I found their schedule system on a radio station website and it has features Radio Station does not, such as the ability to toggle between month, week, day, or list views.

**Describe the solution you'd like**
I would like Ra

[2019-09-18 00:48] tonyzeoli opened #60 "Mini pop over show info display"
**Is your feature request related to a problem? Please describe.**
Another possible feature for PRO. When mouse over the show, display a pop up with all show info, featured image, and show schedule, link to full show page.

**Describe the solution you'd like**
User mouses over any entry on the calendar, trigger pop over and display:

- featured image
- showtimes
- show genre
- DJs
- If have playli

[2019-09-24 06:54] majick777 commented on #55
This is partly intentional so that it is responsive, that is to say so that the list items *can* wrap when there is insufficient width for the full display (whereas a lot of other element formats don't handle this so well.) The original tutorial had a fixed 500px width total which seemed too small and cramped the tabs so I added some margins to space them out... and it is these margins that are pu

[2019-09-24 06:59] majick777 commented on #58
JetPack Related Posts is hooking into `the_content` filter and adding the Related Posts at the end of the post content. A lot of plugins do this, as it's one of the only theme-agnostic ways of adding content to the page. The show template is calling `the_content()` and then adding the Schedule, Playlists and Blog Posts after that...

If we want those to be better placed, we can remove them from th

[2019-09-24 07:29] majick777 commented on #52
We can give them the option to not create a page for a Show on the Show edit screen metabox? How would we word this to be clear and not confusing?

I think this would be better than any de-indexing after the fact, but we might want to just redirect existing hits on those URLs to the Show Archive page just in case.

So then, if they tick the box for not wanting a Show page, then we can check for th

[2019-09-24 07:37] majick777 opened #61 "Make use of GitHub readme.MD"
**Is your feature request related to a problem? Please describe.**
Currently we are just displaying the existing WordPress plugin readme.txt as the GitHub repository description. This is shown automatically as it exists and is okay - but a much richer experience is possible.

**Describe the solution you'd like**
We can use the readme.MD to add graphics, relevent links and other product information

[2019-09-24 07:39] majick777 commented on #61
@tonyzeoli on a similar note you can edit the repository description at the top of the page, the current one is pulled from the plugin mirror repo. Unforunately the Edit link is not available to me for this. I have changed my fork repo description to simply: "Radio Station Plugin https://netmix.com/radio-station/"

[2019-09-24 13:59] tonyzeoli commented on #58
@majick777 Yes, we want any plugin adding stuff at the end of the post content to have it be the last thing added as it's going to disrupt our plugin's content. So, we should definitely follow the path you're outlined and add them to `the_content`

This would also most likely fix the issue in Divi or any builder that pulls just the post body content and not the Genre, DJ, Playlists, etc...

I also

[2019-09-24 14:05] tonyzeoli commented on #55
@majick777 We might be able to assign media queries to @jmarx as it's a small change to add media queries and I think he may be able to help here while you focus on other priorities.

I see your point about the wrapping for responsive, but shouldn't the tabs not have white space between them? If someone were to natively implement this with no modifications, it would just look bad on all sites disp

[2019-09-24 14:07] tonyzeoli commented on #55
@majick777 P.S. And, given this is on the radio station website demo page, it doesn't look like a good model if someone where to want to review and implement. They may look at the demo and say, "so what am I supposed to do now with the tabs shifting to a second line and the whitespace between the tabs?" Especially if they are like me, not a developer, but know how to implement the shortcode.

[2019-09-24 14:15] tonyzeoli opened #62 "Add Setting selector for Default Grid or List (Tab) view"
**Is your feature request related to a problem? Please describe.**
If the user is a novice and does not understand shortcode or does not review the FAQ to implement shortcode for the LIST view (Tabs), then add a selector on the *future* plugin Settings page to select GRID or LIST view. There should be icons next to the radio buttons that display what a grid or a list is to the user.

**Describe th

[2019-09-24 14:23] tonyzeoli commented on #52
@majick777 Well, they may want to reintroduce the show page at a later date, so creating the page and de-indexing it is probably the way we want to go. I would just give a warning in the meta box to tell the user that they should use their preferred SEO plugin to de-index the page. Given that I work with All In One SEO, I would recommend to download All In One SEO Pack and then "no-index" the page

[2019-09-25 00:09] tonyzeoli commented on #58
@majick777 I'd like to actually attack this one first, since it's an issue *possibly* affecting anyone using a page builder. If you need to see how this reacts on WPVM's new website, let me know and I'll show you in Divi. But if you use the instructions to make a template file and apply it to Divi, then only the Show description displays and it leaves out the genre, DJ, playlists, etc... If someho

[2019-09-30 19:03] MikeNGarrett opened #63 "Translations of months/weekdays do not display"
**Describe the bug**
Anywhere that uses `radio_station_translate_weekday()` is calling `$wp_locale->get_weekday_abbrev()` with a number when a string is expected. This causes these translations to fail.

**To Reproduce**
I noticed this at the top of the master schedule shortcode.

**Expected behavior**
A row for the days of the week should displaying at the top of the master schedule.

WordPress 5

[2019-10-02 14:05] tonyzeoli opened #65 "DJs cannot Edit Shows, Playlists, Overrides"
**Describe the bug**
I got a notification from my station that DJs can no longer edit Shows, Playlists, or Overrides. They can only view Shows, Playlists, Overrides. They need to be able to Edit Show pages. I checked on the demo site and this is true.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a DJ user role
2. Login as the DJ
3. View the Radio Station admin menu
4. See there is no

[2019-10-02 14:08] tonyzeoli commented on #65
@majick777 When installing the Members plugin, it displays the Show Edit allow but under Schedule Overrides and not under Shows or Playlists

[2019-10-02 14:24] tonyzeoli opened #66 "Grant DJs Edit Rights in Settings"
**Is your feature request related to a problem? Please describe.**
DJs cannot edit shows, playlists, or show overrides.

**Describe the solution you'd like**
In Settings, the admin can grant a DJ edit rights to their Show. A DJ cannot add a show, but they can edit their show description.

What they can do:
- can Edit Show Description
- can Edit Featured Image
- can Add/Edit Playlist
- can edit Ema

[2019-10-02 22:20] tonyzeoli commented on #65
@majick777 I just got a second support request on this issue - major big so let’s try and address this.

[2019-10-03 13:43] tonyzeoli commented on #65
@MikeNGarrett @majick777 It seems some people are having problems with Radio Station wherease the DJ can no longer edit shows, playlists, overrides, etc... I'm not sure what happened here and I'm working on troubleshooting by reverting back to WordPress 5.2.2 to see if that's the issue whereas WordPress 5.2.3 may have impacted something, but I'm not seeing that on the demo site when I had my host

[2019-10-03 14:53] MikeNGarrett commented on #65
It looks like setting `in_array` to strict causes these checks to fail in some places.

[2019-10-03 15:15] tonyzeoli commented on #65
@MikeNGarrett @majick777 Okay, I think I jumped the gun here in some respect too. Nikki, the original developer, requires the user to download Members to open up edit of the Show page. I rolled back to an earlier version of Radio Station on WPVMFM.org, installed the Member plugin, and logged in as a DJ assigned to a Show and not I can see that I CAN edit the show. But if you're seeing an error, Mi

[2019-10-03 15:18] #65 closed

[2019-10-03 15:34] MikeNGarrett commented on #65
The PR is still required.

[2019-10-03 22:51] tonyzeoli commented on #65
@MikeNGarrett Sorry, can you explain "the PR is still required." Are you saying that the Member plugin is still be required to edit the Show? That's what I'm gathering from your post, but I just need clarity. Thanks.

[2019-10-03 23:45] MikeNGarrett commented on #65
No. What I mean is that the code changes I submitted are still applicable in order to ensure DJs can edit their own shows.

[2019-10-04 12:01] majick777 commented on #65
Sorry I missed this new issue as was busy forging ahead on other enhancements/features.

I think the strict typecasting for `in_array` checks introduced in 2.2.6 is overkill, it has created this bug and without testing further may have introduced other ones. So I've reverted all these (by removing the 3rd argument from all `in_array` checks) for 2.2.8 release to be safe. They could be re-introduce

[2019-10-04 12:15] majick777 commented on #66
Ack misread all that at first. To clear this up, DJs do have Show edit capability (including scheduled shift times) but not Show publish or Override publish/edit capability...  I agree we could add a plugin admin option to allow DJs to publish Shows and/or publish/edit Overrides.

[2019-10-04 12:17] majick777 commented on #63
@MikeNGarrett Thanks for picking this one up, merged your pull request into the 2.2.8 release.

[2019-10-04 12:17] #63 closed

[2019-10-04 12:37] majick777 commented on #58
Have finished the new content filter to replace the split show template, but needs testing before including in next release. I think we should bump to 2.3.0 when we do this and put in the Upgrade Notice and do a blog post as you suggested.

I think perhaps we could also detect if there is a child theme template exists and add a dismissable announcement linking to the blog post if it does, but not

[2019-10-04 12:44] majick777 commented on #53
@trystant @jmarx @MikeNGarrett Anyone with experience on the best way to check and update the existing translation files? Isn't there a Polylang tool or something. :-?

[2019-10-04 13:32] majick777 commented on #54
@tonyzeoli  I've been working on making the display of all these (and others) conditional in the new show content filter, so they won't display if there is no value assigned to them. Rather than add separate toggle settings for what displays on the single Show page, I've added filters so anything can be removed or changed as desired, but I don't think many people will want to bother - mostly if so

[2019-10-04 13:39] tonyzeoli commented on #54
Hmmm...I'm thinking this through. The admin may then add a show and not put content into the Show page. They may click Publish. When they go out to the calendar, the show won't be linked and they'll probably wonder why. Let's think about how we can tell them they must add Show content for the page to be linked from the Calendar (and the widgets too). How can we let them know to add content to make

[2019-10-04 13:39] tonyzeoli commented on #54
I'm going to reopen for now until a final decision is made.

[2019-10-04 13:47] tonyzeoli commented on #54
Actually, I'm sorry. After thinking about this, the Show DJ / Host would be able to add a Playlist and Posts too, and they wouldn't appear on a page. There are dependencies that I didn't think of before and it's probably just best to render the page and disregard my request completely. That's the first time I asked for something that I didn't think all the way through. They can no index the page i

[2019-10-04 13:47] #54 closed

[2019-10-04 13:55] majick777 commented on #36
So as this was persisting I had another look, and my initial assumption was not quite right. Author pages do 404 in WordPress if *the author has written no blog posts*. For DJs, this is why the 404, they may have Shows assigned but not written a post. A bit of a frustrating situation here. I have put some code in the latest 2.2.8 release so that at least it won't 404, but will still currently say

[2019-10-04 14:39] tonyzeoli opened #70 "[Edit Shows] Add Duplicate Show Shift Button"
**Is your feature request related to a problem? Please describe.**
When adding Shifts, the Show Host or Admin must click on Add Shift 5 to 7 times and then set the same times to any Show when the Show repeats daily at the same time. This is tedious when trying to create your Master Schedule.

**Describe the solution you'd like**
The Show Host or Admin should be able to click "Add Shift" and set th

[2019-10-04 14:42] tonyzeoli commented on #66
I had said in my post originating this issue:

- _cannot_ schedule show override (admin only)

- _cannot_ shedule show times (admin only)

And they shouldn't be able to publish shows either. I think leaving that to the admin is a wise choice.

[2019-10-04 18:14] tonyzeoli commented on #66
I'm going to close this because DJs can already edit show pages natively. I thought this was tied to Members, but it's not. I don't think we need to address this any longer. A DJ can Edit their Show page fine with the way this is working now.

[2019-10-04 18:14] #66 closed

[2019-10-04 18:16] tonyzeoli commented on #58
All sounds good. I'll follow your lead here.

[2019-10-05 02:11] tonyzeoli commented on #58
@majick777 I just thought of something. We shouldn't even display related posts on the Show page, because the page is not a post. Related posts should only display on Posts and not Pages. Now that I think of it, we should just filter it out altogether, as there's no reason it should be on the Show page in the first place.

[2019-10-05 02:16] tonyzeoli commented on #58
Shoot...I just checked WPVM's site and Related Posts pulls recommendations from the Shows CPT, so I guess we'll have to keep it because some stations may want to cross promote similar shows and that's a good way to do it.

[2019-10-05 02:33] tonyzeoli opened #72 "[Show Page] New Content Template Layout"
**Is your feature request related to a problem? Please describe.**
Let's revise the Show Page Layout per the attached wireframe.

**Describe the solution you'd like**
See the wireframe(s) PDFs attached with notes.
[radio-station show page layout.pdf](https://github.com/netmix/radio-station/files/3692765/radio-station.show.page.layout.pdf)
[radio-station layout posts.pdf](https://github.com/netmix/

[2019-10-05 02:58] tonyzeoli commented on #52
I think we talked about just leaving this as it is for now, because if the we disable the Show page, the user is still going to try to use the blog or the playlists and then they want have anywhere to display them AND if we hide the Show page based on whether it has content or not, the user isn't going to know that and is going to be confused. So, we'll shelve this because no one is asking for i a

[2019-10-05 02:58] #52 closed

[2019-10-05 03:17] tonyzeoli commented on #36
Okay, here's what I'm thinking then.

1. Admin creates User and assigns the role of DJ
2. Admin creates a Show and assigns the DJ to the Show with the Hosts meta box (as they do now)
3. If Admin creates a page for the DJ with a new CPT of Host(s)/DJ(s) and assigns the DJs using the Host meta box as they do now, then if DJ has a show page, set the link to target the DJs CPT page, but if DJ has no p

[2019-10-05 16:36] tonyzeoli commented on #65
@majick777 @MikeNGarrett Okay, I think we've resolved all of the issues based on Tony's fixed. This issue blocked the DJ from editing a show page and blocked blog posts from displaying under Blogs. I haven't yet found anything else, but will continue testing. I should have tested in greater detail by walking through all of the functions of the plugin before releasing the last version. Tony and I c

[2019-10-07 00:57] majick777 commented on #66
I don't see anything preventing a DJ adding or modifying Show shifts. If a DJ can edit a Show because they are assigned to it, they can edit anything including the shifts. If this is undesirable we should re-open this issue and discuss adding that as a separate capability and a default setting for it, but I'm not sure it's a big deal at this point, maybe we can add a permissions settings tab to th

[2019-10-07 01:01] majick777 commented on #58
Yes this is something that would be handled in JetPacks's Related Post (or other Related Post) settings, allowing the user to select which custom post types show the Related Posts, so we shouldn't be attempting to change the behavious of other plugins.

The placement is being handled in #72 now so I will close this one.

[2019-10-07 01:01] #58 closed

[2019-10-07 01:08] majick777 commented on #52
Agreed. Since this is "missing content" in a sense, it would be something for the user to add to the Show so there is some kind of information displayed. Perhaps we could add a column in the admin view for management purposes just to indicate if there is a show description content or not? That would be an easy enough this to do.

[2019-10-07 01:16] tonyzeoli commented on #58
Gracias, mi amigo!

[2019-10-07 01:24] tonyzeoli opened #73 "Add Additional Member Role: "Producer""
**Is your feature request related to a problem? Please describe.**
Radio Shows have Producers, so if a Host can edit a Show, we should add the role of Producer, as well.

**Describe the solution you'd like**
- Admin can assign a User the role of "Producer"
- Producer can Edit Show, Add Playlist, Schedule Overrides, set Encore Presentation
- Display as "Producer(s): User A, User B, User C on the Sh

[2019-10-07 01:27] tonyzeoli commented on #73
@majick777 I was considering this for Pro, but really this would help with user adoption in the free version. It's just a duplicate of the user role of host and shouldn't be too difficult to replicate.

[2019-10-07 02:11] tonyzeoli commented on #52
If the column is active in the Show list view, then adding any content in
that column would push the next entry in the list down the list. Maybe if
it were the first 50 characters with an ellipsis I would say, sure.

What I think is more important it adding some type of notification on the
Show page edit screen that the Body content is for Show Description. And,
to add content to your Show page, p

[2019-10-07 02:19] tonyzeoli opened #74 "Add Notification to Show Edit Screen that Post Body is for Show Description"
**Is your feature request related to a problem? Please describe.**
It seems that many users do not know that the Show Description and the Blog are distinctly separate and some Show Hosts are using the Description field to post hundreds of archives, when they are supposed to use the Post admin, then assign a Post to the Show and it will display under Blog Posts.

**Describe the solution you'd like*

[2019-10-07 02:27] tonyzeoli commented on #74
@majick777 I updated my description - so please check this page on Git and not rely on just the email that gets sent out.

[2019-10-08 00:28] tonyzeoli opened #75 "Add line-height to id="myplaylist-nowplaying""
**Is your feature request related to a problem? Please describe.**
Line-height for Now Playing widget does not exist.

**Describe the solution you'd like**
Add 1.6em of line-height to id="myplaylist-nowplaying" to give proper spacing to now playing song/artist/title/label entry.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2019-10-16 03:42] majick777 commented on #2
Had a go at this and got some REST endpoints working, but will need a bit more to get the data in a format for outputting. Decided I will probably leave this for 2.3.1 so it doesn't hold up 2.3.0 release.

[2019-10-16 21:58] tonyzeoli commented on #2
Very cool!

On Tue, Oct 15, 2019 at 11:43 PM majick777 <notifications@github.com> wrote:

[2019-10-21 23:06] majick777 commented on #73
I'm not sure by Producer whether it is clear as a Show Host / DJ, initially I thought you may be meaning like a Station Manager, ie program producer... which is another role that could be added (basically like administrator but without the website admin capabilities, just radio station management the caps.)

[2019-10-21 23:07] majick777 commented on #75
Added to next release (2.3.0)

[2019-10-21 23:07] #75 closed

[2019-10-21 23:54] majick777 commented on #74
Added for next release (2.3.0), slight modifications in text, can always be changed/added to later:

"The text field below is for your Show Description. It will display on the About tab of your Show page. It is not recommended to edit the page and post your past show content or archives in this area, as it will affect the Show page layout your visitors see. It may also possibly impact SEO, such th

[2019-10-21 23:54] #74 closed

[2019-10-21 23:56] majick777 commented on #46
Further recommendation coming from this, to make it easier using overrides, the user could be given the option to pick which existing Show(s) / Shift(s) to override rather than just setting an arbitrary time.

[2019-10-21 23:58] majick777 commented on #45
I'm going to punt this to the next release for now as there are other priorities for this one.

[2019-10-22 00:11] tonyzeoli commented on #73
We discussed on Skype.

Let's go with Show Producer. Station Manager might be the admin. And, they
can add a team post type and list out all their station employees in that
way. Plus the Show Producer might blog where the Station Manager might not.

We want to stay as close to Shows as possible here and not the station
itself. The plugin is for Shows and everything that happens around
individual s

[2019-10-22 00:17] majick777 opened #76 "[Docs] Review and Update Shortcodes and Attributes"
Some of the documentation (eg. readme FAQ) items regarding shortcodes may be outdated and are in need of review by matching up to the actual code to make sure they do what they say they do.

Also of note here is the addition of the the `[master-schedule list="tabs"]` shortcode option that displays the new Tabbed Schedule for the Master Schedule shortcode output.

[2019-10-22 00:25] majick777 commented on #9
Need to develop more details as to what each of the different Blocks would show, and what options they would have. These could be developed from the existing shortcodes / widgets.

Also the possibility or creating Elementor and Divi modules modules at the same time, or tied in with the same underlying model / structure for output.

It would be nice to have an underlying structure that all output m

[2019-10-22 00:51] majick777 commented on #9
Further thought, the underlying data model could be used with / via the REST API also... the work on the REST API endpoints is currently the priority for the next release. Supporting other page builders on the other hand is not really a priority yet so this issue may be one for further down the track. However it is good in that it brings up the need for a more reliable and integrated underlying da

[2019-10-22 00:53] tonyzeoli commented on #46
I have to look at this further and report back.

[image: photo]
Tony Zeoli
Founder, Digital Strategy Works LLC
O  (828) 412-0990  <(828) 412-0990> M  (917) 705-4700  <(917)
705-4700> E  az@digitalstrategyworks.com
<az@digitalstrategyworks.com>
W  https://digitalstrategyworks.com
Whatsapp 9177054700
Skype tonyzeoli
<http://www.facebook.com/digitalstrategyworks>
<http://www.twitter.com/dswks>
<http:

[2019-10-22 00:53] majick777 commented on #1
Related to #36 ... until we have that sorted properly then the archive view will have to wait.

[2019-10-22 00:53] tonyzeoli commented on #45
Can we give this to Mark?

On Mon, Oct 21, 2019 at 7:58 PM majick777 <notifications@github.com> wrote:

[2019-10-22 00:55] tonyzeoli commented on #9
Okay, let's keep this open and discuss in a few weeks after you finish your
priority projects post 2.3.0.

On Mon, Oct 21, 2019 at 8:51 PM majick777 <notifications@github.com> wrote:

[2019-10-22 01:00] majick777 commented on #62
Along with a selectable dropdown of which page to show the Master Schedule on automatically, I've adding this as the only other setting to the new plugin admin page settings for next release (2.3.0) so the user can select which view they want to automatically display on that page (Grid=Table/List/Divs/Tabbed)

[2019-10-22 01:00] #62 closed

[2019-10-22 01:19] majick777 commented on #9
Unassigned for now as other issues are better to work on.

[2019-10-23 00:17] majick777 commented on #73
Instead of "Station Manager" (which is probably more an admin role) I am thinking a better role label for having edit capabilities without admin ones is actually "Show Editor" since it is more on par with the existing Editor role.

[2019-10-23 02:10] tonyzeoli commented on #73
I hear what you're saying, but I'm firm in my opinion it should be Show
Producer. The Show Producer *must be "credited"* as the
participating Producer of the show and* their name(s) must be printed on
the page.* If they post blog posts, they will have post archive pages. A
Producer is a KEY role in terms of who is helping to advance show content
and ideas. A Show Producer is a critical role for mo

[2019-10-23 02:15] tonyzeoli commented on #73
Show Name: Asheville House Music Society
Host(s) / DJ(s): Tony Z, DJ PDub
Show Producer(s): John Test, Suzy Sample, Billy Bubble

P.S. There also may be multiple producers for a given show.

[image: photo]
Tony Zeoli
Founder, Digital Strategy Works LLC
O  (828) 412-0990  <(828) 412-0990> M  (917) 705-4700  <(917)
705-4700> E  az@digitalstrategyworks.com
<az@digitalstrategyworks.com>
W  https://dig

[2019-10-23 02:29] tonyzeoli commented on #73
Hmm, I guess I'm wrong about the "editor" role. I must be getting old. But at the end of the day editor and producer can be combined.

See: https://www.npr.org/templates/story/story.php?storyId=351195644

This is the Team page for an NPR show.

So, instead of having a CPT for anyone contributing to the Show, they have a "Team" page that is just an open page where they list team members.

But, I re

[2019-10-23 19:18] tonyzeoli commented on #72
Tony, I rethought the Show page layout after meeting with the WPVM team today and doing some research. I think hiding the blog posts behind the last tab is not a great idea, because they are going to front the show archives or any content that the Show wants to feature. I was looking at some major radio station websites last night and came to the realization that I probably should move the show de

[2019-10-23 21:07] tonyzeoli commented on #72
@majick777 Here's the mobile view wireframe, so you can see the stacking order of the content. I think this works out okay.

[radio-station layout mobile v1pdf.pdf](https://github.com/netmix/radio-station/files/3764495/radio-station.layout.mobile.v1pdf.pdf)

[2019-10-23 22:09] majick777 commented on #73
Yes I already agree on the Producer role, sorry I wasn't being clear there. That is, having the show Producer role separate and on par with DJ / Host, and assigning them to a Show the same way and listing them on the Show page as you said.

What I was trying to get to with "Show Editor" was the other role possibility, that has editor capabilities but is not a (website) administrator. So more of a

[2019-10-23 23:15] tonyzeoli commented on #72
@majick777 Please review v 2.1 of the wireframe. In it, I have changed the layout of "Show Times" which is supposed to be named, "Schedule." (I got that wrong and just corrected it).

I have:

- added a designation for Eastern Standard Time with an accompanying time zone icon
- added a "repeat" icon for shows that "encore presentations" since the words won't fit with the new layout. I do not expec

[2019-10-24 02:43] tonyzeoli commented on #73
Ah, okay. Yeah, the ADMIN to WordPress in a small station is either the
station owner or station manager - they are going to have admin access and
I think that's sufficient enough for one of them to act as ADMIN. Maybe
it's just "Manager" and that person can manage all shows added to the
system.

On Wed, Oct 23, 2019 at 6:09 PM majick777 <notifications@github.com> wrote:

[2019-10-24 04:52] majick777 commented on #73
Agreed but in a slightly larger station as you say there may be a team of people not just the owner / manager and this is where I see the "Show Editor" role being useful. Just like an Editor on a large blog or news site would not have admin rights so they can't break the site, so too a Show Editor would be able to be assigned by the owner/manager to a user so they can edit and manage the shows wit

[2019-10-24 06:47] tonyzeoli commented on #73
Right, so can’t we just do what we do with Host / DJ and make it Show
Editor / Producer? Just combine them and have it as one role.

Example:

Host(s) / DJ(s): Tony Z, Tony Hayes

Show Editor(s) / Producer(s): Joe Joe, Bill Bill, John John

I don’t think we need to add a third user role if we combine the two terms
into one role, is that okay with you?

There’s always going to be a master administr

[2019-10-24 10:37] majick777 commented on #73
This is what I'm getting at and trying to solve actually, because edit rights for the Radio Station post types *aren't* explicitly mapped to the existing WordPress Editor role - so they can't even edit any of those right now. What I was thinking above was that we add another role that can edit only Radio Station post types and call it "Show Editor" (nothing really to do with the DJ / Producer role

[2019-10-24 10:40] majick777 opened #77 "Role Assignment Interface"
Add an interface tool to the Pro version admin plugin settings page that allows granting of DJ or Producer roles to any existing users.

[2019-10-25 01:26] tonyzeoli commented on #76
@trystant Can you take a look at this when you get the chance?

[2019-10-25 01:28] tonyzeoli commented on #73
Okay, let's go with your suggestions. Good stuff.

[2019-10-25 02:35] majick777 opened #78 "Social Media Icons for Shows"
Show Pages could have inputs for Social Media Icons relating to the Show for display on the Show Page.

The suggested icons are Facebook, Twitter, Soundcloud, Mixcloud, Instagram and Spotify.

[2019-10-25 22:30] tonyzeoli opened #79 "Color Coding Shows on Master Schedule"
**Is your feature request related to a problem? Please describe.**
Not a problem, but a feature request from a user.

When creating a new show, display a meta box with a color selector tool to assign a color to the Show on the master calendar.

See: https://kmy.pl/radio/ramowka/#not-set:all

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

When the

[2019-10-25 22:40] tonyzeoli opened #80 "Add User Box Selection Tool to Filter Shows & Genres"
**Is your feature request related to a problem? Please describe.**
Currently, the user can filter shows by genre, but that only displays red borders around shows tagged with the genre. The user can only select one genre and the border will highlight just that genre. But, if the user want so filter by two genres, they are unable to do so. Or, if they want to filter by show, they are currently unabl

[2019-10-27 22:47] tonyzeoli commented on #61
@trystant Just checking in on the status of the readme.md progress. Let us know. Thanks, Mark.

[2019-10-27 22:49] tonyzeoli commented on #46
@majick777 Can you speak to whether you've looked into this. I believe WPVMFM.org is trying to use Show Overrides and it's not working correctly. I'll test this myself tonight, but just wanted to see if you came up with anything here.

[2019-10-27 22:51] tonyzeoli commented on #45
@trystant Can you take this one on? We need to check for show shift conflicts:

1. When the admin / DJ is adding a show
2. When the admin / DJ is creating a schedule override

[2019-10-28 00:57] majick777 commented on #46
@tonyzeoli Yes looking into it now.

[2019-10-28 03:08] majick777 commented on #46
Okay that was not an Override problem but still need to resolve this one ASAP.

[2019-11-02 06:00] majick777 commented on #45
@trysant If you haven't had time to look at this one yet, I'd suggest I take it back on. It is a rather complex one as I found out rewriting the Show Schedule calculation (which needs to check for shift conflicts.) So probably best not to double up efforts here, as I can now grab the Schedule calculation (before Overrides are applied) and check it against the submitted shifts to see if there are c

[2019-11-02 06:03] majick777 commented on #45
@tonyzeoli DJs can't add overrides. The point of an Override is that it **does** conflict. But we can display what show is affected (which is already done on the admin Override list.)

[2019-11-02 06:05] majick777 commented on #45
Also, as for DJs/Hosts changing Show shift times, as per our discussion, currently by default they can because they can edit a Show they are assigned to. Do we want to add a plugin admin option to allow/dissallow that..?

[2019-11-02 06:13] majick777 commented on #80
So we have started this with having the multiple Genre selection working.
The Show selections can come later so I'll leave this open.

[2019-11-02 06:25] majick777 commented on #46
So this led me to basically rewrite the entire Schedule calculation data model to be more robust, so that it can be used throughout the plugin not just in the Master Schedule view. Which is good because it needed to be done for other reasons, this was just a good starting point.

The new Schedule calculation, gets all show shifts, orders them by dates, checks for shift conflicts (which are then di

[2019-11-02 13:30] trystant commented on #45
I'm okay with you taking the lead; I'm still figuring out things about the
product.

I do want to learn about the solution to a complex problem, however.

I'll follow up to this on Slack

On Sat, Nov 2, 2019 at 2:06 AM majick777 <notifications@github.com> wrote:

--

Mark Nyonmark@grandkru.com

blog.grandkru.com

github.com/trystant

[2019-11-04 03:49] majick777 commented on #22
Related Bug Report: https://wordpress.org/support/topic/schedule-layout-broken-after-update/

As a result of this bug report, I have adjusted the CSS (for 2.3.0) to shift the hour label to the top of the cell by removing the cell padding top, instead of having a negative margin on the label div.

Otherwise, table cells/shifts seem to be showing fine on all the test sites, so I'll close this issue.

[2019-11-04 03:49] #22 closed

[2019-11-04 04:13] majick777 opened #81 "Permission for DJs / Hosts / Producers to Change Show Shifts"
As mentioned in #66 and #45, the DJ/Host role (and the new Producer role) currently have the ability to change Show Shift times, because they have the capability for that role to edit a Show they are assigned to. This is the default behaviour.

Some stations may want to restrict this ability. Proposed solution is to add a plugin admin option to disallow those with these roles to change show shift

[2019-11-04 04:26] majick777 commented on #73
Added a new issue for Role Assignment Interface feature: #77

I decided to add plugin admin options to make these extra permission settings optional:
1. Grant Show / Playlist / Override *publish* and *edit* rights to existing WordPress Editors.
2. Grant Show / Playlist *publish* (and *authored-edit*) rights to existing WordPress Authors.
3. Enable new Show Editor role, with *publish* and *edit* ri

[2019-11-04 16:31] tonyzeoli commented on #22
Gracias, senor!

[2019-11-04 16:33] tonyzeoli commented on #61
@trystant Just following up here on the Git Issue. Let us know where you're at here. We're going to need to add screenshots too. @majick777 can take them as he's working on 2.3.0. We'll probably need to add FAQs for 2.3.0 as well.

[2019-11-04 16:37] tonyzeoli opened #82 "[Docs] Update FAQs to ready for 2.3.0 release"
**Is your feature request related to a problem? Please describe.**

This ticket will update the FAQs for 2.3.0 to include:

- any change to shortcode functionality
- new admin panel
- new conflict checker
- new features
- screenshots

Will add/edit in comments after submitting this issue for tracking purposes.

**Describe the solution you'd like**

Updates to read.md

**Describe alternatives you'v

[2019-11-15 08:23] majick777 commented on #45
@trystant The complexity started with issue #46 where the Overrides were not being shown in the Master Schedule. Combined with issue #2 for adding data routes for the REST API and as mentioned in #9 also (where I mentioned it showed up the need for a new underlying data model.)

Then we had a user site with a lot of shift conflicts... this led to the idea of checking the existing show shift's sche

[2019-11-15 08:34] majick777 commented on #73
On further thought, I'm not sure it makes sense to make it a plugin option to enable the Show Editor role, for reason, that role might be assigned to a user, then turned off by accident and then the user loses access because the role has disappeared. May as well just add it in and leave it be as done for whoever wants to use it.

The Producer role has been added for 2.3.0 and working fine so I'll

[2019-11-15 08:34] #73 closed

[2019-11-15 08:38] majick777 commented on #80
The multiple Genre highlighting selection code is working fine now and will be included in 2.3.0.

[2019-11-15 08:40] majick777 commented on #80
Related #10

[2019-11-15 09:04] majick777 commented on #55
Seems like the styles were simply out, I changed float:left, display: block to simply display:inline-block for that tabs and they seem to collapse gracefully. They don't have actually margins set on them so this behaviour was probably due to that too. I've updated this for 2.3.0, we can double check in the testing on the demo site and reopen if needed.

[2019-11-15 09:04] #55 closed

[2019-11-15 09:08] majick777 opened #84 "[Docs] Document REST Data Endpoints"
Add documentation for new REST API routes and Feed Data endpoints.

[2019-11-15 09:11] majick777 commented on #2
All seem to be working well, all routes output in JSON data format for consumption of API by HTTP requests and AJAX. Added a plugin option to disable them too. Decided to included in 2.3.0 after all.

Opened related documentation issue: #84 for specifying the endpoints that are now available.

[2019-11-15 09:11] #2 closed

[2019-11-15 09:21] majick777 commented on #6
Countdown timer idea issue is #34.

To set the groundwork for this issue I have added a clock on the Master Schedule table view (new and old) in 2.3.0 that displays both the current server time and current user time. This was a little tricky but will make this issue a lot easier to solve in other places now that it is in place.

I've also added a plugin option to allow the user to set which timezo

[2019-11-15 09:22] majick777 commented on #77
Prototype for this feature has been written so will be available (after some further modifications and testing) for first Pro release.

[2019-11-15 09:24] majick777 commented on #78
DJs and Producers Profiles could have the same Social Media icon options available.

[2019-11-15 09:55] majick777 opened #85 "[Docs] Documentation Section Display Strategy"
I have been thinking about an overall better strategy to handle the documentation. If we create a /docs/ folder in the repository and have .md files there for each major section of the plugin, they will be viewable in GitHub and we can link to the documentation index from the main readme.md...

Then we can keep those as the updated docs and (automatically) pull them from the repo for display on th

[2019-11-15 10:36] majick777 commented on #82
Related #85

Here's a rough list of the major features added in 2.3.0:
* Revamped Templates
* Improved Master Schedule
* Improved User Roles
* New Shortcodes
* Admin Options
* Show Producer Role
* Improved Show Images
* REST API Routes
* Shift Conflict Checking

And here is a more complete list fof readme.txt updates (so far!):
* Include: Plugin Loader (1.0.9) with plugin options and settings
* In

[2019-11-15 10:47] majick777 opened #86 "Update Legacy Shortcodes and Widgets"
So far I have done my best to keep changes to legacy shortcodes and widgets to a minimal in 2.3.0 for backwards compatibility purposes. However, it would be nice to update these using the new data model support functions that are more comprehensively written.

There is also a code duplication between the current shortcodes and widget-shortcodes. This is not best practice as does not follow the DRY

[2019-11-15 14:58] majick777 opened #87 "Show Episodes Post Type"
We've touched a few times upon adding an Episodes archive for Shows. What fields would it need..?

[2019-11-15 15:01] majick777 opened #88 "Host and Producer Profiles"
I have managed to get it so DJs/Hosts and Producers can publish a single post type of host or producer and fill in the content... This profile would be linked to their User ID.

What other fields would this need..?

[2019-11-15 15:10] majick777 opened #89 "Single Show Feed RSS"
A Single Show feed (RSS format) that would dynamically update with the next upcoming Show shift time (as the pubDate field), allowing a user to "subscribe" to a Show via an RSS link, and thus receive alerts via a Feed Reader of the upcoming Show shift.

Some experimentation may be needed to see how often Feed Readers actually pull data and whether and when a future dated publication date will be a

[2019-11-15 15:13] majick777 opened #90 "Add Language Taxonomy"
For Radio Station's that have multilingual programming, this could be an optional feature that would allow for easier discovery of Shows in a particular language.

[2019-11-15 15:43] majick777 commented on #72
Some random thoughts and notes...
- Have the display and pagination working now for show posts and show playlists lists.
- I'm not sure how the stacked day / start / end time is going to work with Shows that have multiple shifts on the same day... though I like the idea the format may just be too restrictive.
- Social Media icons can wait (#78)
- Desktop vs. Mobile View, we don't want to be heaps

[2019-11-15 18:56] tonyzeoli commented on #72
Thanks for this. I think for the Show times then, we should stack the days vertical on the left. We can get rid of Day, Start Time, End Time in favor of the below. I should have thought about this, so that's a great catch and let's pivot on it and do as follows:

Show Times:
Sun: 6-8 am, 10-11 am, 12-2 pm
Mon: 6-8 am, 10-11 am*, 12-2 pm
Tue: 6-8 am, 10-11 am, 12-2 pm
Wed: 6-8 am, 10-11 am, 12-2 pm

[2019-11-16 01:05] tonyzeoli commented on #88
I think that's it. Just the ability to publish a POST in the standard
WordPress "Posts" type and link it to their SHOW page from a MetaBox, just
like the current DJ can do.

[image: photo]
Tony Zeoli
Founder, Digital Strategy Works LLC
O  (828) 412-0990  <(828) 412-0990> M  (917) 705-4700  <(917)
705-4700> E  az@digitalstrategyworks.com
<az@digitalstrategyworks.com>
W  https://digitalstrategyworks

[2019-11-16 01:34] majick777 commented on #72
For the draft coding I had followed the layout of v1 wireframe, which was (very) basically:
Show Image - Show Info (links and player) - Show Schedule (one shift per line)
(Tabs) About - Posts - Playlists
Tab Content Display

If we want to avoid three columns, but still meet the desired requirements of having both Show Info and About/Content up the top (because really they are equally important thi

[2019-11-16 02:32] tonyzeoli commented on #72
![Radio Station Wireframes V2 2](https://user-images.githubusercontent.com/4053819/68986649-6a497a80-07ef-11ea-96fe-0dafa1b702c0.jpg)
What about this layout?

[2019-11-16 02:34] tonyzeoli commented on #72
disregaerd the social icons out to the right...I'm just saving them in the doc for later

[2019-11-16 02:41] majick777 commented on #72
I was gonna add this as a separate issue but is really only relevent here. Firstly I managed to get the Show Header and Show Avatar uploads working as does the standard Featured Image one. Believe it or not, through a code sample found on the `wp.media` WordPress Codex page (well there's a first time for everything!) So that's good now.

As regards Show Avatars and Featured Images problem. The sol

[2019-11-17 01:32] tonyzeoli commented on #72
Okay, this is a level of complexity that seems, if I'm understanding correctly, provides a solution for moving a featured image that pre-exists to the Avatar feature, so that the Avatar does not fill the Featured Image section and look bad. Is that correct? I'd have to see it to understand it, so let me know if there's somewhere I can play with it - on the demo site or elsewhere. If not, no worrie

[2019-11-17 01:35] tonyzeoli commented on #72
@majick777 Here's another layout I attempted tonight.

I thought that instead of printing out the schedule in text, we could use a grid to show the show times assigned to the show. That way, we don't have to worry so much about extending out to the right a long list of possible show times. The grid fills in with the assigned show times in a color in the grid. And, it doesn't print the entire hours

[2019-11-17 01:48] tonyzeoli commented on #90
@majick777 how do the translations play into this?

[2019-11-17 01:53] tonyzeoli commented on #88
@majick777 Sorry, I'm not clear on this. The goal is to allow the:

Host/DJ
Editor
Producer

to publish a blog post with the standard WordPress Posts, select their show from the meta box, adn have the post appear in the main blog feed and as an entry under Posts on their show page.

Are you saying you have completed the intended functionality?

[2019-11-17 01:58] tonyzeoli commented on #87
You would need to attach to an episode:

DJs/Hosts
Editors / Producers

You would need to have the following:

- Episode Title
- Episode Category
- Episode Tags
- Episode Air Date, Time(s)
- Episode Number (auto-assigned or manually entered????)
- Episode Playlist
- Is an "encore" episode
- About this episode
- Episode Audio Link
- Episode Featured Image

[2019-11-17 02:04] tonyzeoli commented on #86
@jmarx and @trystant Would you both be able to jump in here and work on this issue with shortcodes and widgets. @trystant would take the lead on making the changes and would consult with @jmarx for the best way to do that. You're both in New York, so maybe you could both meet one day to discuss? Mark would take on the development and Jeff would support with guidance and QA.

[2019-11-17 02:07] tonyzeoli commented on #85
@majick777 This seems optimal. @trystant was working on an update to move to .md from .txt. Let's let him first complete the work on the the Pull Request he's issued. Then we can move to making this wholesale change.

[2019-11-17 02:11] tonyzeoli commented on #82
@majick777 Very cool. We'll add this to the new Read.md pre-release when it's ready. Good work. What have you done? Basically some very cool stuff that is going to help a lot of people and moves Radio Station into the future!

[2019-11-17 02:20] majick777 commented on #90
I don't think they would need to, language taxonomy terms would simply be added as needed for a Show. They would work almost exactly the same as Genres do now really, just another indication for categorization.

For implementation, allow the user to pick a default language option for the Station that Shows would all be under until changed.

[2019-11-17 02:36] tonyzeoli commented on #81
If we add the ability for the admin to micro manage users at this level, it should be in PRO or they can simply add a Member Role manager plugin themselves.

[2019-11-17 02:39] majick777 commented on #88
I have the permission side of it working (in the Pro alpha code.) So that a user with a Host or Producer role can publish and edit a single profile for themselves.

The post types are registered so that the permalinks are /host/host-title/ and /producer/producer-title/ etc.

Publish / edit capapilities for these post types is given to the appropriate roles (even in the free version so we don't hav

[2019-11-17 02:45] majick777 commented on #81
I think it's fine to add this in as a Pro option, would be easy enough to do and a suitable enhancement for Pro users.

[2019-11-17 20:49] tonyzeoli commented on #90
Okay, is this a PRO feature? Should possibly be PRO, no?

On Sat, Nov 16, 2019 at 9:20 PM majick777 <notifications@github.com> wrote:

[2019-11-17 20:52] tonyzeoli commented on #81
That fine. I'll follow your lead on that call.

On Sat, Nov 16, 2019 at 9:45 PM majick777 <notifications@github.com> wrote:

[2019-11-17 20:54] tonyzeoli commented on #87
Oh, one more thing here.

Is this episode Part 1 of a 3 part series or that sort of thing. And they
can select the other episodes that are related and that way that episode
can have "related episodes". But that could be for PRO, for sure.

On Fri, Nov 15, 2019 at 9:58 AM majick777 <notifications@github.com> wrote:

[2019-11-18 00:22] majick777 opened #91 "Handle existing Show Avatar / Featured Images"
Okay let's make this a separate issue after all (related to #72)

Firstly I managed to get the Show Header and Show Avatar uploads working as does the standard Featured Image one. Believe it or not, through a code sample found on the wp.media WordPress Codex page (well there's a first time for everything!) So that's good now.

As regards Show Avatars and Featured Images problem. The solution I cam

[2019-11-18 00:23] majick777 commented on #91
Tony Zeoli:

[2019-11-18 01:27] majick777 commented on #91
Yes this is so the Show Avatar (Logo) can be set differently to the Featured Image. Mainly because (as we found in testing) the Feature Image _might_ be automatically displayed by the theme's post/page template. Since we are moving to a content-filtered layout, we cannot control this behaviour of the surrounding template. So we are transferring the existing Featured Image (if there is one) to a se

[2019-11-18 01:28] majick777 commented on #72
Decided to split that discussion out after all to save confusion.

[2019-11-18 01:37] majick777 commented on #90
No because we want this information to be available via REST for pulling into directory listings on NetMix, so that language-specific programs are discoverable without the station with the listing needing to have the Pro version.

[2019-11-18 01:50] majick777 commented on #87
Good one, yes overall looks like a great start list. I'd say this entire Post Type and it's implementation would be for Pro. Seems like something people will want, and already have the Free option to assign related-to-show Posts.

As mentioned probably will be worth looking at BluBrry and other podcast plugins when putting this together, as it might provide some extra ideas on what could be done w

[2019-11-18 05:11] majick777 commented on #55
Actually turns out the margin was being overridden by the theme here, which pointed to the fact that the tabbed schedule styles did not have enough specificity in them to create a standalone layout... Having added an extra prefix to the style rules this should prevent similar issues with the tabbed view.

[2019-11-19 00:32] tonyzeoli commented on #90
You're a genius. :)

Good stuff. Go with that.

On Sun, Nov 17, 2019 at 8:37 PM majick777 <notifications@github.com> wrote:

[2019-11-19 00:46] tonyzeoli commented on #87
In terms of adding an audio file as a Podcast for an Episode, OnAir2 relies on Blubrry. There is a Filter meta box which, if you add a show title to, like AVLHMS, will then assign that Podcast post to the post type of podcasts to the AVLHMS show page.

<img width="295" alt="Screen Shot 2019-11-18 at 7 35 48 PM" src="https://user-images.githubusercontent.com/4053819/69106014-14691280-0a3b-11ea-9754

[2019-11-19 00:46] tonyzeoli commented on #87
Here's the PowerPress meta box. Forgot this one, sorry.
<img width="949" alt="Screen Shot 2019-11-18 at 7 36 21 PM" src="https://user-images.githubusercontent.com/4053819/69106367-1e3f4580-0a3c-11ea-885f-17a851a58207.png">

[2019-11-19 02:20] tonyzeoli commented on #55
Okay, good stuff. Sounds great. Thanks for staying with that one.

[2019-11-21 10:28] majick777 commented on #91
Added and tested auto-save of Avatar / Header image on selection feature (normally you'd have to click Update to save image selection as in the Featured Image.)

[2019-11-21 10:28] #91 closed

[2019-11-21 10:51] majick777 commented on #46
Updated the List and Tabs Schedule Views to use the new Schedule calculations.
The Div view remains unchanged so far as it uses a "rollover" calculation like the Legacy table view. Might leave that one for another time as don't want to break it but don't want to spend too much time on it either.

[2019-11-21 14:28] majick777 commented on #90
Went out on a limb and added this one in for 2.3.0. Time to reign it in now, lol.

[2019-11-21 14:28] #90 closed

[2019-11-21 14:34] tonyzeoli commented on #46
okay, sounds good....sounds like that was a big deal.

[2019-11-21 14:36] tonyzeoli commented on #86
@jmarx @trystant just following up on my last message about Mark working on the shortcodes with Jeff as an advisor. Please let me know if you can take this one on. We need to have this looked at for 2.3.0 and that's coming very soon. So, if you can both get together and take a look, that would be helpful. Contact @majick777 if you have any questions and to get direction.

[2019-11-21 15:50] majick777 commented on #46
The ones I did were pretty easy, it's just the logic in the Div and Legacy Table views is based on the old data structure with a rollover calculation for div/row spans to the next hour. While neither honour the schedule overrides, the table one still works fine, and now have had a quick look at the Div one and it is not looking pretty, so maybe will get back to updating it anyway as anything would

[2019-11-22 01:37] majick777 commented on #86
As the updates for this release are quite major and this issue would need to make use the new code, I am putting what I have so far as an interim development versions for testing / working / bugfixing on my fork at: https://github.com/majick777/radio-station/ (tagged as release "2.2.9")
It's time to do that anyway, but we wouldn't want anyone needing to double-handle given there is a lot that has

[2019-11-22 02:06] majick777 commented on #72
So this is what a Draft 2 example of the layout according to what I was describing looks like...
![image](https://user-images.githubusercontent.com/6732852/69391351-acf6df80-0d26-11ea-8312-f62609d35e40.png)

- This is mostly an attempt to get the Show About content to the most topmost part of the page possible, but with having a fairly equal importance to the Show info.
- Overall this layout does

[2019-11-22 03:46] tonyzeoli commented on #72
Log into Skype

[image: photo]
Tony Zeoli
Founder, Digital Strategy Works LLC
O  (828) 412-0990  <(828) 412-0990> M  (917) 705-4700  <(917)
705-4700> E  az@digitalstrategyworks.com
<az@digitalstrategyworks.com>
W  https://digitalstrategyworks.com
Whatsapp 9177054700
Skype tonyzeoli
<http://www.facebook.com/digitalstrategyworks>
<http://www.twitter.com/dswks>
<http://www.linkedin.com/company/digita

[2019-11-22 03:59] tonyzeoli commented on #72
On Thu, Nov 21, 2019 at 9:06 PM majick777 <notifications@github.com> wrote:

checked, the Show Description is printed soley by itself without tabbed
browsing.

The issue is hiding Blog Posts behind a tab. Most radio station websites in
my research have Posts floating under the description. If they aren't
visible, no one will read them. No one is going to click on the tab for
blog posts, but they w

[2019-11-22 10:48] majick777 commented on #72
Sorry was out of time had to get on the road.

Ok yeah hmmm definitely didn't put the same kind of importance on Show Posts that you're talking about.

We havr the same concern though, that all the content should be easily accessible.

If we don't want the posts hidden behind a tab or lost at the end of a page, there's Still a few things we could do about this...

[2019-11-22 11:14] majick777 commented on #72
ack whoops phone fail. so yeah one option would be to put a "Latest Posts" or "Show News" (3?) mini-section above the show description and/or tabs. I think that could work rather well like an announcements/new ticker of sorts.

Another would be to give the user more layout options as mentioned, in this case of placing the tabs above or below show description... but also another option of having th

[2019-11-22 14:30] tonyzeoli commented on #72
Ok, thanks for considering the importance. We should definitely have verbal
discussion to finalize this decision point, so that we're both on the same
page and can agree on the best solution.

Let me know if you can chat your evening time on Monday.

On Fri, Nov 22, 2019 at 6:14 AM majick777 <notifications@github.com> wrote:

[2019-11-24 03:33] tonyzeoli commented on #86
Okay, @majick777 - thank you for the detailed message here. I'll get in touch with @trystant and @jmarx Sunday EST to ask them if they can have a look in terms of a code review.

[2019-11-26 04:05] tonyzeoli opened #92 "2.3.0 Code Review"
**Is your developer task related to a problem or a requirement? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

N/A - this request is for a code review for 2.3.0

**Describe the solution you'd like**
Tyler B performs code review per instruction from @majick777

**Describe alternatives you've considered**
N/A

**Additional context**
W

[2019-11-26 04:10] tonyzeoli commented on #92
@majick777 reach out to Tyler B at tylerb.media@gmail.com to submit your list for code review to him.

[2019-12-01 23:50] trystant commented on #61
So there should be a PR for this at this point. Take a look & let me know what you think. Thanks.

[2019-12-01 23:52] trystant commented on #34
I'm looking through the codebase & getting familiar enough to contribute. @majick777, when would be a good time to sync up on this over the next week or so?

[2019-12-02 00:16] tonyzeoli commented on #61
Great, will take a look my brother!

On Sun, Dec 1, 2019 at 6:50 PM Mark Nyon <notifications@github.com> wrote:

[2019-12-03 01:55] tonyzeoli commented on #92
@majick777 Have you reached out to Tyler? Please update me on the progress of the code review.

[2019-12-03 03:37] majick777 commented on #92
@tonyzeoli yes I did, he said he'd have some time to look at it last week, I will check in how he is going with it maybe something else came up and didn't get to finish it yet.

[2019-12-04 03:06] majick777 commented on #92
@tonyzeoli So I have some issues back from Tyler (mostly relating to sanitization) which I am fixing up... He had less time than thought last week due to holiday, but will have a look at it again once I fix these up.

[2019-12-04 16:22] tonyzeoli commented on #92
Awesome that he caught those. Glad to have a good eye helping out on this.
Working to get some beta testers too.

On Tue, Dec 3, 2019 at 10:06 PM majick777 <notifications@github.com> wrote:

[2019-12-08 01:38] tonyzeoli opened #94 "Fade Text w/ Read More Effect on About Us"
**Is your feature request related to a problem? Please describe.**

@majick777 For About Us, we know that users seem to fill the Description field with far too much content. We can't know how many users do this, but we can provide a solution for this issue.

**Describe the solution you'd like**
As discussed, we can use a CSS trick to fade the text with a read more link.

See this solution here: ht

[2019-12-08 02:59] tonyzeoli commented on #72
@majick777 Here's a new wireframe. I did find this Sound Manager HTML5 player I thought might be super cool to add. Maybe a PRO feature? That the user can switch between a standard player and this player? They also have an experimental cassette and turntable player on the website here:

http://www.schillmania.com/projects/soundmanager2/

We could add those in PRO version, which would be a cool fea

[2019-12-10 15:30] tonyzeoli opened #95 "Add Patreon Support"
**Is your feature request related to a problem? Please describe.**
Add Patreon support.

**Describe the solution you'd like**
- Add field in Settings for Patreon ID
- If value is entered into field, display Patreon button linking to Patreon user page on Patreon.com
- Add button under Player in left column

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2019-12-22 03:59] tonyzeoli opened #96 "[Master Schedule] Display Radio Time and Your Time on one line"
**Is your developer task related to a problem or a requirement? Please describe.**

The Display time currently displays to the right of Genres and Genres then breaks the line if too many genres.

**Describe the solution you'd like**
We should keep Genres at the top of the grid, but we can put the Radio Time and Your Time at the bottom of the grid, on one line. I don't think it's necessary to show

[2019-12-22 16:26] tonyzeoli opened #97 "Fix text for Show Description explanation"
**Is your developer task related to a problem or a requirement? Please describe.**
The show description explanation line breaks make it read a bit weird.

**Describe the solution you'd like**
Remove line breaks and make one consistent paragraph

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

N/A
<img width="9

[2019-12-22 16:46] tonyzeoli opened #98 "Show Times reverting back to original selection on save action"
**Is your developer task related to a problem or a requirement? Please describe.**

When I went to change the Show Schedule for Show 3 to eliminate conflicts, I couldn't Save the changes. Not sure if this is because there are still conflicts.

**Describe the solution you'd like**

When I changed the show times to set them from 5 am to 7 am for Show 3, each time I saved, the start time reverted to

[2019-12-27 03:28] tonyzeoli opened #99 "[Show List] Edit Show Schedule Times differ from Show Times displayed in List View"
**Is your developer task related to a problem or a requirement? Please describe.**
I found the Show Times in the Show Schedule on the Show page differ from the Show Times displayed in the Shows > List View.

**Describe the solution you'd like**
Please fix.

**Describe alternatives you've considered**
N/A

**Additional context**
See screenshots.

<img width="932" alt="Screen Shot 2019-12-26 at 10 2

[2019-12-27 03:31] tonyzeoli opened #100 "Add Shift Button Not Clickable"
**Describe the bug**
The Add Shift button is not clickable to add a new shift in the Show Scheduler

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any Show Edit view.
2. Click Add Shift
3. Nothing happens

**Expected behavior**
Should be able to add shift.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2019-12-27 21:17] tonyzeoli opened #101 "Add "View" to Show Post in admin bar"
**Is your feature request related to a problem? Please describe.**
Usually, when you are editing a post type of POST, there is a View Post in the admin menu bar. This is missing for the Post Type of Show.

**Describe the solution you'd like**
We need the user to be able to View Post on the front end from this link that is usually available.

It looks like there's supposed to be a "view_item" in th

[2019-12-27 21:32] tonyzeoli opened #102 "Remove Shift button not clickable"
**Describe the bug**
click on remove shift and nothing happens

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a show post, then a Shift that's been generated
2. Click on "Remove Shift"
3. Nothing happens

**Expected behavior**
Remove Shift should remove the shift

**Screenshots**
N/A

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, s

[2019-12-27 23:46] majick777 commented on #100
Temporary glitch to switching to the use of `wp_add_inline_scripts` for admin... documentation insists that after WP 5, enqueueing a matching script handle is not necessary for the inline styles to be printed - and yet this is exactly what is not happening here. :-? So instead, just enqueueing a file for now with matching script handle anyway.

[2019-12-27 23:46] #100 closed

[2019-12-27 23:47] majick777 commented on #102
Duplicate cause as #100

[2019-12-27 23:47] #102 closed

[2019-12-28 00:02] majick777 commented on #99
Cannot seem to reproduce. Times match up for me and save correctly, maybe it was due to #100 or another fix I already made in the meantime. Can you retest?

PS. Can we make sure to file bugs in the Bugfixes Project not the Enhancements one, and if they are for the beta/development version tag it with the development label I just added, this way we can distinguish from bugs in the already released

[2019-12-28 00:02] majick777 commented on #98
Cannot seem to reproduce. Times match up for me and save correctly, maybe it was due to #100 or another fix I already made in the meantime. Can you retest?

PS. Can we make sure to file bugs in the Bugfixes Project not the Enhancements one, and if they are for the beta/development version tag it with the development label I just added, this way we can distinguish from bugs in the already released

[2019-12-28 00:07] majick777 commented on #46
Decided to not overhaul the Legacy table and Div views for 2.3.0, so users can transition to the new Views in their own time. They have received some minor updates to match with the other changes, but still use the old schedule calculation which does not honour overrides.

[2019-12-28 00:07] #46 closed

[2019-12-28 00:09] tonyzeoli commented on #100
Ha! That's weird! Well, we'll just go that route then.

[2019-12-28 00:10] majick777 commented on #86
Update, I followed the procedure outlined above to convert the existing widgets to use shortcodes for display. Some styling still needs to be added.

[2019-12-28 00:11] tonyzeoli commented on #46
That sounds like a smart decision. We do have a lot of legacy users - probably 50%. But, it's better to push those legacy users and force them to upgrade to the new views. We'll make sure to note this in the update blog post, I'm sure.

[2019-12-28 00:12] tonyzeoli commented on #102
Sounds good! I'll check.

[2019-12-28 00:32] tonyzeoli opened #103 "Genres meta box is duplicated in the post admin sidebar"
**Is your developer task related to a problem or a requirement? Please describe.**
I noticed the Genres post meta box is duplicated in the Show post edit view sidebar.

**Describe the solution you'd like**
Please check.

**Describe alternatives you've considered**
N/A

**Additional context**
Add any other context or screenshots about the feature request here.

N/A

[2019-12-28 00:40] majick777 commented on #94
Added as default display functionality.

The scrolling view option could be added as a Pro option in future. Since this is part of #72, I will re-assign this issue for that.

[2019-12-28 00:42] majick777 commented on #95
Feature added for 2.3.0 release.

[2019-12-28 00:42] #95 closed

[2019-12-28 01:09] majick777 commented on #97
You're right the single lines do seem excessive. One paragraph seems to be the other extreme though... I have made it two paragraphs hopefully that is a good balance?

[2019-12-28 01:10] #97 closed

[2019-12-28 01:43] majick777 commented on #46
The default View has changed to the new table view since it uses the new schedule calculations and thu fixes a lot. The legacy table view is still available, but only if specified with `view="legacy"`... will probably similarly redo the Div view in future and split into legacy Div and new Div.

[2019-12-28 02:23] tonyzeoli commented on #99
Okay, sorry, I was saving Bug Fixes for current bugs, but I'll move them. I'll retest now.

[2019-12-28 02:33] tonyzeoli commented on #99
For Show 3, when I try to set all shows from 2 am to 5 am, it will not save the values. The start time reverts back to 1 am.

There is one show conflict, which I'm going to try and resolve to see if that's the issue - maybe the conflict is causing the new times to not save.

[2019-12-28 02:35] majick777 commented on #101
Easy one. Added for 2.3.0 for Shows, Playlists and Overrides. (Also supports Previews for Drafts.)

[2019-12-28 02:35] #101 closed

[2019-12-28 02:36] tonyzeoli commented on #99
Okay, I just tried to change Show 1 times to 12 am to 1 am and all reverted to 1 am to 1 am.

[2019-12-28 02:53] tonyzeoli opened #104 "On remove then save, show entries reappear"
**Describe the bug**
When click remove, then update, the schedule entries reappear and are not deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Really Long Show Name to test bug"
2. Click on remove for both show schedule entries
3. Click Update
4. When screen refreshes, both entries reappear.

**Expected behavior**
Entries should be removed.

**Screenshots**
If applicable, add

[2019-12-28 02:57] tonyzeoli commented on #99
Here's a video: https://www.loom.com/share/403eaab027084930b6c0a32a2ff44555

[2019-12-28 03:25] tonyzeoli opened #105 "Blog Post attached to Show does not display the Excerpt"
**Describe the bug**
I posted a blog post and assigned to Show 1. When check the Show 1 archive page, the Post thumbnail displays and the post title displays, but not the Post Excerpt.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Posts
2. Create a Post and add all elements, including an excerpt
3. Assign the Post to Show 1
4. Publish the Post
5. Check the front end view on the Show

[2019-12-30 11:09] majick777 commented on #103
This was actually the from the Language taxonomy not being declared correctly. Somehow a variable that was there went missing and it was taking on the settings from the Genre taxonomy. Fixed now.

[2019-12-30 11:09] #103 closed

[2019-12-30 11:11] majick777 commented on #105
Fixed, I had just commented out the excerpt output line when debugging an issue with excerpts elsewhere. Now seems to be working fine again.

[2019-12-30 11:11] #105 closed

[2019-12-30 12:29] majick777 commented on #99
So there was a bug in start_hour selection matching, causing the new value to not be selected on the next page even though it was saved. Have tested your examples and seems to be working now. Retest and close if you're satisfied.

[2019-12-30 12:30] majick777 commented on #98
Same cause as #99. There was a bug in start_hour selection matching, causing the new value to not be selected on the next page even though it was saved. Have tested your examples and seems to be working now. Retest and close if you're satisfied.

[2019-12-30 12:32] majick777 commented on #104
Good catch. There was no logic in place handling the case where all shifts were cleared, just updates and removals of shifts when there was still one remaining. Should be fine now, retest and close if satisfied.

[2019-12-30 17:07] tonyzeoli opened #106 "radiostationdemo.com body max-width set to 700 px"
**Describe the bug**
The max-width has been set to 700 px for some reason.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to radiostationdemo.com
2. View BODY in inspector
3. Note max-width is now 700 px

**Expected behavior**
Remove max-width of restore body to whatever the width was before the change.

**Screenshots**
If applicable, add screenshots to help explain your problem.

<img w

[2020-01-05 21:02] tonyzeoli opened #107 "[Edit Show Page] Clear All Show Shifts Button"
**Is your feature request related to a problem? Please describe.**
When the user is setting show times, you can remove individual show times, but not ALL show times from the Show page in the scheduler.

**Describe the solution you'd like**
I'd like to be able to Remove All Show Times added.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-01-05 21:15] tonyzeoli opened #108 "Settings - Remove all show times from show calendar"
**Is your feature request related to a problem? Please describe.**
A user should have the ability to clear all scheduled times from the show calendar and start over.

**Describe the solution you'd like**
In the Settings panel, the user should be able to click a button and clear all show times from the show calendar.

Something like, "Click to clear all show times from the Schedule. This action can

[2020-01-05 21:39] tonyzeoli opened #109 "[Show Conflict Checker] Admin notice box appears and disappears randomly when resetting show times"
**Describe the bug**
When editing Show 4 (or any show for that matter), the conflict catcher box appears and disappears at random when you save changes to any Show time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a Show Page and see if the Conflict Catcher box appears (if not, that's another bug)
2. If the Conflict Catcher box is apparent, it should show some conflicting times. Ch

[2020-01-06 03:29] trystant commented on #107
@magick777 When would be a good time to follow up on this & other issues this week?  Thanks.

[2020-01-06 04:07] tonyzeoli commented on #106
Seems to have resolved itself!

[2020-01-06 04:07] #106 closed

[2020-01-06 04:25] tonyzeoli opened #110 "Show 4 AM/PM setting issue"
**Describe the bug**
The Show time is set to 3 am but the Conflict Catcher shows a time of 3 pm and suggests its in conflict, but it's not. It also conflicts with Show 1, which is at a totally different time and shows no conflicts in the List View.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Show list view
2. View Show 4 time of 3 am to 4 am
3. View Conflict Catcher times of 3 pm t

[2020-01-06 04:36] tonyzeoli opened #111 "Show Producer meta box selections do not stay highlighted but do display"
**Describe the bug**
When selecting the Show Producers, the meta box selection values do not stay highlighted, so you're not sure who you selected. But, they do display on the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Show 4
2. View the Producers Meta Box
3. Select 2 Producers
4. Save page
5. View the meta box and the Producers are not highlighted like the DJ/host metabox t

[2020-01-06 04:42] tonyzeoli opened #112 "Language Type displays word "Language" and not the actual word for the language"
**Describe the bug**
When selecting a Language in the Show Edit view, the Language is selected but on the page itself the word is "Language" and not the actual work (e.g. Spanish) that should be there.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Show 4
2. Click on the language selector and select Spanish
3. Save the page
4. View the Show page and see the language says, "Language: L

[2020-01-06 04:45] tonyzeoli opened #113 "Language selection creates link to Language"
**Describe the bug**
When select a Language, I guess the Language setting creates a page for that Language. It causes a link in the Show Info for Language: (insert language here) for the Language and the page 404's because there is no page created for a language.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Show 4
2. View the Language set for the Show
3. The language is hyperlinked,

[2020-01-06 04:57] tonyzeoli opened #114 "[Show Page] Audio Player does not play file or stream"
**Describe the bug**
Audio player does not play audio mp3 file or live stream URL

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Show 4 Edit view
2. Add Audio file as .mp3
3. Save
4. Go to Show Page
5. Click on Play icon
6. Nothing happens

**Expected behavior**
Audio playback ensues.

You should be able to playback either and mp3 file or add a live stream URL, like this:

http://jpla

[2020-01-06 05:01] tonyzeoli opened #115 "Open Show website link in new browser tab"
**Describe the bug**
The website link on the Show page opens in the same window taking the user offsite.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Show Edit view
2. Add link to show website
3. Go to Show Page
4. Click Link
5. Website opens in same tab

**Expected behavior**
Website should open in a new browser tab.

[2020-01-06 05:02] tonyzeoli opened #116 "Player volume bar needs padding right"
**Describe the bug**
The audio player volume bar butts up against the right side of the player container. Needs a few pixels of padding.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Show 4 page
2. View Player volume bar
3. See the white volume bar extends to the side of its grey container.

**Expected behavior**
Should have a little space between the end of the bar and the right sid

[2020-01-06 13:03] tonyzeoli opened #117 "Remove Show Page Edit View meta box drop downs"
**Is your developer task related to a problem or a requirement? Please describe.**
The Show Page Edit view has three meta boxes, Host/DJ, Producer, and Language that should not have drop down arrows/functionality.

**Describe the solution you'd like**
Remove drop-down functionality.

[2020-01-06 13:10] tonyzeoli opened #118 "[Show Page] Inline images for Show Description need correct padding"
**Describe the bug**
Inline images in the Show Description have correct padding in the Edit view, but not the front-end view of the Show Page. See screenshots.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Show Edit view
2. Add image inline
3. View correct padding (whitespace) around image
4. Save
5. Go to Show Page
6. View incorrect padding around image

**Expected behavior**
When t

[2020-01-06 13:14] tonyzeoli opened #119 "[Show Edit Page] Add whitespace between internal meta boxes"
**Describe the bug**
In the Show Edit view, there is no whitespace between the Host/DJ, Producer, and Language metaboxes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Show Edit View
2. View meta boxes are stacked up against each other.

**Expected behavior**
Show meta boxes should have some white space between them.

**Screenshots**
If applicable, add screenshots to help explain you

[2020-01-06 13:22] tonyzeoli opened #120 "Show title needs top padding, is too close to Featured Image"
**Describe the bug**
The Show Title is too close to the bottom of the Featured Image. Needs some padding for the row to give it whitespace at the bottom of the Featured Image

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Show Page
2. View Title
3. See not enough whitespace between Show Title and Featured Image

**Expected behavior**
Should have correct padding between show Featured I

[2020-01-06 13:31] tonyzeoli opened #121 "[Show Page] Fix spacing above and below content"
**Describe the bug**
The spacing of title and content needs to be adjusted. See attached screenshot. This needs to tightened up a bit.

**Expected behavior**
Show Info and Show Times headings need to start at the top of the column. Show description content too far from the Show Description heading.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![screenshot-radiosta

[2020-01-06 13:39] tonyzeoli opened #122 "Link Back to Schedule Page from Show Pages"
**Is your feature request related to a problem? Please describe.**
When viewing a Show Page and Show Times, there is no link back to the station's full Show Schedule.

**Describe the solution you'd like**
If we had a selector in the Settings screen to select the preferred Show Calendar page, selecting a page adds a link to the bottom of the Show Times column for: "View Full Schedule." This should

[2020-01-06 14:02] tonyzeoli commented on #110
Resolved. Was not an issue. I had the wrong setting selected (PM) in the day before the conflicted time and it was causing the conflict.

[2020-01-06 14:02] #110 closed

[2020-01-06 14:10] tonyzeoli opened #123 "11 pm time needs a space between 11 and pm"
**Describe the bug**
11 pm is written as 11pm on the Master Schedule in a time block.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Master Calendar
2. View any show at 11 pm
3. Displays 11pm and not 11 pm.

**Expected behavior**
Should be "11 pm" not "11pm"

**Screenshots**
If applicable, add screenshots to help explain your problem.

<img width="85" alt="Screen Shot 2020-01-06 at 9

[2020-01-06 22:55] majick777 commented on #122
There is a setting already to select the Schedule page as described, so I changed the issue title to just adding that link on single show pages.

[2020-01-07 01:54] majick777 commented on #111
Fixed.

[2020-01-07 01:54] #111 closed

[2020-01-07 02:47] majick777 commented on #123
Fixed.

[2020-01-07 02:47] #123 closed

[2020-01-07 03:38] majick777 commented on #112
Fixed.

[2020-01-07 03:38] #112 closed

[2020-01-07 03:39] majick777 commented on #121
Headings had changed from h3 to h4, so margin top style rule no longer matched. Fixed.

[2020-01-07 03:46] tonyzeoli commented on #103
Awesome, thanks!

[2020-01-07 03:47] tonyzeoli commented on #104
This is fixed. Good work, Tony. Thanks!

[2020-01-07 03:47] #104 closed

[2020-01-07 03:59] tonyzeoli commented on #107
@trystant @majick777 Probably useful to get together on Skype. Tony is @tones on Skype. That's how we've been communicating mostly, even though I really need everyone to be on Slack!

[2020-01-07 04:05] tonyzeoli opened #124 "Show More button on Show Description impacted"
**Describe the bug**
Can't see the full Show More button on the Show Description

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Show 1
2. View Show More button
3. Can only see half of the button

**Expected behavior**
View the full button

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="655" alt="Screen Shot 2020-01-06 at 11 03 39 PM" src="http

[2020-01-07 04:09] tonyzeoli commented on #121
I'm still seeing a lot of whitespace above the titles and below the titles. I thought the titles like Show Info are supposed to be aligned at the top of the left vertical line and not somewhat down a bit.

<img width="722" alt="Screen Shot 2020-01-06 at 11 08 01 PM" src="https://user-images.githubusercontent.com/4053819/71867751-765c0500-30d9-11ea-8ed0-c27885c0a9a4.png">

[2020-01-07 04:10] tonyzeoli commented on #121
Also, probably another issue, but the Show Times is being pushed below the show avatar. Is that supposed to be like that? I don't think so as I've seen it where it's aligned to the right of the Show Info section.

[2020-01-07 05:53] trystant commented on #107
I've got scorintha on skype. Let's arrange a call sometime this week.

Thanks,

On Mon, Jan 6, 2020 at 10:59 PM Tony Zeoli <notifications@github.com> wrote:

--

Mark Nyonmark@grandkru.com

blog.grandkru.com

github.com/trystant

[2020-01-07 13:01] tonyzeoli commented on #107
Okay, I'll start a conversation with both of you. I think there's a
disconnect because Tony's in Australia. He's best early in the morning U.S
time, which is his night time. Or, late in the evening, which is his
morning and afternoon.

[image: photo]
Tony Zeoli
Founder, Digital Strategy Works LLC
O  (828) 412-0990  <(828) 412-0990> M  (917) 705-4700  <(917)
705-4700> E  az@digitalstrategyworks.com

[2020-01-07 13:15] trystant commented on #107
Good to know re: time.

I'm generally up early in the morning, so we can do a morning chat.

Thanks,
Mark

On Tue, Jan 7, 2020 at 8:01 AM Tony Zeoli <notifications@github.com> wrote:

--

Mark Nyonmark@grandkru.com

blog.grandkru.com

github.com/trystant

[2020-01-07 14:12] tonyzeoli commented on #107
I've initiated a group chat for you both. Hope you can connect.

I've asked Tony to please delegate, so hopefully you'll both connect and we
can get you more involved.

[image: photo]
Tony Zeoli
Founder, Digital Strategy Works LLC
O  (828) 412-0990  <(828) 412-0990> M  (917) 705-4700  <(917)
705-4700> E  az@digitalstrategyworks.com
<az@digitalstrategyworks.com>
W  https://digitalstrategyworks.com

[2020-01-07 23:53] majick777 commented on #121
I missed uploading this fix to the demo site is all.

As for the Show Times block being pushed there, the current setting is set to top blocks there, and the content area is quite narrow on this theme. The minimum block section width is set to 250px which I believe is optimal, so basically below 700px total available content width the blocks start collapsing like this so as to be responsive for mo

[2020-01-07 23:55] tonyzeoli commented on #121
Okay, I'll change the setting so that it fits correctly. Thanks!

[2020-01-08 00:01] tonyzeoli commented on #121
I changed the setting to right align and the columns stack below the show avatar.

[2020-01-08 00:03] majick777 commented on #120
This is a theme style issue and outside of the content area where the Show template displays. We can't introduce styles into the plugin that will override the default title padding because 1. we don't know have any way of knowing the page element selectors and 2. a plugin shouldn't override theme styles anyway.

The best we can do in this case is to fix this style issue for display on the demo sit

[2020-01-08 00:03] #120 closed

[2020-01-08 00:15] majick777 commented on #113
The Language labels have been fixed as in #112. The links don't 404 for me now, but they are meant to be there as they are actually to the language terms archive page for that term - listing all posts with that term. Similar to how any taxonomy works in WordPress, such as the same for the Genre links. This ia a feature so that visitors can easlly find other Shows with the same Genre / Language.

[2020-01-08 00:15] #113 closed

[2020-01-08 01:29] tonyzeoli commented on #120
Okay - got it. Thanks!

[2020-01-08 01:37] majick777 commented on #117
Okay, removed.

[2020-01-08 01:37] #117 closed

[2020-01-08 01:38] tonyzeoli commented on #113
Okay, got it. Didn't know that was the intended functionality. Thanks!

[2020-01-08 01:41] majick777 commented on #115
Added a `target=_blank` attribute to the Show link.

[2020-01-08 01:41] #115 closed

[2020-01-08 01:41] tonyzeoli commented on #115
Great, thanks!

[2020-01-08 02:39] majick777 commented on #116
Ok done.

[2020-01-08 02:39] #116 closed

[2020-01-08 03:01] majick777 commented on #122
Added link back to Schedule page (if set in Settings) below single show time list.

[2020-01-08 03:01] #122 closed

[2020-01-08 03:19] majick777 commented on #107
I'm still getting on top of things after the holiday break, I have a bit more of a plan for going forward now which I'll post on Skype chat after reviewing some more issues.

[2020-01-08 03:21] tonyzeoli commented on #107
Okay, sounds good.

On Tue, Jan 7, 2020 at 10:19 PM majick777 <notifications@github.com> wrote:

[2020-01-08 03:36] majick777 opened #125 "Edit Show Shifts - Repeating Show Shift Times"
At the moment all Show Shift Times are weekly repeating and so there is a weekly Schedule.
We can enhance this by allowing shows to repeat 2-weekly or 3-weekly or monthly.
A "Repeat" checkbox for each shift could open a further input panel for this (see example screenshots in #70 from LibreTime)

This input panel would also need a "Start Date" field as in the Schedule Override so that the plugin w

[2020-01-08 03:39] majick777 commented on #70
Should be fairly easy to add the Duplicate button to a shift next to the Remove one.
I created a separate issue for non-weekly repeating shifts as in the screenshots.

[2020-01-09 00:55] trystant commented on #121
I've been doing "local" development on this digital ocean instance [here](https://radio.grandkru.com).  While I have 2.2.9b of the plugin downloaded & working, I likely don't have enough of the station set up.  Once I set up the password for the demo site, I can go through that, compare it to mine & make adjustments.

[2020-01-09 01:36] majick777 commented on #124
Fixed. I also added some extra code to remove the fade overlay and buttons if it did not overflow (as the overlay and buttons were showing on short descriptions.)

[2020-01-09 01:36] #124 closed

[2020-01-09 01:38] majick777 commented on #118
Not sure if this is a plugin issue or just WordPress itself... did you specifically add padding anywhere?

[2020-01-09 02:00] majick777 opened #126 "[Various] Automatic Display of All Times in User's Timezone"
This is the current solution as a breakaway from issue #6 (which will now be for allowing the user to adjust their timezone manually in Pro.)

It was found that the browser automatically can autodetect the current user timezone. This information combined with the timezone setting in WordPress / plugin allows for a current radio time clock and a current user time clock, and also adjusting displayed

[2020-01-09 02:03] majick777 commented on #6
#126 is for the Automatic Radio/User Clock Display and Timezone adjustments.

This issue remains to allow for a dropdown in the Pro version where a user can adjust the timezone manually (eg. browser timezone is incorrect or user may be travelling to different timezone and wish to look up a future show date etc.)

[2020-01-09 02:57] tonyzeoli commented on #118
No, I did not add any padding anywhere. It may be a holdover from Nikki's code. We're using the base twenty twelve theme with no modifications, so not sure why this is an issue on the front end.

[2020-01-10 03:21] tonyzeoli commented on #126
Okay, I see that it was removed. Thanks! We'll let @trystant have a go at it!

[2020-01-10 03:26] tonyzeoli opened #127 "Show 9 conflicts with Show 9 not on the same day and entries are not disabled"
**Describe the bug**
When login to view Show 9, I found that the two scheduled times are said to conflict, even though they are on Thursday and Friday from 11 pm to 1 am. And, the conflicting shows are not disabled nor do the have a red dotted line around them.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Show 9 Edit view
2. View the Conflict Catcher, which states Show 9 conflicts w

[2020-01-10 03:36] tonyzeoli opened #128 "Schedule Override Calendar picker needs z-index adjustment"
**Describe the bug**
I checked the Schedule Override function and clicked on the calendar and it falls behind the TinyMCE band/row.

**To Reproduce**
Steps to reproduce the behavior:
1. Go Shedule Override
2. Click on Calendar picker
3. View calendar picker is behind the tinymce buttons/row.

**Expected behavior**

Calendar picker should be avail over the tinymce bar.

**Screenshots**
<img width="

[2020-01-10 03:42] tonyzeoli commented on #121
@trystant okay, that URL could not be reached. You were already set up with access on your personal Gmail, so please try to login again or change your password on the radiostationdemo.com/wp-admin login screen.

[2020-01-10 03:53] tonyzeoli opened #129 "[Master Schedule Table] Month/Day Under Day of Week, Year above Day of Week Centered"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I'd like to print the current month/day/ under the day of the week - like this: 12/2 so that the user knows what date the show falls on. Right now, they see the day of the week, but not the actual date.

I thought about adding 12/2/2020, b

[2020-01-10 03:59] tonyzeoli opened #130 "[Show Overrides] Not overriding currently scheduled shows"
**Describe the bug**
I set an override for Saturday, 1/11 at 12:00 am and it does not override the entry on the calendar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go Show Overrides
2. Check the only Override date and time
3. Check the Master Schedule and the Show does not Override the regularly scheduled show

**Expected behavior**
A clear and concise description of what you expected

[2020-01-10 04:11] tonyzeoli opened #131 "Add Widget for Radio Times caused fatal error"
**Describe the bug**
A clear and concise description of what the bug is.

I added the Radio Times widget and it caused a fatal error on the master calendar view.

**To Reproduce**
Steps to reproduce the behavior:
1. Move Radio Times widget to the top of the main sidebar under Widgets
1. Go to master calendar page
2. See fatal error message

**Expected behavior**
A clear and concise description of

[2020-01-10 06:44] majick777 commented on #131
This widget is in still development and will be moved to a feature branch shortly, so the error is because there is nothing there yet but a class wrapper with not much in it... So I'll close this here as it will become part of the overall Clock features.

[2020-01-10 06:44] #131 closed

[2020-01-10 08:02] majick777 commented on #125
Just a thought here is may be better to extend Overrides rather than Shows with the Repeating functionality since there is already a Date field for those.

[2020-01-10 12:48] tonyzeoli commented on #131
Okay, I'll make sure to not test it again so as not to disrupt. Once it's move to a feature branch, it'll be out of the way and not available.

[2020-01-11 21:01] majick777 commented on #128
Fixed. I've added a targeted style rule so that the z-index for the datepicker is greater than the editor buttons which are set with a high z-index (1000)

[2020-01-11 21:01] #128 closed

[2020-01-12 00:46] majick777 commented on #127
For me it said Show 9 overnight shift conflicts Friday shift conflicted with Show 7 Saturday night shift... which was certainly not right in any case.

This led me to find an incorrect data key in the conflict checker for overnight shift start times. With that fixed, it seemed to have cleared the incorrect conflict. So I'll close this particular issue, if there are other incorrect conflicts then c

[2020-01-12 00:46] #127 closed

[2020-01-12 00:52] majick777 commented on #99
@tonyzeoli Can you recheck and close if fixed.

[2020-01-12 00:53] majick777 commented on #98
@tonyzeoli Can you recheck and close if fixed.

[2020-01-12 00:54] majick777 commented on #118
Hmmm this may have been a theme issue with the twenty twelve theme, seems to be fine since you switched to Make on the demo site (see Show 9.)

[2020-01-12 01:30] tonyzeoli commented on #128
Confirmed fix in Chrome for Mac.

[2020-01-12 02:25] tonyzeoli opened #132 "[Master Schedule] Table View - Improve display for mobile devices"
**Describe the bug**
A clear and concise description of what the bug is.

The master calendar grid view squeezes in portrait mode for mobile devices. Is fine in landscape. The right edge of the calendar also squeezes right up to the right border.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the demo site and view the master calendar in a mobile device in portrait mode
2. See how all

[2020-01-12 02:30] tonyzeoli opened #133 "[Master Schedule] Move Time Zone and left align above Genres"
**Describe the bug**
A clear and concise description of what the bug is.

Having the time zone out to the right in its own column forces genres to a second row when genres has multiple entries. In mobile devices it seems a bit forced. We might as well just simplify and either move it into Show Infor or move it above the Genres line.

[2020-01-12 02:40] majick777 commented on #109
Possibly fixed to due bugfix in conflict checker. A question is raised though from this, since the shift is disabled on saving, should the shift conflict checker show Disabled shifts? I'd say not... But now that shifts are disabled on saving, they should appear in the Show list as such?

[2020-01-12 02:44] majick777 commented on #133
Duplicate of #96 ?

[2020-01-12 02:57] majick777 commented on #133
Okay I split the lines, however have left the right alignment on the timezone for now, do you think that is sufficient?

[2020-01-12 03:03] #121 closed

[2020-01-12 03:08] tonyzeoli commented on #99
Looks like this is an issue with Show 12, which shows scheduled shows on the Calendar MON-FRI from 7 to 9, but not on the Show page. Says no shows scheduled.

[2020-01-12 03:11] majick777 commented on #119
Added 20px right margin to left box and 20px left margin to right box.

[2020-01-12 03:11] #119 closed

[2020-01-12 03:13] majick777 commented on #118
Could be retested on twenty twelve at some point to confirm that was the source of the issue.

[2020-01-12 03:24] tonyzeoli commented on #98
Fixed.

[2020-01-12 03:24] #98 closed

[2020-01-12 03:29] tonyzeoli commented on #109
I checked a Show admin and I don't see the Conflict Catcher meta box at the top with a "Your schedule contains no conflicts." message.

Should we do that or no?

No, I don't think it needs to show disabled shifts - you can see that when a shift is disabled and it's got the red dotted border around it, so that's fine.

Any disabled shift that has a conflict should not appear on the Show List on the

[2020-01-12 03:32] majick777 commented on #109
I don't think we should show a message in admin when there are no conflicts. Admin notices should only show when there is information to display.

I think maybe we should consider further when to show the disables shifts in Show List view... or at least indicate in that view that a Show has disabled shifts? Since it is the main management interface list... otherwise they would be hard to find say

[2020-01-12 03:38] tonyzeoli commented on #109
If a show is disabled because of a conflict, then you'll see that in the conflict catcher and fix the show that was disabled. Is there a use case for leaving a show disabled? Sure, I guess having a warning in the List view would be helpful, but the problem with that is there are so many options to add to a list view in the View Options at the top of the screen. Someone could turn it off and hide i

[2020-01-12 03:40] tonyzeoli commented on #133
I would move it left :)

When it's in mobile, it looks weird hanging out over there.

[2020-01-12 03:41] tonyzeoli commented on #119
Thx!

[2020-01-12 03:46] tonyzeoli commented on #118
Tested in Twenty Twelve and still looks like an issue. Twenty Twelve is on now if you want to take a look.

[2020-01-12 10:16] majick777 commented on #133
Okie dokes. Done.

[2020-01-12 11:52] majick777 commented on #109
Actually realized this is already how I have it, disabled shifts are highlighted in red on the Show List column but do not appear in the Conflict Checker. I think this is fine really and we needn't worry about it much further at this point.

[2020-01-12 11:52] #109 closed

[2020-01-12 12:05] majick777 commented on #36
Related to #88

[2020-01-12 12:14] majick777 commented on #96
This can be done as part of #126. I'm really not sure if we should move it to below the schedule as it could get lost down there, but as where the timezone display is now and on one line would work fine.

[2020-01-12 12:40] majick777 commented on #99
Puzzled me for a bit but then I realized Show 12 is not active...
So I made this more obvious via highlighting in the List view.
Not sure if there is any further issue here or not.

[2020-01-12 12:56] majick777 commented on #118
Erk weird. I just checked and this doesn't happen with 2010 or 2011, but does with 2012-2015 themes.
Not sure if we should fix or not... I guess adding a targeted style wouldn't hurt, it's rather surprising there is no padding by default in these default themes.

[2020-01-12 14:50] majick777 commented on #114
Sanitization function was messing with the audio src attribute, had to remove it to get this working again as it was. *sigh*

[2020-01-12 22:23] VerumEmanio commented on #84
How have you been documenting these endpoints so far? I might be interested in lending a hand if you're looking for help.

[2020-01-12 23:25] majick777 commented on #130
Was fetching override dates from the current day one week into the future... which on the surface seemed right... but really, since the schedule start day might be different to the current day, it was missing any overrides on any days in the schedule prior to the current day.

So I set it to initially fetch override dates a week forward *and* backward. Since the overrides are already combined corr

[2020-01-12 23:25] #130 closed

[2020-01-13 01:36] tonyzeoli commented on #109
Okay, cool! Sounds good.

[2020-01-13 01:38] tonyzeoli commented on #133
Move it above and not below Genres, please. Genres will always break to a second line in mobile and I just think it looks better to have Genres the last thing before the calendar. Also, I would say match the font size of Genres, as well.

[2020-01-13 02:21] tonyzeoli commented on #118
That's strange. I would certainly add that targeted style so people aren't surprised by that and don't know the answer to why that doesn't display on the front end when it does on the backend.

[2020-01-13 02:29] tonyzeoli opened #134 "Conflict Catcher Issues"
**Describe the bug**
A clear and concise description of what the bug is.

When checking the Show List View, I found that there are conflicts that display in the List View, but do not trigger the Conflict Catcher or trigger red border around the conflicts when editing the Show Edit view.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shows List View
2. View Shows 8 and 12 have conflict

[2020-01-13 02:50] tonyzeoli commented on #130
Confirmed fix. Thanks!

[2020-01-13 02:59] tonyzeoli opened #135 "[Maser Schedule] Tabbed View - Left align Genres Under Show Title"
**Describe the bug**
A clear and concise description of what the bug is.

In the Tabbed View in mobile, if the Show Title is really long or the Genres have multiple, this causes an issue where you have to swipe left to see the content that extends the screen well past the mobile view.

**To Reproduce**
Steps to reproduce the behavior:
1. On a mobile phone, pull up the Tabbed calendar view
2. View

[2020-01-13 03:06] tonyzeoli commented on #129
@trystant I've got this one issue assigned to you and I'm planning on getting 2.3.0 out next week. Can you let me know if you have the time to complete this task by mid-week and then I can test and add to the release next week? Thanks!

[2020-01-13 03:09] tonyzeoli commented on #84
@VerumEmanio Thanks for the offer of support/assistance. I wanted to acknowledge your offer yet leave it up to @majick777 to respond in detail.

[2020-01-13 03:10] tonyzeoli commented on #114
Confirmed player plays. Opening just to ask a question.

How does adding the stream file link in Settings affect adding the link in the Show page?

[2020-01-13 03:35] tonyzeoli opened #136 "[Playlist Widget] HTML Format Breaking Layout"
**Describe the bug**
A clear and concise description of what the bug is.

The Playlist widget settings has a text field and not a check box for Show Title.

I created a playlist, assigned it to show 7 and scheduled a show from 9 pm to 11 pm EST on Sunday night for testing purposes to test the widget while I was online. The playlist widget does not display the last song played.

**To Reproduce**
St

[2020-01-13 17:50] tonyzeoli commented on #136
Now that the Playlist is printing to the page, for some reason it disrupts the sidebar and pushes everything into the footer from that widget and all widgets below.

<img width="1552" alt="Screen Shot 2020-01-13 at 12 50 36 PM" src="https://user-images.githubusercontent.com/4053819/72279067-5493de00-3603-11ea-845c-2c5db2508b94.png">

[2020-01-13 17:56] tonyzeoli opened #137 "No sidebar controls on Master Schedule Page"
**Describe the bug**
A clear and concise description of what the bug is.

Opening for discussion.

The Master Schedule page template does not include a sidebar? Is that on purpose?

Many page builders now have sidebar/no sidebar controls, so I think we can safely have a sidebar on this page and the user can control whether they want a sidebar or not.

Is there a business case not to have a sidebar

[2020-01-13 19:13] tonyzeoli opened #138 "[Current Show Widget] Missing Display of No Show Scheduled Message"
**Describe the bug**
A clear and concise description of what the bug is.

@trystant Here's one for you. @majick777 passing along to Mark.

If there is no show on air at the current time, the Show/DJ OnAir widget does not indicate anything. There is no notification.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to radiostationdemo.com sidebar and view Show/DJ On-Air widget when there is

[2020-01-14 01:59] majick777 commented on #137
Whether a page has a sidebar is determined by the theme and the page template in the theme.
While generally it is better practice for a theme to have this included, unfortunately this is not always done or done in a standard way. The post sidebar might be called in a page template, or a separate sidebar might be declared for pages, in which case widgets will need to be added to that for them to sh

[2020-01-14 01:59] #137 closed

[2020-01-14 16:38] tonyzeoli opened #139 "[Master Schedule] List View needs Genres below Show Title"
**Describe the bug**
A clear and concise description of what the bug is.

There are no Genres present in the List View

**To Reproduce**
Steps to reproduce the behavior:
1. https://radiostationdemo.com/master-schedule/list-view/
2. View Shows
3. No Genres listed

**Expected behavior**
A clear and concise description of what you expected to happen.

We need to add a line for Genres under the Title

[2020-01-14 16:43] tonyzeoli opened #140 "[Master Schedule] Filter Genres in List View"
**Describe the bug**
A clear and concise description of what the bug is.

The user cannot filter genres in the List View

**To Reproduce**
Steps to reproduce the behavior:
1. Go to List View
2. Click on a genre
3. There are no genres to filter in the list.

**Expected behavior**
A clear and concise description of what you expected to happen.

The user should be able to filter genres in the list -

[2020-01-14 20:16] tonyzeoli opened #141 "[Admin Notices] Upgrade Notice not dismissing"
**Describe the bug**
A clear and concise description of what the bug is.

Andrew reports the upgrade notice does not click on his import/export view and was wondering if there was some type of conditional on specific pages to close or is it just not working properly overall.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin
2. Click on X to close upgrade notice

**Expected behavior

[2020-01-14 22:10] tonyzeoli opened #142 "Import / Export Functionality"
**Is your developer task related to a problem or a requirement? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

@voyager131 is working on an Import/Export feature to allow an Import or Export of Show Data via a YAML file.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

No specific in

[2020-01-15 02:26] majick777 commented on #141
`%20` in a querystring is whitespace and should not be there before the `?` in the AJAX URL.
So I've fixed that typo and that should fix the problem. The notice dismissal has been testing when I wrote it but at some point in code cleanup this has been introduced. I will retest it before closing.

[2020-01-15 05:32] majick777 commented on #142
@tonyzeoli Did we discuss whether this this going to be a Pro feature in the end or no? Can't seem o recall.

[2020-01-15 05:51] majick777 commented on #126
@trystant I have created a feature branch (off of develop branch) for clock-related features (feature/radio-clock) so you can pull / switch to this branch and work on it. I've placed the working code in `/includes/class-radio-clock-widget.php` ... for ease of testing, if that file is in a plugin install, it will automatically be loaded (via radio-station.php)

There is a shortcode for the Radio Cl

[2020-01-15 06:16] majick777 commented on #84
@VerumEmanio Thanks for wanting to get involved on this.

So as it's only just been developed there is not really any documentation on this so far except for code comments in the `/includes/data-feeds.php` file (of develop branch).

`/wp-json/radio/station/` - List data of all the endpoint URLs.
`/wp-json/radio/broadcast/` - List data of stream, current and upcoming shows etc.
`/wp-json/radio/sche

[2020-01-15 07:49] majick777 commented on #136
There was a rogue `echo` statement of a `</div>` tag in the playlist shortcode which was breaking the HTML structure. This is fixed now.

[2020-01-15 07:49] #136 closed

[2020-01-15 08:09] majick777 commented on #138
There is a field in the widget options for this text. It was empty (and defaulted to empty.) I have set the default text to be "No Show scheduled for this time."

[2020-01-15 08:09] #138 closed

[2020-01-15 08:14] majick777 commented on #134
Show 12 is inactive. Show 8 shift is disabled.
So these are not going to show in the Conflict Checker.
This is the intended behaviour as discussed in #109

[2020-01-15 08:14] #134 closed

[2020-01-15 08:18] majick777 commented on #134
One thing though, with Show 12 inactive... the shifts still all have the green boxes around them... So I will change those to reflect the state of the Show.

[2020-01-15 08:21] majick777 commented on #131
I've created the feature branch and the issue for this widget and clock display in general is now #126.

[2020-01-15 10:08] tonyzeoli commented on #134
Okay, thanks. I wasn’t sure because the list view showed the read dotted lines. I’ll check the fix. Thanks!

[2020-01-15 10:09] tonyzeoli commented on #138
Ah! I didn’t know that you could set the message. I’ll need to check the widget interface next time. Sorry!

[2020-01-15 10:10] tonyzeoli commented on #136
Okay cool, thanks for fixing.

[2020-01-15 10:11] tonyzeoli commented on #141
@voyager131 please pull the fix and check thanks

[2020-01-15 16:57] voyager131 commented on #142
The contractual arrangement I have for the time I'm putting into this project requires any code I write be released under the GPL. Thus I think anything I contribute will have to be in the regular release.

[2020-01-15 17:01] tonyzeoli commented on #142
We discussed adding it to the GPL release and then including it in PRO
later and offering a lifetime multisite subscription to Andrew for its use.

[image: photo]
Tony Zeoli
Founder, Digital Strategy Works LLC
O  (828) 412-0990  <(828) 412-0990> M  (917) 705-4700  <(917)
705-4700> E  az@digitalstrategyworks.com
<az@digitalstrategyworks.com>
W  https://digitalstrategyworks.com
Whatsapp 9177054700
S

[2020-01-15 19:14] voyager131 commented on #141
I can confirm dismiss works now with the latest code form branch **develop**

[2020-01-15 19:30] tonyzeoli commented on #141
Thanks, @voyager131 !

[2020-01-15 19:30] #141 closed

[2020-01-16 04:09] majick777 commented on #132
Had a good go at this with some javascript width responsiveness on pageload and resize, a little bit mindbending to calculate which columns to display but seems to be working well! Check it out. :-)

Never thought to handle responsive table columns like this, very cool idea thanks! Definitely something I will consider implementing in other projects in the future.

[2020-01-16 04:09] #132 closed

[2020-01-16 04:12] majick777 commented on #96
I'm going to close this here as the one line issue itself is sorted.

[2020-01-16 04:12] #96 closed

[2020-01-16 04:19] majick777 commented on #133
This one is done, and I've adjusted the font sizes to be the same now.

[2020-01-16 04:19] #133 closed

[2020-01-16 04:24] majick777 commented on #114
Currently the streaming URL setting doesn't do anything, but will be important for the widget player which is our next major feature so thought I'd include it. Well, actually except it does do one thing - it is discoverable via the API. :-)

The Show audio file is separate anyway and kept for the latest broadcast... If anything in Pro since we will be having Episodes, we can come up with a setting

[2020-01-16 04:24] #114 closed

[2020-01-16 04:27] majick777 commented on #99
Going to close this one as it seems to be resolved, not seeing any further issues at this point.

[2020-01-16 04:27] #99 closed

[2020-01-16 06:30] majick777 commented on #142
@voyager131 cool. thanks for clearing that up.

A technical question on the import came to mind... how are boundaries delimited in a YML file?
When it comes to a Show Description for example, there are line breaks and all sorts of possible content within in - so how do you reliably determine where the content starts/ends?

[2020-01-16 16:51] voyager131 commented on #142
Here's an example of a complete entry for a real show, as used in the temporary plugin I wrote to sort out [LTR's need](https://lifetalk.net/program-schedule/) until we can install the required functionality via radio-station.

`
    show-title: "Your Story Hour"
    show-host: "with Aunt Carole and Uncle Dan"
    air-time:
      - ["05:30", "06:00"] #all times Americas/Los_Angeles
      - ["17:00

[2020-01-16 18:22] tonyzeoli opened #144 "Store 24hr time in database and associate where currently applied"
**Is your developer task related to a problem or a requirement? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

@voyager131 recommends storing 24h time in the database, as he needs that time stored as a 24hr value for the import / export feature he is working on.

**Describe the solution you'd like**
A clear and concise description o

[2020-01-16 19:29] tonyzeoli commented on #114
Can we then gray it out and say something like coming soon on that feature so people know that it’s not going to be active yet?

[2020-01-17 07:29] majick777 commented on #114
Well as I said, it still discoverable via the API (broadcast endpoint.) By putting it in we are also hoping to encourage people to enter that information so it can be retrieved by the upcoming directory.

But I think may be a good opportunity to mention the forthcoming player though. In any case may be the Help text on the Setting could be improved.

[2020-01-17 13:53] tonyzeoli commented on #114
Yes, understood. Something like “This feature will be active in a future
Pro version for streaming your station’s live broadcast feed. It is
currently disabled for now. Would suffice.

My reasoning is, if I saw it and added a URL and couldn’t figure out what
it does, then that’s certainly a usability issue and we need to tell the
user something so they don’t get frustrated and we don’t get support

[2020-01-18 03:55] majick777 commented on #135
Fixed.

[2020-01-18 03:55] #135 closed

[2020-01-18 03:56] majick777 commented on #140
Fixed.

[2020-01-18 03:56] #140 closed

[2020-01-18 03:58] tonyzeoli commented on #135
Confirmed. Thanks.

[2020-01-18 04:00] tonyzeoli commented on #140
Confirmed. Thanks!

[2020-01-18 04:02] tonyzeoli opened #145 "Add Genres under Show Times in List View (like Tabbed View)"
**Describe the bug**
A clear and concise description of what the bug is.

Just noticed that we don't have Genres under Times like we do now in the Tabbed view.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to List View
2. View List
3. No Genres under times

**Expected behavior**
A clear and concise description of what you expected to happen.

Genres placed under Show Times like in Tabbe

[2020-01-19 02:07] majick777 commented on #139
Whoops, that commit did not include this fix yet as was intended, was trying to do all those ones together as they all related master schedule view enhancements.

[2020-01-19 02:08] majick777 commented on #145
Duplicate of #139

[2020-01-19 02:08] #145 closed

[2020-01-19 03:17] majick777 commented on #144
As discussed, the existing data structure is stored in 12 hour time and schedule calculations are based on this. It would be too much work for no substantial benefit to change this when the conversion between these two time formats is an easy one.

[2020-01-19 03:17] #144 closed

[2020-01-19 03:19] tonyzeoli commented on #144
Got it! Good call!

[2020-01-19 08:47] majick777 commented on #85
Here's an updated list of proposed Documentation Sections:
Data Types | Shows, Overrides, Playlists, Genres, Languages
Pages | Automatic, Single and Archive Page Templates
Widgets | Current Show, Upcoming Shows, Playlist, Streaming Player
Shortcodes | Data List Archives and Master Schedule Views
Roles | Plugin Roles and related Capabilities
Endpoints | via the REST API and Feeds
Options | Plugin O

[2020-01-19 09:28] majick777 commented on #139
Added this now, along with some other Schedule display fixes.

[2020-01-19 09:28] #139 closed

[2020-01-30 01:09] tonyzeoli commented on #118
@majick777 Just following up on this open ticket.

[2020-01-30 01:11] tonyzeoli opened #146 "Style Legacy Widgets"
**Describe the bug**
A clear and concise description of what the bug is.

@majick777 mentioned needing to style legacy widgets - so opening a ticket here for this task.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If a

[2020-01-31 02:49] tonyzeoli opened #147 "Automattic Pages Issue"
**Describe the bug**
A clear and concise description of what the bug is.

When go to the Show Archive or Playlist Archive pages on the demo site, the page(s) return errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://radiostationdemo.com/automatic-pages/shows-archive-page/ or https://radiostationdemo.com/automatic-pages/playlists-archive-page/
2. See error

**Expected behav

[2020-02-03 04:31] tonyzeoli opened #148 "Replace MailChimp form with ConvertKit form in plugin notice"
**Is your developer task related to a problem or a requirement? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I'm switching from MailChimp to ConvertKit.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Here is the javascript for convert kit:

<script async data-uid="9f9332b7bc" src

[2020-02-04 16:00] majick777 opened #149 "[Shows] Single Show Feed RSS"
A Single Show feed (RSS format) that would dynamically update with the next upcoming Show shift time (as the pubDate field), allowing a user to "subscribe" to a Show via an RSS link, and thus receive alerts via a Feed Reader of the upcoming Show shift.

Some experimentation may be needed to see how often Feed Readers actually pull data and whether and when a future dated publication date will be a

[2020-02-05 08:26] majick777 commented on #147
Fixed. Since the new internal excerpting function applies `the_content` filters, this was causing an endless loop because the automatic pages are also triggered via the same filter. Removing this filter when an automatic page is triggered now prevents this from happening.

[2020-02-05 08:26] #147 closed

[2020-02-06 05:40] majick777 commented on #148
An alternative approach here might be to have a generic form that takes the user to a Netmix website page where the actual form is embedded (and use the posted data to populate the form.) Having different form codes in the plugin itself means if a user hasn't updated the plugin and tries to use an old form (eg. Mailchimp form code) then they won't get added to the list. But this way whatever form

[2020-02-06 14:45] tonyzeoli commented on #148
Let's hold on this for now. Yes, agreed about the old form - it'll always be active, so it'll still ingest subscribers. I don't want to remove it from the plugin and force a click - it'll still cause the same issue and we're getting subs now that may not have subbed if they had to click. Convert Kit is free for under 100 subs, but after that, it's $29 a month. My wife is pushing on me to migrate,

[2020-02-28 02:37] tonyzeoli opened #152 "Playlist / Now Playing Widget Show Title text field should be checkbox"
**Describe the bug**
In the Playlist widget, the Show Title is a text field and not a checkbox.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Now Playing widget
2. Open Widget
3. View first row for Show Title
4. See text field

**Expected behavior**
A clear and concise description of what you expected to happen.

Should be a checkbox.

**Screenshots**
If applicable, add screenshots t

[2020-02-28 10:56] majick777 commented on #152
Fixed. Was set to checkbox, but missing a double quote to close the name attribute, causing the input type to be ignored and set to default (text).

[2020-02-28 10:56] #152 closed

[2020-02-28 23:26] tonyzeoli commented on #152
Confirmed fix.

[2020-03-02 17:42] tonyzeoli opened #153 "[Show Widget] Current Show Widget Changes"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

List of changes to Current Show widget for 2.3.0 launch.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

- Move Remaining Time from below the Show Times to below the Show Excerpt
- Add "Re

[2020-03-02 17:46] tonyzeoli opened #154 "[Show Edit] Remove conflict statement when remove time entry"
**Describe the bug**
A clear and concise description of what the bug is.

When in the Show page admin, if there is a conflict on a show time, if remove the entry, the conflict stays present. Should also remove if the conflicted entry is removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any show admin page that has a conflict (or create a conflict)
2. View the entry and see the c

[2020-03-02 17:49] tonyzeoli opened #155 "Show / Hide show active warning text on click the checkbox"
**Describe the bug**
A clear and concise description of what the bug is.

If a show is not published yet, but the text box is clicked as "active," the warning text persists. The warning text should go away.

Also, the warning text should be under the activate text box and instruction, not further down the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new show
2. View that sh

[2020-03-02 17:52] tonyzeoli opened #156 "[Show Posts] Back to Show Link on any Blog Post Attached to a Show"
**Describe the bug**
A clear and concise description of what the bug is.

There is no way to get back to the Show page from a Blog post that is attached to a Show.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Show 1
2. Click on Test Blog Post
3. View Post and try to return to Show page
4. No link exists to get back to Show page

**Expected behavior**
A clear and concise description

[2020-03-02 17:55] tonyzeoli opened #157 "[Show Posts] Filter Pagination Links for Only Posts Attached to Shows"
**Describe the bug**
A clear and concise description of what the bug is.

The pagination for Posts attached to Shows is currently all Blog posts in the Blog Posts feed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any blog post attached to any show
2. View pagination links below post
3. See that all blog posts are options

**Expected behavior**
A clear and concise description of wha

[2020-03-02 18:13] tonyzeoli opened #158 "[Show Widgets] Check 24-hour widget show time entries"
**Describe the bug**
A clear and concise description of what the bug is.

Shows 8 pm to 8200 pm.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Widget page on radio station demo site
2. Check the Current Show widgets
3. Check the 24 hour widget
4. Show 8 (if scheduled at the time you check) displays 8 am - 8200 pm

**Expected behavior**
A clear and concise description of what you expe

[2020-03-03 02:39] majick777 commented on #157
I have put this in place for next and previous Show Posts, by filtering `get_next_post_link` and `get_previous_post_link` (note that this means these must be present in a theme template for a single post for this to work. ie. single.php or singular.php, and there is no workaround for this.)

But a question arises... What to do if there is no previous or next Show-related post?
Since these links ar

[2020-03-03 03:34] tonyzeoli commented on #157
I may be too picky here with this. Let’s maybe just have the back to show
link and not worry about the posts order. As long as someone can get back
to show from the post emanating from the show, that should be fine.

Those pagination links may be so minor it’s not worth it to address.

On Mon, Mar 2, 2020 at 9:39 PM majick777 <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-03-03 18:38] tonyzeoli commented on #118
@majick777 looks like this is fixed, is that correct? I see in the description field in the latest 2.3.0 beta that this looks fixed.

[2020-03-03 23:19] majick777 commented on #156
So I have added this, here are some notes...
- Similar to the show page, the top link cannot be above the post title because it is added within the content area...
- Text for top link: Post for Show: {Linked Show Name}
- Text for bottom link: <- {All Posts for Show {Show Name}}
- Bottom link is a #hash link to jump to that Show Page section (and display that Tab if Show page sections are in tabbed

[2020-03-03 23:35] majick777 commented on #157
Okay well, the code is in place for this, and links to next/previous post as normal if there is no next/previous show-related post... Shall I pull it out and we can revisit in 2.3.1 or just leave it in?

[2020-03-03 23:41] majick777 commented on #155
I'm not sure if this is the best thing to do yet. Removing the warning just because a checkbox has been ticked could indicate from a user perspective that it has been auto-updated via AJAX and there is no need to save the post to activate the Show.

[2020-03-04 00:26] majick777 commented on #155
That expectation may indicate the way to do this though - we *could* trigger an automatic AJAX update on checkbox change for this field.

[2020-03-04 03:21] tonyzeoli commented on #156
@majick777

Can we remove the top of the post entry and just keep the bottom.

And, after the word Show on the bottom, please add a ":"

[2020-03-04 03:27] tonyzeoli commented on #157
nah, just keep it there for now - thanks!

On Tue, Mar 3, 2020 at 6:35 PM majick777 <notifications@github.com> wrote:

[2020-03-04 03:31] tonyzeoli commented on #155
I really think the user won't understand that they have to publish the show for the error to disappear. Either we have to say that specifically or if you can trigger that update on check box that would be helpful. I've just seen this issue like with All In One SEO Pack where you have to make sure to either publish or update something to have it take affect, even though it's not supposed to be reli

[2020-03-04 15:19] majick777 commented on #85
These are the final documentation sections:

FAQ | Frequently Asked Questions
Options | Plugin Option Details and Value Filters
Display | Automatic Pages, Templates and Images
Manage | Admin Lists, Shift Editing, Conflict Checker
Roles | Plugin Roles and related Capabilities
Widgets | Current Show, Upcoming Shows, Current Playlist, Radio Clock, Streaming Player
Shortcodes | Data List Archives and

[2020-03-04 15:20] majick777 commented on #84
These are now fully documented at: https://netmix.com/radio-station/docs/api/

[2020-03-04 15:20] #84 closed

[2020-03-04 15:47] tonyzeoli commented on #85
There are links within each section that are resulting in 404 page not found.

[2020-03-04 17:02] tonyzeoli opened #159 "[Show Page] Show More Button Issue"
**Describe the bug**
A clear and concise description of what the bug is.

Tried to click on Show More and nothing happened.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://radiostationdemo.com/show/show-11-local-dj-mix/
2. Click on Show More

**Expected behavior**
A clear and concise description of what you expected to happen.

Show more should drop down additional content.

**

[2020-03-05 12:43] majick777 commented on #85
Good pickup. All the internal linking is via relative links for Github viewing, and yet we have a hierarchical docs page structure on Netmix.com... So I had to modify the markdown shortcode to account for this and all links should be fixed now.

[2020-03-05 12:43] #85 closed

[2020-03-05 13:05] majick777 commented on #156
Ok done... rather than removing code for top, I added a filter so if someone wants to change the display to have both or either they can. But the default is to just display the bottom link.

Also, the code for linking Playlists back to Shows I realized lives better in the Playlist content template so I moved it there rather than having it as a content filter like the Posts one.

[2020-03-05 13:05] #156 closed

[2020-03-05 13:07] majick777 commented on #157
No probs.

[2020-03-05 13:07] #157 closed

[2020-03-05 13:11] #159 closed

[2020-03-05 13:14] majick777 commented on #158
This one is fixed now. The code was using a legacy function for the 24 hour conversions.

[2020-03-05 13:14] #158 closed

[2020-03-05 13:21] majick777 commented on #146
Duplicate of #86 and #153, which have more specifics, so closing this one out.

[2020-03-05 13:21] #146 closed

[2020-03-05 15:21] majick777 commented on #70
Have added this one in for 2.3.0, seems to be working fine.

[2020-03-05 16:13] tonyzeoli commented on #70
When duplicating the Shift, the "Remove" button instead of the "X" displays.

[2020-03-05 18:24] tonyzeoli opened #160 "Conflict Catcher Show List and Disable Show Issues"
**Describe the bug**
A clear and concise description of what the bug is.

In order to take a screenshot of the Show List view of a Conflict Catcher result, I added an entry for Show 4 from 12 am to 1 am on Monday. I noted that that conflict displays as an admin notification, but:

- does not display in the show list
- does not display around the time entry
- does not disable

**To Reproduce**
Step

[2020-03-06 02:10] majick777 commented on #154
Okay got it, the shift conflict for the shift is now removed with the shift.

[2020-03-06 02:10] #154 closed

[2020-03-06 02:14] majick777 commented on #70
True, I saw that and was gonna leave it because it helps distinguish it's a new shift... But we could add some other kind of indication for that? Anyway I have changed it now.

[2020-03-06 02:14] #70 closed

[2020-03-06 02:18] majick777 commented on #129
While adding in some more date-based calculations, I've added date and month as a subheading below the day on the Table view. I don't think year is really necessary yet, as at this point it will always be for the current week.

[2020-03-06 02:18] #129 closed

[2020-03-06 02:33] tonyzeoli commented on #129
SO COOL! Great stuff, my man! Looks awesome.

[2020-03-06 02:35] tonyzeoli commented on #70
Oh, sorry, I didn't know that was the intent. I had just talked to you about the feature and it wasn't stated that this would be the functionality, so I didn't know that it was not a bug and that it was intended. It's fine either way. I just thought it was a bug, because the only information I had was that the X would replace the button.

[2020-03-06 02:36] tonyzeoli commented on #154
Cool! Thanks for taking care of that.

[2020-03-06 02:37] tonyzeoli commented on #160
@majick777 Looks like this is fixed. Tested tonight and see that all is back in place. You haven't closed this, so I'm making an assumption it's still being worked on.

[2020-03-06 05:11] majick777 commented on #160
Issue is fixed now, just needed to retested the shift disabling before closing.

[2020-03-06 05:11] #160 closed

[2020-03-06 07:03] majick777 commented on #118
Nope this is not fixed. I'm finding it really hard to reproduce. Even to come up with the same result as I did before... From what I can tell,  seems Add Media adds a `<picture>` tag in newer WP versions and an `<img>` tag in older versions.

In any case, the image alignment seems to create the padding, so an image with alignnone class does not seem to have it, whereas left and right alignments do

[2020-03-06 07:11] majick777 opened #162 "[Show Shift Edit] Visually indicate Shift status on changes"
Arising from #70

When a new shift is added, that Shift could indicate "New" in the shift entry box, so that they can see where are editing. Considering if a user duplicates a shift at the top of the list, it will go to the bottom, but if they duplicate a few shifts, they won't know at which point the new ones started. Alternatively we could just have a heading separator for New Shifts when added.

[2020-03-07 01:37] tonyzeoli commented on #160
cool! great work!

[2020-03-07 03:08] majick777 commented on #153
Okay, I've made those requested changes so far, with a few caveats...
- I've moved View Playlist link to below Host display.
- I didn't add the About the Show subheading, as I think that one is unnecessary.

[2020-03-07 04:09] majick777 commented on #86
After a few rounds of this, and updating the documention to match and finding and fixing a few more issues, I'm satisfied with how these are diplaying now, so I'm gonna finally close this one out.

[2020-03-07 04:09] #86 closed

[2020-03-07 04:10] majick777 commented on #72
Gonna call this one done too, as there hasn't been any further issues lately that I'm aware of.

[2020-03-07 04:10] #72 closed

[2020-03-07 04:17] majick777 commented on #10
Now that we have multiple Genre highlighting working, I'm not sure if this issue is still relevent?

[2020-03-07 04:19] majick777 commented on #153
@tonyzeoli Can you confirm any final changes that may be needed here (and for any of the other widgets) as this is the last major remaining open ticket for 2.3.0! :-O

[2020-03-07 04:36] tonyzeoli commented on #10
Yep, you're right. Let's close this.

[2020-03-07 04:36] #10 closed

[2020-03-13 15:38] corbyradio opened #163 "Illegal string offset in Table view, No Shows in Tabbed view"
Using the current Dev branch when we set the page to Tabbed mode we get the tabs but no schedule, when we use the default table view we get a load of errors, but the table does load, this occurs no matter what theme we use.

We are running the following;
WP: 5.3.2
PHP: 7.3
Host: Ionos (1&1 UK)

The errors we get are below;

Warning: Illegal string offset 'Monday' in /homepages/27/d604077397/htdocs

[2020-03-13 15:39] corbyradio commented on #163
The errors can be seen at https://corby.radio/test-page

[2020-03-13 17:41] gusaus commented on #163
I was coming across similar issues during testing last night.

[2020-03-13 18:37] tonyzeoli commented on #163
@majick777 Here is an indication of that this issue might be: https://www.quora.com/How-can-I-fix-this-%E2%80%9CWarning-Illegal-string-offset-style%E2%80%9D

This is most likely a PHP warning message.

This usually happens when you have a variable that holds a string, but try to access it like it was an array. Like this:

$value = "Hello, world!";
echo $value['style'];
// PHP Warning:  Illegal str

[2020-03-14 04:38] majick777 commented on #163
@corbyradio Thanks for the report! I have fixed the Table issue now and pushed the changes to `develop` branch with some other minor fixes. Was a singular-plural typo in the new day-to-date conversion recently added (for more reliable shift time checking.) Was fine everywhere else.

I will close this issue, but if you could open another one for the Tabbed view with more details of what is going on

[2020-03-14 04:38] #163 closed

[2020-03-14 07:17] majick777 commented on #153
Some minor changes:
- Added a link to the Show description read more hellip [...]
- Separate earlier display for the current show shift
- Indicated the current show shift in full schedule with disc
https://radiostationdemo.com/widgets/

Reopen if there is anything further...

[2020-03-14 07:17] #153 closed

[2020-03-14 07:20] majick777 commented on #76
Closing. These are all in the new documentation now.
https://netmix.com/docs/shortcodes/

[2020-03-14 07:20] #76 closed

[2020-03-14 16:57] tonyzeoli opened #164 "[Docs] Add screenshots to readmes"
**Is your developer task related to a problem or a requirement? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

We should have screenshots in the WordPress.org page. If we can add those to the read.md file, that would be great.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Display

[2020-03-15 15:37] corbyradio opened #165 "[Master Schedule Views] Add Show Description Shortcode Attribute"
Is it possible with the tabbed view to include a short description of the show, maybe through a custom field, it would be good to be able to include a description so listeners can see what the show is about without having to click through to the show page.

Also, is it possible to either add the ability to remove the end time from each show or make it option? I know this can be achieved by editing

[2020-03-16 00:55] tonyzeoli commented on #165
@corbyradio We will consider these. I'm not sure yet that we can get to these enhancements for 2.3.0 as we've pretty much closed development and are in testing only for bugs. But, we can probably get this out in a 2.3.1 soon thereafter, barring any unforeseen issues. I'm going to split these into two feature requests with their own tickets. I'll keep this ticket for the first request and separate

[2020-03-16 01:00] tonyzeoli opened #166 "[Shortcodes] Make End of Time Display Enable or Disable"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Is it possible to either add the ability to remove the end time from each show or make it option? I know this can be achieved by editing the master-schedule-tabs.php however it would be nice to have this as a setting

**Describe the soluti

[2020-03-16 01:01] tonyzeoli commented on #165
@corbyradio Follow here: https://github.com/netmix/radio-station/issues/166#issue-581905948 for enhancement to on/off end of time in the adm view.

[2020-03-17 11:52] majick777 commented on #7
The new documentation has been added to the plugin Help page now.

[2020-03-17 11:52] #7 closed

[2020-03-17 12:49] majick777 commented on #82
Readmes have been updated with the latest changes/FAQs.

[2020-03-17 12:49] #82 closed

[2020-03-17 12:52] majick777 commented on #164
I currently have these Screenshots (saved from the pre-release post):

1. Weekly Schedule View
2. Show Page Layout
3. Admin Settings Panel
4. Show Conflict Display

It should be noted these correspond to WordPress SVN /assets/screenshot-x.png files.
Also that changes to WordPress SVN assets can be updated separately to the release (and the plugin readme.txt can also be changed on the repository wi

[2020-03-19 09:53] majick777 commented on #166
I don't think there needs to be an option for something minor like this as it's more a diplay thing.
It can be simply hidden with some CSS.

I've added an extra span class to the existing one to help with that targeting so it can be removed sitewide by:

`.rs-end-time, .rs-sep {display: none;}`

Or for a particular context, as for example for list view:

`#master-schedule-tabs .rs-end-time, #maste

[2020-03-19 09:53] #166 closed

[2020-03-19 09:53] majick777 commented on #165
Since we had the code handy for this from shortcodes, and it's a simple copy and paste, I've gone and included this even though it's a bit last minute.

With the latest develop branch, you can add the attribute `show_desc="1"` to a Master Schedule shortcode (table/tabs or list view.) It is off by default.

The description comes from the show post excerpt field, which is handled by WordPress. ie. y

[2020-03-19 09:53] #165 closed

[2020-03-26 03:17] majick777 opened #167 "[Playlist] Track Re-ordering Arrows"
Add arrows to the Playlist track rows to allow re-ordering tracks.
Optionally drap and drop of rows could be implemented in the future.

[2020-03-27 11:15] majick777 commented on #92
Didn't realize this ticket was still open, this was done a while ago now. Closing.

[2020-03-27 11:15] #92 closed

[2020-03-28 02:38] majick777 commented on #149
This one is a nice feature, but is a bit tricky, so thinking we could move this to Pro...
As discussed, integrations could also be done with iCal and Google Calendar in future.

[2020-03-30 01:51] tonyzeoli opened #168 "[Playlist] Add support for non-music entries on a playlist"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Some users may not broadcast music or may have music and talk oriented programming either independently per show or a music show and a talk show. In the show, they may have scheduled interviews or pre-recorded programming and they may want

[2020-03-30 01:56] tonyzeoli opened #169 "[Roles] Add roles News/Talk Users"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Per my request to allow users to add non-Music playlist entries, we should also add the following roles for non-Music organizations:

Announcer
Reporter / Journalist

**Describe the solution you'd like**
A clear and concise description of

[2020-04-02 17:43] tonyzeoli opened #170 "[Station Directory] Add legal disclaimer and accept button regarding API pulling station data from station websites"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

On the legal side, something we need to do is to figure out a way for the station to agree that signing up for the Directory, they agree that the plugin can pull data from the plugin on their website and store that data on our website.

**

[2020-04-02 17:47] tonyzeoli opened #171 "[Station Directory] Station Types"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

We'll have broadcast, online, and podcasters using the plugin. We'll need to add Station Type to the Directory listing.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

1. Broadcast w/ Onli

[2020-04-02 21:56] tonyzeoli opened #172 "[Shows] Display a list/grid of all hosts/djs on a page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Many stations have a list of all Host/DJs on the station website.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Add page template for all station Host/DJs in alpha order by last name.
Ad

[2020-04-02 21:59] tonyzeoli commented on #172
@majick777 This should also be created automatically if we add "Reporters/Journalists" as a user role.

[2020-04-03 00:52] tonyzeoli opened #173 "[Roles] Add Reporter/Journalist"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, we only focus on music, but there are many talk only and news only stations that would not use Radio Station if they believe it's only music-driven. There are 1,700 Talk format stations in the United States as of 2019. We need t

[2020-04-03 00:57] tonyzeoli opened #174 "[Add Ons] Add Local Traffic Widget and Shortcode"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Local radio stations love traffic and weather and we'll want to add this feature to appeal to a broader radio station base.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Using the Google

[2020-04-03 01:00] tonyzeoli commented on #174
@trystant and @majick777 - can you guys get together to discuss this Add On?

[2020-04-03 01:07] tonyzeoli opened #175 "[Add Ons] Create Addon for Local Weather"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Radio Stations need Local Weather information for their websites.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

We need to create a Local Weather add-on, so a station can add local weath

[2020-04-03 01:26] tonyzeoli opened #176 "[Add Ons] Create Add On to display Local News via Google News API"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Some Radio Stations will need News for their websites as a traffic driver.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Create and Add On to allow sites to display local news from Googl

[2020-04-03 01:35] tonyzeoli opened #177 "[Add Ons] Create add on to cross post data from Airtime Pro to Radio Station"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Airtime Pro is a very popular radio station automation software, but users must build their own integrations with WordPress.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

There should be

[2020-04-06 22:42] PAOK1926 opened #178 "[Widgets] Filter default_name to allow for images"
hello,

i can use the widget and set ‘default_name’ => The text you would like to display when no show is schedule for the current time.
it would be useful to be able to add an image for the “auto pilot” feature ..

regards,
George

[2020-04-06 22:43] PAOK1926 opened #179 "[Table Schedule] Add attribute to set day starting hour / hide hour rows"
hello again,

another feature would be to set the starting hour of the program at master-schedule shortcode.
Day starts at 6,7,8 am usually.. :)

[2020-04-08 04:13] majick777 commented on #178
I will probably just add a custom filter to this text so that it can be replaced with an image using custom code, instead of making this a full shortcode/widget option.

[2020-04-08 04:18] majick777 commented on #179
Thanks for the suggestion. I have actually considered doing this in the past, but it hasn't been the right time to do it, given this is actually a way more complex change than it might seem. So we probably won't prioritize this particular possibility just yet, but we'll see how we go.

[2020-04-09 03:11] majick777 opened #180 "[Schedule Table View] Hour translations in 12 hour format all shows disappear"
From Bug Report Thread: https://wordpress.org/support/topic/after-update-empty-program/

All Shows are missing from Schedule table when using 12 hour format display.

[2020-04-09 03:14] majick777 commented on #180
On further investigation, a translated hour label in combination with 12 hour format was causing hour start and end times to return empty values, preventing the display of any shows within those times in every table cell.

24 hour format display and 12 hour format display in English should be unaffected, as it was the translation of meridiems (am/pm) that was causing the failure.

Pushing fix to d

[2020-04-09 03:27] #180 closed

[2020-04-09 08:33] majick777 commented on #164
This was done just before 2.3.0 release. For reference the screenshots for this release are:

1. Table Schedule View
2. Tabbed Schedule View
3. Show Page Layout
4. Playlist Page Layout
5. Current Show Widget
6. Show Archive List Shortcode
7. Admin Settings Panel
8. Show Conflict Display

[2020-04-09 08:33] #164 closed

[2020-04-09 09:20] majick777 opened #181 "[Admin Option] Setting to ping Netmix directory on schedule updates."
In order to keep the Netmix Directory Listings updating efficiently, it needs to periodically check the Data API URLs for the site. So a user option to ping the server when there are schedule changes can improve the freshness of this data and reduce server resources.

(Note that per WordPress repository rules. this *must* default to OFF and be turned activated by the user, but this is fine, we can

[2020-04-10 07:50] herr-der-mails opened #182 "table view"
Hello
i'll like this great plugin but i have one think that i dont like at the moment,
thats the table view, the radtio station i work on, is only 12hours on air, so i dont need the full table, is there any way to reduce the table to the hours we ware on air?

[2020-04-10 08:25] XLRradio opened #183 "[Schedule] Some Overrides being ignored"
**Describe the bug**
When overriding the schedule with a schedule change in the upcoming shows widget it still lists the show coming up it overrides
**To Reproduce**
Steps to reproduce the behavior:
schedule a schedule override and the upcoiming shows widget still appears with the show it overrides

**Expected behavior**
I expected the show it overrided not to appear for example we have a show ext

[2020-04-10 14:10] tonyzeoli commented on #182
Hi, I'm sorry. We want to answer your question, but this is not our support forum. This is for bugs and feature requests.

Please post your issue here: [](https://wordpress.org/support/plugin/radio-station/) and we'll get to it as soon as we can.

[2020-04-10 14:10] #182 closed

[2020-04-10 14:14] tonyzeoli commented on #183
@majick777 I've assigned this to you to pick up and address. Thanks.

@XLRradio Thanks for reporting this. We'll look into it and if an issue, will fix in for the next release.

[2020-04-11 02:33] majick777 commented on #183
@XKRadio thanks yes you are correct in the expected behaviour. I will do some further testing on this to reproduce and confirm.

[2020-04-11 06:12] XLRradio commented on #183
Thank You,
Also the bug, doesn't recognise the show its replacing anymore, which may be the same problem. in show overrides it used to list what show it was affected by the change. Yes all in all plugin very buggy version 2.3.0,
Most of the time it misses out in the up coming shows widget what shows are coming up next whether its a override or normal show,
 theres bugs in the schedule, especially

[2020-04-13 15:26] herr-der-mails opened #185 "[Schedule Table/Tabs] Javascript for Arrows"
`<a href="javacript:void(0);" onclick="radio_shift_tab('left');" title="Previous Day">◄</a>`
occur an error at firefox (the right button event the same)
the event url dosnt reload the page

the script say reload /https://myurl.de
i think is because of the adiditonal slash at the event. this is only at firefox.
i have search for the line at wordpress plugin editor, but i could not find the php file

[2020-04-13 22:57] majick777 commented on #183
@XLRradio hmmm ok that's a few you found there! I am going to need some more information to help track these down, as we haven't been experiencing these in our testing so far. Could you provide a link to your site so I can check your specific shifts and overrides to help me reproduce these issues. (If you have your API feed enabled there that would help too as I can access your data more easily th

[2020-04-14 00:58] majick777 commented on #185
@herr-der-mails Thanks for pointing that out, yes it seems like Firefox is ignoring `javascript:void(0);` and so I have added to the arrow functions a return false to prevent the default click action triggering the change in window location.

I have added this to 2.3.1 and also pushed to the fix to the develop branch.

[2020-04-14 00:59] #185 closed

[2020-04-14 01:30] majick777 commented on #178
@PAOK1926
Since this was an easy one, I have added the following filters in to the develop branch for 2.3.1:
`radio_station_no_current_show_text`
`radio_station_no_upcoming_shows_text`
`radio_station_no_current_playlist_text`
So you can use those to filter the HTML output for the corresponding shortcodes/widgets

[2020-04-14 01:30] #178 closed

[2020-04-14 01:55] tonyzeoli opened #186 "[Add Ons] Create Add On to display Local News via Google News API"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Some Radio Stations will need News for their websites as a traffic driver.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Create and Add On to allow sites to display local news from Googl

[2020-04-14 02:01] majick777 commented on #172
Possible duplicate of #1

[2020-04-14 02:13] majick777 commented on #126
@trystant This is the main ticket assigned to you. Let me know if there's been any progress, and update us on your availability to proceed with it.

[2020-04-14 02:39] majick777 commented on #9
Some options of note here, now that we have both rewritten shortcodes and a REST API data model, either could be used with blocks:

1. Shortcodes via the Shortcode Block (or within any block that supports shortcodes)
2. If there is a "Widget Block" that provide the widget options for the shortcode
3. New blocks that provide their own interface to the shortcode options, similar to widgets
4. New bl

[2020-04-14 02:49] majick777 commented on #1
Copied from duplicate ticket #172:

**Describe the solution you'd like**
Add page template for all station Host/DJs in alpha order by last name.
Add About Host / DJ text. Add Show(s) featuring Host DJ and link to Show(s).
Show number of posts attributed to Host / DJ and add link to posts by Host / DJ.
Display social media icons for host DJ. Pull from Profile.
Display contact Host / DJ by email ico

[2020-04-14 02:49] majick777 commented on #172
I am closing this here as I have copied the issue notes to #1

[2020-04-14 02:49] #172 closed

[2020-04-14 02:51] majick777 commented on #1
Actually since we have Host and Producer Profiles slated as part of Pro, this should probably be transferred there instead.

The free version has author template and author archive list support, if we want to improve those we can do that via #36

[2020-04-14 06:10] majick777 opened #187 "[Countdown Timer] Possible Timezone Conflict"
**Describe the bug**
via @XLRadio #183 : "When enabling the countdown timer to on air now and to up coming shows it says on the on air now widget that the show has ended and in up coming shows it says that the next show has started. I don't know if the plugin is running an hour or 2 fast and not listening to the setting in settings."

**Additional context**
Needed report detail:
- Check server def

[2020-04-14 06:45] majick777 opened #188 "[Shortcodes] Language Archive Shortcode"
Similar to the Genres archive shortcode, but for displaying Shows by Language instead of Genre.

`[show-language-archive]` and/or `[languages-archive]`

[2020-04-14 08:58] XLRradio commented on #183
@majick777 now we've stopped the schedule overides, it seems to be settling apart from a few things, the countdown thing, and sometimes it ignores what the shifts are for a particular show and the on air now widget sometimes says, No shows scheduled.

Could this be the  Website theme im using? as its a redundant theme now I think, but I liked the look of it.

[2020-04-14 09:18] XLRradio commented on #185
This weren't just firefox issue, Microsoft Edge had a problem with the Arrows and javascript message too

[2020-04-14 09:18] XLRradio commented on #185
@majick777

[2020-04-14 12:32] trystant commented on #126
Hey there. I haven't made any progress on it, but will be stepping back
into this later this week.

On Mon, Apr 13, 2020 at 10:13 PM majick777 <notifications@github.com> wrote:

--

Mark Nyonmark@grandkru.com

blog.grandkru.com

github.com/trystant