[2020-04-14 14:04] majick777 commented on #183
It definitely isn't your theme, as the plugin is now fully theme independent.

Ok, so I have done some further testing and added a couple more time checks within the schedule override calculations to improve them so that they more robust to varying conditions. As an override has to be applied and re-applied until the right conditions are met, it's a bit fiddly to cover all those possible condition

[2020-04-14 14:31] XLRradio commented on #183
how do I replace installed plugin without losing shows etc?

[2020-04-14 23:34] tonyzeoli commented on #183
As with any plugin upgrade done manually, you can rename the current buggy
plugin folder on the server to something like, “radio-statio++” and it will
disable the active version. Then, upload the new version via FTP/SFTP and
rename the folder to “radio-station” and it will hook into the database.
The show data is in the database tables the plugin registers in the
database, so data is always there

[2020-04-15 02:48] majick777 commented on #183
All your Shows, other data (and settings etc) are in the WordPress database.
Replacing the plugin files (or a single plugin file) like this will not affect your data.

[2020-04-15 03:10] majick777 commented on #126
Okay great, yeah see how you go with it, is an interesting one.
Looks like we will be releasing 2.3.1 as a bugfix version to 2.3.0 as planned.
We haven't set a date for 2.3.2 or 2.3.3 but this would be a nice one to include in one of those.

[2020-04-15 05:58] XLRradio commented on #183
Right Done That and the Countdown Still Saying current show has ended and other show started no countdown or anything so that's not fixed in widgets yet.

[2020-04-16 01:42] majick777 commented on #183
I've added a separate issue for the countdown #187 if you could read that and add any more information there.

But for here can you let me know if there are any other issues remaining from those you listed after installing the develop version.

[2020-04-16 01:49] majick777 commented on #185
Thanks for confirming. Adding the return false to the javascript function is a common practice fix to prevent the default click so should work for all browsers, even very old versions.

[2020-04-16 05:06] XLRradio commented on #187
Time zone is BST _+1 in wordpress and in plugin settings

[2020-04-16 05:07] XLRradio commented on #183
@majick777 I will let u know

[2020-04-17 00:00] agrady10 opened #189 "[Schedule] Not Displaying Some Shows"
Any shows ending at the bottom of the hour are not displayed to that amount of time on the schedule.  If a show begins at the bottom of the hour just after another show ends, the second show is not indicated at all but the previous show extends to the following show's end time.

[2020-04-17 04:46] majick777 commented on #187
@XLRadio Thanks for confirming that. Just to clarify that is also in the PHP settings?

Also if possible could you provide an URL where the widget is displaying so I can do some debugging on it with javascript to investigate further?

[2020-04-17 06:19] majick777 opened #190 "[Plugin Conflict] Possible conflict with Yoast SEO plugin"
**Describe the bug**
Reported here by @gusaus: https://github.com/OpenProducer/openproducer-platform/issues/9
"I verified again that Yoast is the cause of the show pages not displaying properly. So it's currently disabled."

**To Reproduce**
Install Yoast SEO with Radio Station and check show pages.

**Additional context**
First noted in conjunction with Newspack, so unlikely but possible conflict

[2020-04-17 07:01] majick777 commented on #181
I have added some code to do the ping and some code on the server to receive it. Still need to add triggers for this and then do further testing.

[2020-04-17 19:41] PDym opened #191 "[Freemius] Locked out of site after upgrade activation"
**Describe the bug**
A clear and concise description of what the bug is.
After upgrading to version 2.3.0 when clicking on Radio Station Settings it gives the option of opting in or not.  Clicking to opt in or opt out the page immediately goes to 404 access not permitted. When the plugin is activated I am no longer able to login to the site. Fortunately I had another window open and was able to de

[2020-04-17 19:47] PDym commented on #191
Forbidden

You don't have permission to access this resource.

Additionally, a 403 Forbidden error was encountered while trying to use an ErrorDocument to handle the request.

[2020-04-17 21:07] gusaus commented on #191
Not sure if it's related, but I get this message when I enable Radio Station plugin -

![WordPress › Error 2020-04-17 14-00-43](https://user-images.githubusercontent.com/113996/79613679-d50b2480-80b3-11ea-9de0-e22f25a5187c.png)

When I refresh the browser, I'm taken to the next installation step -
![Radio Station Settings ‹ OpenProducer — WordPress 2020-04-17 14-07-26](https://user-images.githubus

[2020-04-17 21:14] tonyzeoli commented on #191
Don’t know what that is. Doesn’t look like anything we added to our plugin
unless there’s something I don’t know.

On Fri, Apr 17, 2020 at 5:08 PM Gus Austin <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-04-17 21:16] tonyzeoli commented on #191
Oh wait, that’s Freemius. Yes that is in Radio Station. It’s the future of
Radio Station PRO.

On Fri, Apr 17, 2020 at 5:14 PM Anthony Zeoli <az@digitalstrategyworks.com>
wrote:

--
Sent from Gmail Mobile

[2020-04-17 21:17] tonyzeoli commented on #191
That might only be viewable by logged in admins.

On Fri, Apr 17, 2020 at 5:08 PM Gus Austin <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-04-17 21:28] PDym commented on #191
Hi Tony, gusaus is correct, that's the screen I get. When I tried "skip" I get the Forbidden 403 error and so I tried "Allow & continue" and got the same message, I can no longer login to the site even tho I am the Administrator. I did manage to deactivate and reload 2.2.8. We are hosted on an older server that we hope to switch from but got delayed by the covid mess. I'm not sure if that is it or

[2020-04-18 09:00] tonyzeoli commented on #191
Okay, thanks for the report. We will look into it.

On Fri, Apr 17, 2020 at 5:28 PM PDym <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-04-19 07:40] majick777 commented on #191
There was an errror in the "first-path" redirection URL processed in the plugin settings loader file (`loader.php`) and passed to Freemius.
This bugfix has already been added to the develop branch for inclusion in 2.3.1
You can install the develop branch version to fix the problem, alternatively you can delete the /freemius folder in the plugin directory to bypass Freemius loading.

[2020-04-19 07:46] majick777 commented on #189
@agrady10 I'm trying to reproduce this. Can you provide some more exact shift times that this is happening with? And maybe clarify what is meant by "the bottom of the hour"?

As you can see on the demo site, there are plenty of shows that have a start time equal to the previous show's end time and they display fine, so I'm going to need some more nformation.
https://radiostationdemo.com/master-sch

[2020-04-19 07:49] majick777 commented on #53
@tonyzeoli I believe you mentioned an updated Dutch translation, I was wondering if that has been committed?

[2020-04-19 07:52] majick777 commented on #61
Just a follow up point on this one, we can still be adding image displays to the readme.md file so that they show up on the repository page.

[2020-04-19 11:26] agrady10 commented on #189
The show times are 8:30 - 10:30 with the next show beginning at 10:30 -2:00. 
Same issue occurs with a show ending at the 30 min mark (bottom of the hour)  with two different shows. 
For reference, https://thebluegrassjamboree.com/schedule
Both are on Saturday; first occurrence in the morning, second in the evening. 

Annette Grady, Owner/Host

The Bluegrass Jamboree           

(919) 920-3405    

[2020-04-19 12:22] tonyzeoli commented on #53
Not yet. It’s been added to the WordPress language page by the contributor
but he did not send us the files. See the support forum for his note about
his work.

On Sun, Apr 19, 2020 at 3:49 AM majick777 <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-04-20 19:46] boywondr16 opened #192 "[Show Shifts] Adding new show, shift won't save"
I've run into this problem when adding a new show since updating to the current version: shift does not save.

Everything else is saving, but no shift time is saving, as shown in the 3 screenshots attached.

I also have no access to change user roles...I downloaded the version of the plug-in from here today, disabled, deleted the previous version, uploaded the one I picked up today and still am ha

[2020-04-22 13:18] XLRradio commented on #183
Seems to be fine right now but haven't done anything like do a schedule override.......when will 2.3.1 be out?

[2020-04-22 13:59] tonyzeoli commented on #183
Most likely within the next 7-days.

On Wed, Apr 22, 2020 at 9:18 AM XLRradio <notifications@github.com> wrote:

[2020-04-23 01:46] tonyzeoli commented on #191
@majick777 I think this is completed, so I'll close for now.

[2020-04-23 01:46] #191 closed

[2020-04-23 02:00] tonyzeoli commented on #190
@majick777 I can confirm Yoast breaks Radio Station Show page. When activated, the left sidebar goes away on a Show page.

[2020-04-23 02:02] PDym commented on #191
I got side tracked with other projects, so I'll wait for 2.3.1 to give it another go. Thank's Tony.

[2020-04-23 21:28] Sparky1172 opened #193 "[Time Display] Timezone incorrect/Shows showing at wrong times"
Hi Folks, having some issues with the shows times feature on the plugin. I have set the time zone correctly but doesn't seem to be displayed in the correct times.

Any ideas on how to fix?

Using MAC 10.14.6 with Safari

Thank you

[2020-04-24 05:06] majick777 commented on #190
Confirmed. Due to Yoast calling `the_content` filter multiple times (by using `the_excerpt` to generate Twitter and Opengraph data) and Radio Station removing it's content filters after use  then the content changes are lost on the second time filtering. And a similar thing was happening to all Automatic Pages (blank.)

https://github.com/Yoast/wordpress-seo/issues/5956

It's not really optimal fo

[2020-04-24 05:06] #190 closed

[2020-04-24 05:50] majick777 commented on #189
@agrady10 Thanks for the added information.

Confirmed. Added a fix to reset the showcontinued flag that was causing second show shifts in a cell to not display empty. Added to develop branch for release in 2.3.1

[2020-04-24 05:50] #189 closed

[2020-04-24 05:53] majick777 commented on #193
@Sparky1172 Can you provide a little more information so that we can try to reproduce this? There are a number of places where times are displayed, can you be more specific which ones are displaying incorrectly?

[2020-04-24 05:54] majick777 commented on #193
Also it might be helpful to check whether your server timezone, WordPress timezone and Radio Station timezone setting differ and report that here.

[2020-04-24 14:02] tonyzeoli commented on #190
@majick777 Thanks!!!!!! Good work.

[2020-04-26 07:33] Sparky1172 commented on #193
Hi mijick777,

Sorry it has taken me so long to get back to you.

I am try to display the current presenter/show that is on.

I have attached some screenshots, the first one shows the times allocated for each show, I reversed the times AM times for PM and vice versa as that seemed to work...For a bit

<img width="1680" alt="Screen Shot 2020-04-26 at 5 22 36 pm" src="https://user-images.githubuserc

[2020-04-26 11:13] majick777 commented on #193
Okay, so the display in the Current Show widget...

I did fix a bug with this recently, so first thing you could try would be to install the latest develop version to see if that solves the problem:
https://github.com/netmix/radio-station/tree/develop

Also can I check if you have a page cache? Sometimes that can cause old content to display.

[2020-04-26 11:49] #183 closed

[2020-04-26 12:04] majick777 commented on #192
This one is a bit tricky to debug without access to your admin to find out what is going on...
What you can try is adding `&rs-debug=1` to you edit page URL.
ie. `post.php?post=350716&action=edit&rs-debug=1`

Then when you click Update, after saving it should exit with some debug information output instead of redirecting back to the edit page.

[2020-04-26 13:14] XLRradio opened #194 "Now Playing Info"
Hi All
 Is it possible to include a Now Playing Widget so we could add the current now playing info from the Stream you put in so it can be visible on the website, and have options to include the size of the font etc?

[2020-04-26 13:16] XLRradio opened #195 "[Widgets] Dynamic Reload Feature"
Hi all,
 @majick777
Just a question. Has auto update of widgets been included in this plugin yet? as on the old version it didn't include it and had to get a plugin to do it.
Thank You

[2020-04-26 21:21] XLRradio commented on #194
@majick777 when will the player be up and running too?

[2020-04-26 22:20] tonyzeoli commented on #194
Radio Startion already has a playlisting widget. Start your playlist under the playlist admin and assign it to a show. Add songs to playlist generator and they will appear in the widget.

We have plans to add a sidebar audio player to handle your shoutcast or icecast stream in FREE. We are just starting to look at our options and expect that will come sometime in the next 60 days.

We will offer a

[2020-04-26 23:00] majick777 commented on #195
Are you referring to widgets reloading themselves when the show finished / new one starts?
Or do you mean something else by "auto updates"?

[2020-04-27 04:50] XLRradio commented on #195
like a auto refresher.

[2020-04-27 04:56] XLRradio commented on #194
No I don't mean the playlist function where you add your own playlist. I mean pulling the metadata from the stream. so whatever is playing out on a URL it comes up on the now playing widget.

[2020-04-27 05:03] XLRradio commented on #194
@tonyzeoli bit premature weren't u? closing this subject before you get an answer????

[2020-04-27 06:42] XLRradio opened #196 "Now Playing Info"
Hi All
Is it possible to include a Now Playing Widget so we could add the current now playing info from the Stream you put in so it can be visible on the website, and have options to include the size of the font etc?
tonyzeoli commented
Radio Startion already has a playlisting widget. Start your playlist under the playlist admin and assign it to a show. Add songs to playlist generator and they wil

[2020-04-27 10:55] tonyzeoli commented on #196
First, don’t be a snarky. You asked a question that did not provide the level of detail in your follow up. Look at your own question and tell me if you provided the same level of detail as in your follow up question. You asked the question and you left out a level of detail that you only provided in your second message. Right now, we’re all dealing with how the coronavirus is affecting each and ev

[2020-04-27 10:55] #196 closed

[2020-04-27 11:52] majick777 commented on #195
Yes, we have started work on this feature already and it will be part of the Pro version.

[2020-04-27 11:52] #195 closed

[2020-04-27 12:46] XLRradio commented on #196
@tonyzeoli hello I am sorry if I sounded snarky. and sorry I didn't provide more information but in hindsight you could have asked for more info instead of just closing it. and OMG I would be interested in automation software

[2020-04-27 13:21] majick777 commented on #181
Ping triggers have been added (on show and override update.)
Ping server has been added and tested and works fine.
Going to call this one done and include it with 2.3.1

[2020-04-27 13:21] #181 closed

[2020-04-27 14:57] tonyzeoli commented on #196
Thanks for your apology.

You had a very specific request which I answered to the best of my ability given what you posted. I didn't have to ask a question, because you were asking about something we already do.

Please look into Azuracast. They have a free radio station automation software and we may be choosing that one to start with. We're already in talks with them to sync their system to Radi

[2020-04-27 16:47] boywondr16 commented on #192
No luck. It took me right back to the edit page.

On Sun, Apr 26, 2020 at 6:04 AM majick777 <notifications@github.com> wrote:

[2020-04-27 17:04] boywondr16 commented on #192
Yeah, this just does not work. I've deleted out the directory from FTP and
reinstalled. Still nothing.

If you'd like, I can get you admin permissions. Just let me know, because
I'd like to be able to use the new version, but this is doing me no good
right now.

On Mon, Apr 27, 2020 at 10:47 AM Troy Coverdale <troy.coverdale@gmail.com>
wrote:

[2020-04-27 22:44] scottdutton12 opened #197 "Create Custom On Air DJ Widget"
Hi,

Would any of the developers for this plugin please get in contact with me regarding a custom display of this widget.

Looking to get the show title AND show schedule/show time to show one above the other and be able to align it either side of the image.

For example:

The Radio Show (Title)
4:00pm - 6:00pm (Schedule info)

At the moment the schedule info only shows right at the bottom of the

[2020-04-28 16:23] tonyzeoli opened #198 "[Site] Mobile Menu not clickable"
**Describe the bug**
A clear and concise description of what the bug is.

The mobile menu in Netmix.com is not working correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Netmix.com on a mobile device
2. Click on Menu
3. Nothing happens

**Expected behavior**
A clear and concise description of what you expected to happen.

Menu is supposed to drop down.

**Screenshots**
If appli

[2020-04-28 16:41] tonyzeoli commented on #197
@scottdutton12 Thaks for posting this request.

First, have you looked at all the options on the demo site?

[](https://radiostationdemo.com/widgets/)

Do any of those options work for you?

I guess you're wanting the show time inline with the show avatar so that the showtime displays to the right, instead of below the image. From what I gather, you went through these options, so my first question

[2020-04-28 19:17] scottdutton12 commented on #197
Thanks, I want the show time to show directly below the show title.

For example, when I have an image and assign the show title to the right, I want the show time to show with the title but underneath on the next line and not under the image on its own. It looks so messy just under the image on its own 😬

I’ve attached a photo of another station website that uses your plugin.

![4D924636-4CC9-4F8

[2020-04-28 20:01] tonyzeoli commented on #197
Okay, here's what I propose.

I'll talk to Tony Hayes about modifying/changing the plugin to display the
show time inline with the avatar on the right or left or top or bottom. We
already set this going forward in 2.3.0, now we may go back and revisit
given your request. I don't think it's unreasonable at this point to just
set it that way. I don't know the reason we put it where it was in the
fir

[2020-04-28 20:23] scottdutton12 commented on #197
Ok thanks no problems

There must be a way to add code somewhere as the above station has had it like that for a while, this display links back to my request I made to you guys last year, the same still applies for how I wanted it to display 😊

This wont be shown in any widget just on the top header if it’s easier to supply code for just that?

Thanks again!

Scott

[2020-04-29 09:22] majick777 commented on #192
This may be related to the user capabilities issue you posted on the WordPress Support Form and caused by that. The other user in that thread got around his problems by adding a new user and giving them the Show Editor role., so you can try that to conifirm whether it makes a difference.
Did you check your user capabilities with the User Role Editor plugin yet?

If this turns out not to be the cau

[2020-04-29 09:24] majick777 commented on #193
@Sparky1172 Any luck?

[2020-04-29 10:28] majick777 opened #199 "[Options] Add Station Logo URL and Tagline Fields"
Add a plugin option for setting a Station Logo URL, and a Station Tagline field, which can be added to the Data API output for display.

[2020-04-29 11:37] majick777 commented on #197
So we have discussed this a bit further and happy to change the default order in the Current Show Widget (and in the Upcoming Shows Widget) to have the current shift display after the hosts, as we still want to have the sanest default section order. (These were re-ordered when re-written so you are seeing a probably seeing an old version of the plugin in that screenshot.)

You may or may not have

[2020-04-29 11:49] majick777 commented on #197
So we have discussed this a bit further and happy to change the default order in the Current Show Widget (and in the Upcoming Shows Widget) to have the current shift display after the hosts, as we still want to have the sanest default section order. (These were re-ordered when re-written so you are seeing a probably seeing an old version of the plugin in that screenshot.)

You may or may not have

[2020-04-29 13:28] boywondr16 commented on #192
It is related, and thanks for your patience with me for double posting. I
did see the workaround and found that I could utilize it, too.

User Role Editor showed that the Administrator role had all permissions,
yet it took using the workaround to get a shift to post correctly.

Thanks, again! Appreciate you and Tony working so hard on this plugin.

On Wed, Apr 29, 2020 at 3:22 AM majick777 <notifi

[2020-04-29 16:16] majick777 commented on #197
If you want to display the widget somewhere other than in an existing widget are, you can use the widget shortcode for that. For any further customization requests you can contact me via:
https://wpmedic.tech/contact/

[2020-04-29 16:16] #197 closed

[2020-04-30 04:12] majick777 commented on #194
@XLRradio Yes we will be definitely be exploring the option of reading the stream info and pulling the playlist from that. In order to integrate this properly though, we really do need to get the player in place first.

[2020-04-30 04:24] majick777 opened #201 "[Playlist] Add start and end time markers for tracks"
Adding this ability would open up a new possibility of manual or automatic track navigation, when restreaming the latest Show file, and for Show Episodes in future.

[2020-04-30 04:43] majick777 commented on #192
@boywondr16 Thanks for the further detail, this sure is a strange and tricky one.

Can I just confirm whether you are on multisite or not as the other user was and I'm not sure if this is/was part of the issue.

One further thing you could try would be to remove the editing revocation from those without capabilities and not assigned as hosts/producers:
`<?php remove_filter( 'user_has_cap', 'radio_

[2020-04-30 06:46] XLRradio opened #202 "[Widgets] Javascript-AJAX load of widgets to bypass caching issues"
**Describe the bug**
very randomly the now on air widget does not display the show that is currently on air
![image](https://user-images.githubusercontent.com/63446711/80679924-bf372f80-8ab5-11ea-8e69-276690095546.png)
I have checked the show details
![image](https://user-images.githubusercontent.com/63446711/80679842-9adb5300-8ab5-11ea-93cf-9a1d398fa521.png)
that is all green and times are in etc

[2020-04-30 10:38] majick777 commented on #194
Rechecked my notes and this feature was slated for the Pro version.

[2020-04-30 11:37] tonyzeoli commented on #202
Can you narrow down examples of which shows are not displaying or is it
just random?

On Thu, Apr 30, 2020 at 2:47 AM XLRradio <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-04-30 12:05] majick777 commented on #194
Sorry I didn't clarify this properly at all as I first thought! A further explanation is required, as the three of us were not on the same page, I somehow assumed you were talking about Icecast/Shoutcast streams, but you didn't actually mention those. I was trying to repurpose this ticket for that, but then didn't do it properly.

For reference, this is why I had this in mind:
https://stackoverflo

[2020-04-30 21:18] XLRradio commented on #202
hi @tonyzeoli its just random theres no rhyme or reason to it.   it may be that the time on the plugin isn't right still? but surely it would be doing it to all of the shows... very strange. if I spot it then I go into the show and click update and it reappears.. if that helps.  maybe the auto update of widgets aint working properly?

[2020-05-01 06:58] PKABKMY opened #203 "Patreon change of domain and logo"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-01 06:59] PKABKMY commented on #203
It would be good if there was an option to change the domain and logo in the Patreon system. There is a local service in my country and I have no way to change it here.

[2020-05-01 15:50] nicolaparente opened #204 "podcast"
I would like to insert podcasts of audio files taken from the radio to be inserted automatically on my wordpress site. Is there an automated procedure that allows you to do this?

[2020-05-01 15:57] majick777 commented on #203
This feature was intended specifically for Patreon use, not for any image/URL.
Currently you can filter the output array for the Show page using the filter: `radio_station_show_page_blocks`
I've added a filter `radio_station_show_patreon_button` for the next version which will be released shortly, so you can use that also to change it to something else manually if you want.

[2020-05-01 15:57] #203 closed

[2020-05-01 16:10] tonyzeoli commented on #204
That’s a great question and something we have been thinking about for a future release. But we’re going to add Episodes to the plugin first, so that each show will have an episode and possibly a segment of an episode and then you’ll be able to insert podcasts into each subset. For now, we recommend using any standard WordPress podcasting plugin. You can use category podcasting with the plugin and

[2020-05-01 16:11] majick777 commented on #204
Currently you can manually specify the URL of the latest broadcast of a Show on the Show Edit page, and that will play via the media button on the Show page.

For the now if you want to specify a different URL, you can use the filter `radio_station_show_file` (found in `/templates/single-show-content.php`) with some custom code. I'm not sure where you are getting the podcast URLs from, but it woul

[2020-05-01 16:12] majick777 commented on #204
Ha that was weird we commented at the same time lol

[2020-05-01 16:39] majick777 commented on #202
@XLRradio Do you have a page cache on your site? Sometimes it can be caching the old page.

Radio Station uses transients (data options that expire) to store the schedule and currently playing Show. Saving the Show clears the transients, so it seems like it may be to do with the transient expiry time perhaps.

For the now, I have added a Plugin Option (Clear Transients) to the `develop` branch whi

[2020-05-01 17:17] boywondr16 commented on #192
No, I'm not on multisite, just running on a single one.

Keeping track on the WP support site, too, so, again, thanks for the work!

On Wed, Apr 29, 2020 at 10:43 PM majick777 <notifications@github.com> wrote:

[2020-05-01 18:16] XLRradio commented on #202
@majick777 I do have caching on my page but it don't cache any pages if that makes sense so  cant be that. I do have however a auto update widgets plugin which is still active because when I first installed radio station plugin it wasn't updating the now on air and coming up widget atall. do i try deactivating that?

so how do I update the plugin? do I delete current plugin and install this one?
a

[2020-05-01 20:57] torpix opened #205 "Auto Refresh the schedual"
I would like the schedule red box ( on current time / show ) to move when the next one starts without the users refreshing the page.

[2020-05-02 20:05] tonyzeoli commented on #205
Hey Torpix, sounds like you're asking for the border around the showtime on the master schedule to switch without refreshing the page, is that correct? @majick777 will respond to this shortly. We just worked on something similar for On Air Show widgets here: https://github.com/netmix/radio-station/issues/202. If this needs to be addressed, it will most likely be added to 2.2.2. We're just now laun

[2020-05-02 20:14] torpix commented on #205
Hello tonyzeoli, yes that's correct. Since I posted my message above, my client wanted the on-air box to auto refresh too, but I believe that is on the road map for the pro version?

[2020-05-02 20:59] tonyzeoli commented on #205
Check the other thread I posted the link to. I think we are refreshing the
on air widget but there was an issue with transients that was fixed in the
latest development version. That should resolve that one issue, but what is
the use case for refreshing the entire schedule automatically when one show
ends and another show starts? Are your users really in the schedule page
for that long? Are your s

[2020-05-02 21:02] torpix commented on #205
I asked, They said they just leave the browser tab open on the schedule page, that's it. Most shows are 2 hours long.

[2020-05-02 22:22] tonyzeoli commented on #205
Okay - I can’t promise this would be in free. We’ll talk about it
internally and weigh the cost benefit. I am in the midst of a family day
and not looking at our roadmap while writing this to remind me, but we’ll
let you know.

On Sat, May 2, 2020 at 5:02 PM Darren <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-05-04 05:57] majick777 commented on #202
I have added the instructions for downloading and testing the development version to the FAQ (see last item): https://netmix.com/radio-station/docs/FAQ/

The schedule is calculated from all the show shift and override time data. It is stored as a transient (internally cached) with the transient expiry set to the end of the current show. This mean it should be recalculated as soon as that show is f

[2020-05-04 06:42] XLRradio commented on #202
ok downloaded and using development version ill let u know if all working properly, and will change the time in the page cashing plugin what about wp auto reload of widgets plugin I already have? do I keep it for now as  it dont have it currently on the radio station plugin?

[2020-05-04 11:29] XLRradio commented on #202
Ill just leave a note here about having javascript,

In Windows 10, the Edge browser does not support plug-ins and therefore will not run Java.

so I don't know what u can do about that???

[2020-05-04 11:29] XLRradio commented on #202
quoted from java.com

[2020-05-05 10:22] XLRradio opened #206 "[Show File] Optional Disable Download of Audio File"
Hi all not a bug as such but when we put the link to the lastest audio file in, it shows the audio file on the show page but how do we get rid of the download button next to it? we don't want people to download the file just listen to it.

![image](https://user-images.githubusercontent.com/63446711/81056556-a61dec80-8ec2-11ea-9427-4f22424c649f.png)

thank you

[2020-05-05 13:37] XLRradio opened #207 "[Roles] Include Website and Social Media Links on Author Archive Page"
@tonyzeoli @majick777 on the Show page half way down there is "hosted by" with a link. is there a way we can use links to another plugin to someones profile page as we don't use wordpresses own "users" for presenter profiles?

[2020-05-05 19:42] XLRradio opened #208 "On air now Avatar Pic Quality"
@tonyzeoli @majick777  sorry guys to bombard you today but we are noticing things now,
why is the On air now widget avatar less quality pic than the show pic where the pic it comes from?
i mean why is the avatar on the on air now widget of less quality? The on air now pic is the same pic as the show pic and the featured image  is there a way to fix this?

[2020-05-05 20:17] tonyzeoli commented on #208
I would consider this a support request and not a bug or feature issue. In
the future, please delineate your activity to the appropriate forum.

This is probably not a plugin issue as much as it's how WordPress handles
images and what size you select to add the image to the Show Avatar section.

Please check this post:
https://pixelgrade.com/docs/faq/improve-quality-images-wordpress/

I would also

[2020-05-05 20:47] XLRradio commented on #208
@tonyzeoli thank you for that info i will try the stuff they advise on that website

[2020-05-05 21:34] tonyzeoli commented on #208
Sure, I'm closing this as it's not a bug or feature request.

[2020-05-05 21:34] #208 closed

[2020-05-05 21:41] tonyzeoli commented on #207
I don't think we'll be able to support this request. Once you started adding random text fields to include data that is not set in the WordPress database as a user, which can then be displayed in the user table so it's easier to add/edit/delete, you'll find that it becomes burdensome to manage where you might have added a host to a Show and then need to change that host out. All Hosts should be at

[2020-05-05 21:52] tonyzeoli commented on #206
@majick777 Can you add a setting to disable the download for audio files, please. Some stations may not be able to allow music downloads and they can't have a download button next to the audio icon. We can do something like reduce the opacity of the download button and render it not available and maybe add "Download Not Available"

[2020-05-05 22:12] XLRradio commented on #207
oh right, cause the Host name is linked up to the author page for which nothing is there cause we use "Teams" plugin to list our presenters on our website and the "users" part is just that, a profile to log into wordpress, not to list the presenters on the website, so just wish we could change that link to the link to their current profile thats all @tonyzeoli

[2020-05-05 22:22] XLRradio commented on #207
plus weve found out that it goes to a users author page which lists all the posts that the user has writen on the site which we dont want. we want that either going to a profile page or not having a link on the host name atall.

[2020-05-05 22:29] tonyzeoli commented on #207
You can use the Team's plugin but it's just going to create another custom
post type and disattach the Host from the Show page. I understand why
you're doing that, but it's not the most efficient because then Hosts of
Shows won't appear in Show/DJ On Air Widgets.

On Tue, May 5, 2020 at 6:13 PM XLRradio <notifications@github.com> wrote:

[2020-05-05 22:32] XLRradio commented on #207
ok so how do we put a profile on the author page and get it not to list all the posts the user has done on the website. plus putting the user profile on the presenter's page

[2020-05-05 22:54] tonyzeoli commented on #207
You should assign all Posts to any other user. A user can't be attributed
to a post if you don't set the author of the post to that specific user.
This is basic WordPress functionality that you should be aware of.

I think we can create a shortcode to list the different member roles on a
page. We haven't added that yet. I'll make a ticket for it.

[image: photo]
Tony Zeoli
Founder, Digital Strateg

[2020-05-05 23:00] XLRradio commented on #207
sorry id i sound thick here but how do this? i have no idea how to

[2020-05-05 23:02] tonyzeoli opened #209 "[Automatic Pages] List of Host/DJs, Producers, Editors (tabbed)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

@trystant @majick777 Broadcasters and Webcasters may use Team plugins to try and list all Show Hosts/DJs on their stations, but this list is not attached to the plugin, because they are using other plugins to do this.

**Describe the solut

[2020-05-05 23:16] tonyzeoli commented on #207
When you create any Post, there is an Author assignment on the Post. If you
don't see it, that's because it might be hidden, so you have to reveal the
meta box by click on the Screen Options to the top right of your WordPress
admin.

I strongly recommend if you're working with WordPress for the first time to
join a Meetup in your local area. There are WordPress Meetups everywhere
listed on Meetup.

[2020-05-06 01:43] tonyzeoli opened #210 "[Shortcodes] List of Hosts/DJs, Producers, and Editors (tabbed)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Associated with equest for automatic page with list of Host/DJs, Producers, and Editors here: [](https://github.com/netmix/radio-station/issues/209)

Should enable a shortcode same as automatic page.

**Describe the solution you'd like**
A

[2020-05-06 23:24] tonyzeoli opened #211 "[Demo] Site Theme keeps breaking and rendering HTML only"
**Describe the bug**
A clear and concise description of what the bug is.

Not sure why this is happening, but the theme for the demo site keeps breaking. The theme reverts to HTML. I keep updating the plugins and dumping the cache, but the issue keeps returning.

![Screen Shot 2020-05-06 at 7 18 32 PM](https://user-images.githubusercontent.com/4053819/81237918-c63ad200-8fce-11ea-9f33-9799ca7a3956.

[2020-05-07 00:38] tonyzeoli commented on #211
@majick777 I dumped the cache again to bring back the theme and that worked. But it comes and goes.

[2020-05-07 10:57] majick777 commented on #211
@tonyzeoli  I also had to clear the autoptimize cache the other day - for the Show page to display properly, as it's CSS wasn't loading... It does seem to be fine now though, but if it plays up again I think that it probably the issue.

[2020-05-07 11:46] andyrb412 commented on #211
I've tested the site in several browsers.  Loads fine in Safari, Edge and Chrome.

Failed to load in Firefox.  Console shows:

<img width="862" alt="Screen Shot 2020-05-07 at 21 40 58" src="https://user-images.githubusercontent.com/18440817/81290490-8269ca80-90ab-11ea-967c-deb830a60485.png">

It appears there's an issue with loading necessary scripts, which is resulting in a fatal error (and CSS n

[2020-05-07 23:19] majick777 commented on #207
There is an in-built filter `radio_station_host_url` that can be used to link to another page for the user.

    add_filter( 'radio_station_host_url', 'custom_host_url', 10, 2 );
    function radio_station_host_url( $url, $user_id ) {
        // assign new url via user_id
        return $url;
    }

We will be including user profile for Hosts and Producers in Pro, but this should get you by in the

[2020-05-07 23:19] #207 closed

[2020-05-07 23:27] majick777 commented on #209
Can you clarify what you mean by tabs in this context? As I think a list would work like any of the existing lists (shows etc.)

WordPress automatically creates an author archive and yet that is for posts, so as we have discussed a while ago it may be possible to improve that. It makes sense to have this list but we may need to get profile pages working first. Unless we want to have a simple list

[2020-05-07 23:30] majick777 commented on #210
The automatic page would just use the shortcode so we don't need to treat them as separate issues, when the shortcode is ready will be easy to add an automatic page for it.

[2020-05-07 23:30] #210 closed

[2020-05-08 06:48] XLRradio commented on #207
@majick777 thank you for this but where do i put this code please? and  do i delete any code?

[2020-05-10 00:19] tonyzeoli commented on #207
The filter should be added to a functions.php file in your child theme, so
the functions.php file is not overwritten in a theme update. If you need
help with a child theme, you would contact the theme author to see if they
provide one or implement one yourself.

On Fri, May 8, 2020 at 2:49 AM XLRradio <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-05-10 00:20] tonyzeoli commented on #207
Also, no, you don’t delete, just add.

On Sat, May 9, 2020 at 8:19 PM Anthony Zeoli <az@digitalstrategyworks.com>
wrote:

--
Sent from Gmail Mobile

[2020-05-10 13:38] XLRradio commented on #207
i have added to functions.php but is there a certain place it goes in? also i cant see anywhere to edit it once put in

[2020-05-10 14:50] tonyzeoli commented on #207
You should only put it in functions.php of your child theme, if you have
one. Not the parent or it will get overwritten in future updates. To edit
your functions.php file, use FileZilla to log into your site via FTP,
download your functions.php file to your desktop, edit it in a text editor,
save it and then upload it again.

On Sun, May 10, 2020 at 9:39 AM XLRradio <notifications@github.com> wrot

[2020-05-10 14:53] XLRradio commented on #207
thank you @tonyzeoli but does it matter where it goes in functions.php? and where would i go to assign the URL?

[2020-05-10 16:46] tonyzeoli commented on #207
You can put it anywhere in the functions.php file. It doesn’t matter as
long as it’s included.

I’ll have to let Tony Hayes give you instruction one the URL.

On Sun, May 10, 2020 at 10:53 AM XLRradio <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-05-12 21:03] XLRradio commented on #207
@tonyzeoli ok thank you hope to hear from him soon

[2020-05-13 06:45] majick777 commented on #207
@XLRadio You can add the code to your child theme functions.php file, or in a .php file (one that starts with `<?php`) in your `/wp-content/mu-plugins/` directory

However the code I gave is just a sample to show you what is available, it doesn't actually do anything in that form but return the existing URL. To use it, you would need to modify to it to get the profile page URL for that user ID. Th

[2020-05-13 06:48] majick777 commented on #193
@Sparky1172 going to close this as we haven't heard back from you, if the problem returns we can re-open the issue.

[2020-05-13 14:23] XLRradio commented on #207
@majick777 if you go into users on wordpress and go into a profile, it has a field for "website" cant radio-station tap into that and change the URL to that input?

[2020-05-13 16:14] tonyzeoli commented on #207
The Users table web address is part of WordPress core functionality. We're
not going to touch that. It's not part of the plugin.

On Wed, May 13, 2020 at 10:24 AM XLRradio <notifications@github.com> wrote:

[2020-05-13 21:43] scottdutton12 commented on #197
HI,

Thanks for this, the new update landed today.

Would you know why I am receiving this error?

![error](https://user-images.githubusercontent.com/53665512/81868986-2a2f3e80-956b-11ea-9a94-bd90afccee3c.PNG)

Thanks

Scott

[2020-05-13 22:59] tonyzeoli commented on #193
@Sparky1172 Please make sure to take the new 2.3.1 upgrade, which you will not see in the plugins dashboard. You may have to download it. We had named the develop version 2.3.1, so you won't see the update in your Dashboard, but you may miss some of the newer fixes that were implemented i you downloaded the Develop version and worked with that.

[2020-05-13 23:01] tonyzeoli commented on #210
Got it, thanks!

[2020-05-13 23:03] tonyzeoli commented on #211
@andyrb412 Thanks or checking that.

@majick777 Can you let me know if the Firefox fix you implemented solves the issue here?

[2020-05-13 23:07] tonyzeoli commented on #209
Meaning that like Posts and Playlists or Genres, the user would tab across the lists:

Hosts/DJs | Producers | Editors

I guess you could have a single list view where it is:

Host / DJs
name, image, bio
name, image, bio
name, image, bio

Producers
name, image, bio
name, image, bio
name, image, bio

Editors
name, image, bio
name, image, bio
name, image, bio

You could even have a Table (grid) view

[2020-05-13 23:15] tonyzeoli commented on #192
@boywondr16 can you let us know if this is still and issue, please?

[2020-05-13 23:16] tonyzeoli commented on #187
@XLRradio @majick777 please confirm this issue is resolved. I'm moving this to 2.3.2 as 2.3.1 was released today.

[2020-05-13 23:19] tonyzeoli commented on #118
Okay, let's close this then. Seems like you are aware of the root cause and solution, so if anyone were to ask it would be an alignment issue that's easily solved by clicking the align left, middle, or right functions.

[2020-05-13 23:19] #118 closed

[2020-05-13 23:30] tonyzeoli opened #212 "[Shows] Add/Edit Show Phone Number"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

A user asked if we could create a field or Station Phone Number for call-in requests.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

We should give the option to Add/Edit Show Phone Numbe

[2020-05-14 01:06] tonyzeoli commented on #197
Not sure - we’ll investigate and get back to you ASAP.

On Wed, May 13, 2020 at 5:43 PM scottdutton12 <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2020-05-14 01:48] majick777 commented on #197
@scottdutton12 In future can you open a new issue for each bug to reduce confusion.

The error you are getting indicates that the "editor" role does not have any capabilities assigned. This is quite unusual as this is a standard WordPress role.

First I would suggest unticking "Add to Editor Capabilities" in the plugin setting Role tab. This will bypass getting the error message.

Then you should

[2020-05-14 02:09] majick777 opened #213 "[Roles] Permissions for Superadmin without administrator role"
As reported here: https://wordpress.org/support/topic/cannot-add-schedules/

It seems (somehow?) possible that a super-admin can exist on a multisite install without having an administrator role for a particular site. And in this case, that user would not have the editing permissions assigned to an administrator.

This issue needs further testing to reproduce, and a bypass for super-admins added a

[2020-05-14 02:10] boywondr16 commented on #192
Just attempted after update and it still is an issue. I've been using the "second account" workaround, so it's not dramatically pressing, but it still is an issue.

[2020-05-14 02:12] majick777 commented on #213
Report seems to also indicate that if an existing administrator is assigned super-admin status they may lose editing permissions also. So this needs to be checked also.

[2020-05-14 07:49] XLRradio commented on #187
hasnt been resolved

[2020-05-14 08:14] tonyzeoli commented on #187
Looks like you haven’t answered Tony’s last question. Can you go back and
provide him with the URL if the widget so he can troubleshoot?

On Thu, May 14, 2020 at 3:49 AM XLRradio <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-05-14 10:27] majick777 commented on #211
@tonyzeoli I added wpauthbox.js to the Autoptimize exclude scripts field and cleared the cache. This seems to have fixed the first console error in the screenshot. The second looks like gravity forms so I disabled that as not used on the Demo site anyway. I'm not sure there's anything further to do here unless something else comes up again, eg. the stylesheets not loading properly. But that can be

[2020-05-14 13:32] XLRradio commented on #187
xlrradio.co.uk

[2020-05-14 14:08] tonyzeoli commented on #187
@majick777 Here's the link to the station's show schedule: https://www.xlrradio.co.uk/schedule-new/

[2020-05-14 14:09] tonyzeoli commented on #187
@majick777 widgets are on the home page

[2020-05-14 20:38] tonyzeoli commented on #213
I don’t know about this. As long as I’ve been using multi site the super admin is granted rights over the network. I think you’re a super admin on Netmix so just try adding a new site to the network and see if you have to add yourself to the site as a super admin.

[2020-05-17 13:36] majick777 commented on #211
Erk. Happened again, as in the screenshot. So I have disabled CSS aggregation of Autoptimize on the Demo site for now.

[2020-05-19 10:07] Whaley01 opened #214 "Remove above"
![52601E79-6DEE-4319-B702-AC6FCC435E8D](https://user-images.githubusercontent.com/65598029/82313741-b05ee100-99c0-11ea-87b4-bad9f7114316.jpeg)

Since the latest update all the above as appeared on my page all the show details above the arrow I need to remove. I can’t seem to find how to remove.  Any idea would be great

[2020-05-19 14:23] majick777 commented on #214
For information on the changes to Templates since 2.3.0, especially for the new Show page layout, please read the documentation Page Templates:
https://netmix.com/radio-station/docs/Display/#page-templates

TLDR? You can re-enable legacy show templates in your plugin settings via WP Admin Menu -> Radio Station -> Settings -> Templates tab -> Page Template -> Legacy Plugin Template

Please note in

[2020-05-19 14:23] #214 closed

[2020-05-22 12:42] majick777 commented on #206
Added to develop version 2.3.1.1 for 2.3.2 release.

[2020-05-22 12:42] #206 closed

[2020-05-22 12:42] majick777 commented on #202
@XLRradio All browsers support and use javascript these days.
"Java" is actually a different programming language.
You can do a search on the difference if you want more information on that.

So I have decided that adding AJAX loading of the widgets to bypass possible static page cache conflicts. This is as a prelude to adding dynamic auto-reloading (which will be in Pro.)

You can enable it on a

[2020-05-22 12:42] #202 closed

[2020-05-22 15:24] XLRradio commented on #202
the coming up widget it no longer shows the pic?? dunno whats happened here @majick777

[2020-05-22 15:37] XLRradio commented on #202
Plus the tabbed view no longer works on the master schedule @majick777

[2020-05-22 15:42] XLRradio commented on #202
infact the master schedule isnt working properly atall, no show images show,  the only thing that works is table view, and the show images dont work @majick777

[2020-05-22 16:26] XLRradio commented on #202
and turned the ajax on and its still coming up with no show scheduled

[2020-05-22 17:06] XLRradio commented on #202
and ajax not working either as its not reloading to next show so reverting back

[2020-05-23 07:03] XLRradio commented on #202
@tonyzeoli  @majick777
Right guys all is now working. including the things mentioned by me above., and schedule overrides are working too! I bet you want to know a reason why. well........ we changed the WordPress time to UTC +1 and all worked correctly, no disappearing of on air now, everything is working! including the countdown! so the plugin does not like Europe London time from the WordPress

[2020-05-26 08:06] penarthsounds opened #215 "404 error on show page 2"
On the 2nd page of the "Shows" option it goes to a 404 error. www.penarthsounds.co.uk

[2020-05-26 08:12] penarthsounds opened #216 "Can I not have the show page?"
Is it possible to not have the Show page automatically created by the radio-station software? I'd like to keep my own show page design. www.penarthsounds.co.uk

[2020-05-26 08:45] tonyzeoli commented on #216
This is not a bug or feature request and should be reported on the support forum on the plugin’s WordPress.org page. Please repost your question there.

[2020-05-26 08:45] #216 closed

[2020-05-26 08:53] tonyzeoli commented on #215
Sorry, I clicked on the Shows tab, it returned a list of Shows. Then I clicked on a Show title and returned the show page. Also, this is a forum for bugs and feature requests. For general suoort inquiries please post to the suooort forum on the WordPress.org plugin page.

[2020-05-26 08:55] tonyzeoli commented on #215
Closing this issue here. If you have any additional issues please post to the plugin page at https://wordpress.org/plugins/radio-station.

[2020-05-26 08:55] #215 closed

[2020-05-26 09:25] penarthsounds commented on #215
If you scroll down to the bottom of the Shows page, it goes onto a second page. That's where the 404 happens.

[2020-05-26 10:01] penarthsounds opened #217 "[Archive Shortcode] Add pagination to Archive list shortcodes"
Hi.

On my shows page, as the shows continue onto a second page (next page link is at the bottom of the shows page), the link to the second page of shows is broken. It's missing a "/".

It should link to http://penarthsounds.co.uk/shows/page/2

but instead it links to http://penarthsounds.co.uk/showspage/2/

How do I insert the missing "/"?

[2020-05-26 14:17] majick777 commented on #217
@penarthsounds Archive pages are created by WordPress and the content is served via your theme's archive template - usually `archive.php` in your parent/child theme directory (see https://wphierarchy.com)

So this looks like there is a bug in the navigation module of the archive template in the theme (which may be a separate template or function) and it would be best to report it to the theme's au

[2020-05-26 14:19] majick777 commented on #217
@penarthsounds Actually I will just repurpose this issue for adding pagination to that shortcode.

[2020-05-26 14:29] majick777 opened #218 "[Master Schedule] Auto Refresh Master Schedule"
Recreating this ticket as we can't seem to transfer it back...

@torpix: "I would like the schedule red box ( on current time / show ) to automatacally shift when the next show starts without the users needing to refresh the page."

[2020-05-26 14:34] majick777 commented on #218
@torpix I have added this to the Schedule (table and tab) views for the Free version, for reason it really does make sense to recheck this on pageload given the possibility of page caches highlighting a Show that has already finished (I saw this happening on the Demo site for example.)

For the Pro version, I am thinking we can have it actually periodically check if the Schedule has changed via AJ

[2020-05-26 14:34] #218 closed

[2020-05-26 14:39] majick777 commented on #167
Added to dev update 2.3.1.2 for 2.3.2 release.

[2020-05-26 14:39] #167 closed

[2020-05-26 15:32] majick777 commented on #202
@XLRradio Thanks for perservering and getting back to us with the source of the problem. With this information I maybe able to prevent this from happening in the future. So at some point WordPress changed from using UTC offsets to location timezones,, I'm rather surprised this went unaccounted for with BST.

The plugin gets the current time from PHP via the WordPress `current_time` function, so pe

[2020-05-26 15:33] majick777 commented on #187
Resolved in #202

[2020-05-26 15:33] #187 closed

[2020-05-26 15:53] XLRradio commented on #202
@majick777 no ur plugin you have to select what timezone you are in or it automaticially selects for you..... mmmmmm...

but im surprised if on London time on the wordpress settings it dont automaticially goto BST. i had to set it to UTC +1 manaually.  which will mean when BST ends i will have to change both timezones again manually

[2020-05-27 05:45] majick777 opened #219 "[Documentation] Sync website Docs with develop branch"
In order to have the latest Documentation automatically available on Netmix.com, we can synchronize the documentation file contents directly from the Github repo develop branch.

[2020-05-27 16:38] Fishy49 opened #220 "Unexpected Array Printed Before Master Schedule"
**Describe the bug**
An array of `shift_keys` is printed when the master schedule is displayed via a shortcode and overrides are active in the schedule

**To Reproduce**
Steps to reproduce the behavior:
1. Create some shows and add shifts to them
2. Create an override within the next week so that it'll display on the master schedule
3. Create a page and use the shortcode to display the master sche

[2020-05-27 16:47] Fishy49 opened #221 "[Schedule Override] Prevents Remaining Schedule From Showing on Master Schedule"
**Describe the bug**
When an override is displayed on the master schedule table, the remainder of the day is lost and shows blank

**To Reproduce**
Steps to reproduce the behavior:
1. Create a show that lasts all day on a particular day
2. Create a schedule override for 30 minutes in the middle of the day
3. Create a page and display the master schedule table with the shortcode: `[master-schedule

[2020-05-27 19:33] thisisshuffle opened #222 "Show Information Panel Missing"
**Describe the bug**
The show information panel is missing from any new or existing show, this stops any new show being added or present show being amended. The schedule is operating and displaying as usual and retaining information previously entered - although this can now not be seen in the admin panels.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dashboard.'
2. Click on 'Radio

[2020-05-29 16:59] tonyzeoli commented on #222
Thanks for reporting this. I can't imagine that's not a plugin or theme conflict. We'll check on our side. Is the theme free or pro? When you disabled the theme and all the plugins, did you do it at the same time, or did you do it separately? Did you try all possible configurations? All plugins and theme. Theme and each plugin individually. Same for new theme? Did you clear your cookies on each tr

[2020-05-31 21:13] tonyzeoli commented on #222
@majick777 Have you seen this bug happen?

[2020-05-31 21:18] tonyzeoli opened #223 "Highlight current show in Tabbed View and List View"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

A user asked about highlighting a current show in tabbed view in the support forum.

[](https://wordpress.org/support/topic/highlight-on-air-now-in-tabbed-schedule/)

**Describe the solution you'd like**
A clear and concise description of

[2020-05-31 21:19] tonyzeoli commented on #221
@majick777 Can you look into this, please? Thanks.

[2020-05-31 21:21] tonyzeoli commented on #220
@majick777 Just tagging you on this to pick up. Let us know what you find out.

[2020-06-01 02:37] majick777 commented on #222
@thisisshuffle Can you click on Screen Options in the top right and see if the Show Information metabox is listed? I can't imagine why it would become unchecked, but that is a possibility.

To debug, you can add `&rs-debug=1` to the URL and view the page source. You should see a section starting with `` that lists which metaboxes are hidden on the current screen.

[2020-06-01 02:40] majick777 commented on #223
The class and border for List view have already been added (along with the dynamic schedule checking via javascript to highlight the current show.) see #218

The List view being left unstyled unintentionally, doesn't have the class or checking added to it yet, so we may as well add the same for that view, even though it won't display, by having the class the current show can be styled.

[2020-06-01 03:56] tonyzeoli commented on #223
Ah, okay, so it will be in the next release. Cool.

Did you mean in the second paragraph to say "tabbed" view?

[2020-06-01 07:36] majick777 commented on #223
Added List view classes (with dynamic update) to 2.3.1.3 for 2.3.2 release.

[2020-06-01 07:36] #223 closed

[2020-06-01 07:37] majick777 commented on #220
@Fishy49 Confirmed. Thanks for reporting. I have commented out the offending `print_r`

[2020-06-01 07:37] #220 closed

[2020-06-01 07:38] majick777 commented on #221
@Fishy49 I found that the override shift keys were not being cleared between each day in the loop, and this seems to have been causing the issue when there are multiple overrides within the week.

I have added a fix to the development version 2.3.1.3, can you install that version and check if this resolved the issue for you?
https://netmix.com/radio-station/docs/FAQ/#how-do-i-install-the-latest-de

[2020-06-01 14:49] tonyzeoli opened #224 "[Release] Radio Station 2.3.2"
Release ticket for version 2.3.2.

[2020-06-01 14:53] tonyzeoli commented on #224
@majick777

This is a checklist ticket to ensure that we've got everything in place for the next release.

1. Check version number updated to 2.3.2
2. Check all changelog items added
3. Check update notice items added
4. Check documentation is updated
5. Check if need any additional screenshots

[2020-06-01 23:19] Fishy49 commented on #221
@majick777 I'm still seeing the same thing with the `2.3.1.3` version.

I suppose I should ask the question: if I override only 15 minutes of a 4 hour show, what is _supposed_ to show on the schedule?

I honestly don't know what the right answer is there and was wondering how the plugin was written to handle these instances.

In the older versions (I've been using this for a good long while) overr

[2020-06-02 18:45] tonyzeoli opened #225 "Include wp_add_privacy_policy to Radio Station"
**Is your developer task related to a problem or a requirement? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I was researching plugin info and came across this detail, which is not yet included in Radio Station: https://developer.wordpress.org/plugins/privacy/suggesting-text-for-the-site-privacy-policy/

By adding some code, we ca

[2020-06-03 01:11] thisisshuffle commented on #222
I tried swapping to another theme that I have on another site/station that I also use the Radio Station plugin on.  I disabled all plugins, then brought them back in one-by-one. I am using the free version of the theme.

I have checked the Screen Options panel, and all are checked including "Show Information", I have attached a copy of the source code, the metaboxes tag shows at line 5785

[view-s

[2020-06-05 04:23] majick777 commented on #107
Added show shift list clearing, along with same for Playlist track clearing.
Also added AJAX shift and track saving, and a duplicate track button.

Added to develop version 2.3.1.4 for 2.3.2 release.

[2020-06-05 04:23] #107 closed

[2020-06-05 04:23] majick777 commented on #222
@thisisshuffle I was unable to reproduce this initially, and then had it happen to me briefly yesterday while working on improving the shift saving interface. It seemed to happen quite randomly after reloading the page. The I realized I had accidentally clicked toggle on a metabox... on further testing, I found it isn't the toggling that caused this, I'd actually triggered the drag and drop of the

[2020-06-05 04:23] #222 closed

[2020-06-05 04:24] majick777 commented on #221
@Fishy49 Okay thanks for checking that,  I will have another go at it then...

You are correct that the previous versions of the schedule display did not honour overrides, so I basically rewrote the entire schedule calculation to be done prior to being displayed, and this was one of the main reasons for doing that. (the Legacy table and Div views still do not honour overrides but the legacy table

[2020-06-05 04:24] #221 closed

[2020-06-05 05:08] Fishy49 commented on #221
@majick777 Awesome!! That fixed it right up and it looks great.

Your work on this has been very impressive and the station I work with is loving the attention.

I was worried I'd eventually have to rewrite this thing myself, haha.

Thank you much!

[2020-06-05 05:31] Fishy49 opened #226 "Interactive Schedule Manager"
**Is your feature request related to a problem? Please describe.**
Currently setting the schedule for shows requires opening up each show's record an adding/removing shifts.

**Describe the solution you'd like**
A visual all-in-one feature would be nice. I wrote something for my client that reverse-engineers the shift logic and displays the current schedule similar to the master schedule table - b

[2020-06-05 18:21] tonyzeoli commented on #226
Hey @Fishy49 - pretty nifty front-end editing experience. My thinking long term was to move the Show creation and editing to a front-end interface like this one, but that was a long ways off and we haven't really addressed that yet, as we have other fish (no pun intended) to fry with our Pro version. I'm going to leave this one for @majick777 to respond to in terms of feasibility and long term str

[2020-06-05 20:16] Fishy49 commented on #226
@tonyzeoli Let me see what I can do!
I wrote this some years ago and need to make it a little less terrible, haha.

I'd love to contribute though and if you are open to considering contributions I'd be happy to add this to the plugin.

Take care!

[2020-06-17 11:18] majick777 commented on #193
@Sparky1172 This issue has come up again so I am reopening this ticket and directing related support issues here...

[2020-06-17 11:21] majick777 commented on #193
For anyone reading this and affected by this issue can you report in summary the following:
- Version of the plugin used (and if it persists with latest development version 2.3.1.4)
- Whether you have AJAX enabled in the plugin settings or on the relevent widgets or not.
- PHP Timezone, WordPress Timezone and Timezone setting on your computer (used by browser.)

[2020-06-17 11:33] majick777 commented on #193
Support tickets for reference:
https://wordpress.org/support/topic/timezone-issue-1-hour-out/
https://wordpress.org/support/topic/show-currently-on-air-highlighting-1-hour-early/

[2020-06-17 12:03] achanner commented on #193
Hi Majick,

This issue to me seems to only be a problem with the 'On Air Now' calculation.

If I show a countdown to the next show, 'Up Next' knows that the show has started (it shows 'This Show Has Started') but 'On Air Now' shows the previous DJ until we get 1 hour beyond and then the display is correct.

I have added two screenshots of the test page I am working on with the clock displayed so t

[2020-06-17 15:57] Ajames0807 opened #227 "[Master Schedule] Show Days shortcode attribute"
I am trying to display a single day on the master schedule, I have used the shortcode: [master-schedule days=”Monday”] but this doesn’t show Monday or any day, am I doing something wrong?

[2020-06-19 17:12] achanner commented on #193
Hi chaps,

Just for additional feedback on this one - I updated the Wordpress timezone (which was out) today and the 'On Air Now' seems to be working perfectly.

[2020-06-19 18:38] pozitronios opened #228 "Display Today's Schedule"
Display Today's Schedule, for example:
![image](https://user-images.githubusercontent.com/66794856/85169470-8aa15200-b274-11ea-9793-5b2c42f7dd12.png)

[2020-06-20 01:36] tonyzeoli commented on #228
Um, can you please elaborate. We're not mind readers here, lol. Is this an issue or a feature request?

[2020-06-20 01:40] tonyzeoli commented on #227
You shouldn't be doing something wrong. That looks correct according to the shortcode FAQ.

Did you copy and paste the " marks? Try to make sure your quotes are correctly typed manually and see if that's the issue.

[2020-06-20 01:46] tonyzeoli commented on #226
@Fishy49 We spoke on this internally and we'd definitely like to see this added, we have some questions on this. Can you email me at [tonyzeoli@netmix](url).com so we can discuss it further?

[2020-06-20 11:00] pozitronios commented on #228
Hello, sorry I apologize, this is a feature request to have a shortcode to display today's shows. However instead of displaying a day from midnight to midnight (start - end of the day) it would be more useful to display the schedule like the example picture above, makes more sense.

[2020-06-20 11:57] majick777 commented on #227
@Ajames0807 Seems to have been a typo on my part rather than yours (day vs weekday in the code.) I've added a fix to the latest development versions 2.3.1.5 for 2.3.2 release.

https://netmix.com/radio-station/docs/FAQ/#how-do-i-install-the-latest-development-version-for-testing

[2020-06-20 11:57] #227 closed

[2020-06-20 12:01] majick777 commented on #193
@achanner Thanks for the info. This confirms what I found, namely that `current_time` uses WordPress timezone. And `date` uses server time (which is usually the same.) But these leave open possibility of a discrepancy with the plugin timezone value.

So I have added a few time and timezone related functions so that these are handled consistently throughout the plugin. Certainly a deeper rabbit hol

[2020-06-20 12:12] majick777 commented on #228
@pozitronios You can use the Master Schedule shortcode for this:
`[master-schedule view="list"]`

For a list of available shortcode attributes see: https://netmix.com/radio-station/docs/shortcodes/

This view is an (intentially) unstyled list view that you can use to add some CSS styling to make the looks closer to what you want, for example adding floats and fonts etc.

[2020-06-20 12:12] #228 closed

[2020-06-22 21:54] astevens93 opened #229 "[UI] Tabbed Schedule View, collapsing browser size (responsive) jumps tab to another day to that already selected"
**Describe the bug**
On Tabbed Schedule View, collapsing browser size (responsive) jumps tab to another day to that already selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Load up tabbed schedule in web browser
2. Select a day
3. Reduce browser size
4. Watch selected day jump to another day automatically, therefore moving the user off the day already selected.

**Expected behavior*

[2020-06-22 22:17] astevens93 commented on #229
P.s I also notice this upon scrolling on IOS

A link to the page I'm experiencing issues on. I have only amended the CSS to style to my desires:
https://www.hcrfm.co.uk/schedule-new/

[2020-06-23 08:26] astevens93 opened #230 "Changing shows does not update in live schedule"
**Describe the bug**
Updating show title and avatar, but it doesn't update in the front end schedule.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an existing show
2. Change the title and Avatar
3. Update, and check the front end schedule
4. See error where it does not update/reflect the change to the schedule

**Expected behavior**
Schedule should update based on back end changes.

[2020-06-23 09:37] astevens93 commented on #230
Closing issue, took some to commit to the database.

[2020-06-23 09:37] #230 closed

[2020-06-23 15:11] tonyzeoli commented on #230
Okay, thanks. Yeah...I was surprised to hear of this, as no one has reported it.

[2020-06-23 15:14] astevens93 commented on #230
No worries, it was my hastiness in wanting to see changes updated. Took about 30 minutes I think.  I have submitted an issue I have faced on the Wordpress Plugin page around the Overriding of Schedule items and an issue it seems to cause me.

[2020-06-23 15:16] tonyzeoli commented on #229
Sorry, I could not replicate this issue on either your site or our radiostationdemo.com. The day did not switch when pulling in the browser from the corner. I'm using Chrome for Mac.

I'll leave this issue open for discussion for one more round, but I don't see the issue. Can you try someone else's machine? Can you try a different browser?

[2020-06-23 15:24] astevens93 commented on #229
Hi Tony, thanks for coming back to me. I've recorded the issue happening on Chrome for Mac. It also happens on Safari.

2 Brief videos on my site, and radiostationdemo.com
https://we.tl/t-OeYO6mM7xQ

If I select Saturday or Sunday like in the example, it eventually jumps back to a weekday.

I re-created the issue each time when the following days are active:

Monday jumps to Tuesday
Current day no

[2020-06-23 15:37] tonyzeoli commented on #229
So sorry, you're right. I didn't follow your instructions, but when I did I figured out that yes, in responsive the tabs are switching incorrectly to a different tab than was selected. We'll fix this and push it in the next release.

[Screen Recording 2020-06-23 at 16.19.36.mp4.zip](https://github.com/netmix/radio-station/files/4820393/Screen.Recording.2020-06-23.at.16.19.36.mp4.zip)

[2020-06-23 15:39] tonyzeoli commented on #229
@majick777 We've got an issue here. I've confirmed the issue where tabs switch to another day in responsive states when pulling in the browser from the corner wide to narrow view. I've added this to our 2.3.2 project.

[2020-06-23 15:41] astevens93 commented on #229
Thank you so much, your attention to this project really is appreciated.

[2020-06-23 15:44] tonyzeoli commented on #229
Thanks. You can assist by leaving a positive review on the Wordpress.org
Reviews page.

You can also add your station to our directory for free til the end of July
(we're changing the end date). Check Netmix.com for details!

Best regards,

*Tony Zeoli*
[image: Digital Strategy Works logo] [image: netmix logo]
Digital Strategy Works + Netmix
Web Development, Media & Music
✉ tonyzeoli@netmix.com |

[2020-06-23 17:26] tonyzeoli opened #231 "[Netmix.com] Notifications bar loading within ZeroBS CRM"
**Describe the bug**
A clear and concise description of what the bug is.

Notifications bar is loading inside ZeroBS CRM admin screens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Netmix.com
2. Login to Netmix Dashboard
3. Navigate to ZeroBS CRM on the left hand menu
4. Navigate into Contacts
5. View notification bar with empty notifications loading inside the CRM admin panel(s)

*

[2020-06-23 23:41] neosonic2 opened #232 "[Conflict Checker] Shift conflict checking does not respect overnight shows"
I am using (and very much enjoying) the Radio Station plugin with a local LPFM community radio station that has a very busy show schedule made up of volunteer DJs and hosts. Some of these shows extend into the wee hours of the next morning, and this has resulted in shift conflicts being generated by the plugin when none actually exist. I believe this is because the schedule section on the show edi

[2020-06-24 04:17] tonyzeoli commented on #232
@neosonic2 Thanks for reporting this issue. I've assigned it to @majick777 to take a look. Please hold while we work through this issue. Thank you.

[2020-06-24 04:29] tonyzeoli commented on #232
@majick777 This is also r[eported by another user in the support forum here.](https://wordpress.org/support/topic/styling-questions-4/#post-13027483)

"2) Based on your reply on another post here, I used CSS to hide rows/times for which I dont have shows. But I found an issue. If you scroll down to last show “The Loft with Troi Tyler”, it is scheduled for 9pm to 2pm. But since I have hidden rows f

[2020-06-24 09:46] majick777 commented on #232
@neosonic2 As it happens I have recently updated some code to do with the Shift Checker in the latest development version, including some changes regarding overnight shifts. Could you install that and see if the issue persists so we can determine if there is further investigation needed here?
https://netmix.com/radio-station/docs/FAQ/#how-do-i-install-the-latest-development-version-for-testing

[2020-06-24 13:41] neosonic2 commented on #232
@majick777 I just installed the development release as per your instructions and am now on plugin version 2.3.1.5 as shown in the WordPress admin. However, the schedule conflict warning continues to appear at the top of each admin page and the information in the warning has not changed. Is there anything I need to do to re-check for conflicts or etc.?

[2020-06-25 05:27] majick777 commented on #232
@neosonic2 Thanks I will take a further look then. The conflict check should refresh automatically... I actually suspect this one may be due to the start/end of the week rollover rather than midnight shifts but will investigate.

[2020-06-27 07:02] majick777 commented on #232
@neosonic2 I have done some fixes on this which should hopefully resolve this issue.
Added to development version 2.3.1.6 for 2.3.2 release.
https://netmix.com/radio-station/docs/FAQ/#how-do-i-install-the-latest-development-version-for-testing

[2020-06-27 07:03] majick777 commented on #229
@astevens93 Okay I've checked this out and it's a good point, this isn't the best behaviour. I do recall adding this because I didn't want the user to get confused what day they are viewing when the currently selected day tab is no longer showing. But changing the selected day is not the right solution to that.

Instead, I've changed this to display a "Viewing: {day}" above the Shows list when the

[2020-06-29 11:28] astevens93 commented on #229
Thank you, issue resolved in latest Dev release 2.3.1.7

[2020-06-29 11:28] #229 closed

[2020-06-29 11:35] astevens93 opened #233 "Creating schedule override post directs to blank screen on Publish"
**Using Dev Version 2.3.1.7**

**Describe the bug**
When you create a new Schedule Override post, upon Publishing, it directs the user to a blank page with the address mydomain.com/wp-admin/post.php where mydomain.com is the website.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Schedule Override'
2. Click on 'Add Schedule Override' then fill in details Title, Date, Time, Descriptio

[2020-06-29 13:11] astevens93 commented on #233
Update: noticed this also happens when you update a show in the shows area.

[2020-06-29 13:18] astevens93 opened #234 "[Conflict Checker] Show conflict detected on every day"
**Using Dev Version 2.3.1.7**

**Describe the bug**
I have a show every day that runs 10.00pm - 12.00am and since the Dev Version 2.3.1.7, it detects a conflict with every show.
So ALL my shows are in conflict with this show.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a show that runs 10.00pm - 12.00am (as in Midnight) every day.
2. It will be in conflict with every show that alr

[2020-06-29 19:10] astevens93 commented on #234
To add to this, it creates a problem as I cannot update any existing shows because the show conflict disables the show given it finds a conflict all of the time.

Schedule override works fine.

[2020-06-29 22:02] neosonic2 commented on #232
@majick777 Thanks for this update. However, the issue still seems to be persisting on my end, though now it says I am conflicting with a different show than the one the plugin mentioned previously. The plugin says the show scheduled for 10 PM Sunday through 2 AM Monday morning now conflicts with a show scheduled Fridays from 10 PM to Saturday at 2 AM. So....I'm not quite sure what could be going o

[2020-07-01 09:12] astevens93 commented on #234
Thanks for marking this as something to work on @majick777
Is this an easy fix to make so we can use the Dev version in the meantime, or will it be something I should wait for in the next public release.

Thanks again,

[2020-07-01 11:14] majick777 commented on #234
@astevens93 We are on the verge of releasing 2.3.2 and hoping this issue is the final hurdle.
Try out development version 2.3.1.8 I have had another go at the shift conflict checker as per #232

[2020-07-01 11:18] majick777 commented on #232
@neosonic2 It's just that the shift conflict checking logic is a little tricky to get one's head around. So basically since we changed to date based calculations for the schedule calculations, I made the same changes for the shift checking, but it turned out the shift checking is actually better without the date-based as the logic "leak" with doing it that we is having to recheck whether the first

[2020-07-01 11:24] majick777 commented on #233
@astevens93 I haven't been able to reproduce this yet while working on the development version. I would suggest checking your error logs to see if there are any reported errors. If any plugin is outputting *anything* during the save process, the redirect will fail. Since this isn't happening with just Radio Station by itself, it may be another plugin conflict.

You *can* visit the edit page and ap

[2020-07-01 11:31] majick777 commented on #224
Waiting on shift conflict fix confirmations from #232 and #234
1. Version number will need to be bumped to 2.3.2 from 2.3.1.x before release.
2. All changelog items are kept up to date as they are added.
3. Notice items have been updated.
4. Documentation updated (some minor shortcode changes)
5. No additional screenshots needed for this release.

[2020-07-01 11:38] astevens93 commented on #234
Super, it seems to work!  I will check that the 10pm - 12 am show highlights when the time comes, and will report back if not.
I'm sure it will though.

Cheers. Look forward to the official 2.3.2 release.

[2020-07-01 13:11] neosonic2 commented on #232
@majick777 Good morning, and thank you for that explanation, it helps me better understand how the shift conflict checking system works. Unfortunately, though, it seems that upgrading to development version 2.3.1.8 only reverted us back to the former state of things :( in other words, the show on Sunday from 10 PM to Monday at 2 AM no longer conflicts with the Friday show as I mentioned earlier, b

[2020-07-01 13:23] astevens93 commented on #233
Hi @majick777 I have debugged the action of Publish/Update on show and I receive the below:

Notice: Undefined index: show_download in /home/hcrfm/public_html/wp-content/plugins/radio-station/includes/post-types-admin.php on line 2542

I'm not an expert in Wordpress I'm afraid so I'm wondering if you could give me a pointer as to what could be causing this please?  All other posts in Wordpress wor

[2020-07-01 14:06] majick777 commented on #232
@neosonic2 Hmmm I am not getting a conflict anymore with either of those time slots. Can you let me know your timezone setting, WordPress start of week setting and whether it is for the same show or not. It's hard to fix something I can no longer reproduce and this information might let me do that.

[2020-07-01 16:52] pozitronios commented on #232
@majick777  I do have the same issue, i believe you can reproduce this if you schedule shows that go beyond midnight.
i dont know if it helps but here is an export of show sample data that reproduce this
[sampleradio.WordPress.2020-07-01.zip](https://github.com/netmix/radio-station/files/4859233/sampleradio.WordPress.2020-07-01.zip)

[2020-07-01 17:02] pozitronios opened #235 "[Shows Archive] Page slug for "shows" conflict"
This is very strange.
I created a page shows with the same slug and assigned it through the settings to display the shows archive. Because I wasn't happy with the result, I de-assigned it from radio-station settings and manually recreated, keeping the same title and slug.
However it didn't display what i've designed but kept displaying the plugin's show archive. Deleted it then updated the setting

[2020-07-01 17:30] astevens93 commented on #232
Sorry to add to your problems, I am not sure if this is related or not. But also on Dev 2.3.1.8 now and I have a scheduled show conflict before which this update fixed.
But now for some reason I am unable to save new show shifts for a show, it always disables it, despite no show conflict. I can't get it to save and enable.

See attached screen grab of error. Despite unchecking 'disabled' and then

[2020-07-01 17:41] neosonic2 commented on #232
@majick777 My WordPress timezone setting is EST (America/New_York), start of week setting is Monday, and the two shows that are in conflict with each other are Sunday evening from 10 PM until Monday at 2 AM, and Monday evening at9 PM until Tuesday at midnight (three hours later).

[2020-07-01 19:27] astevens93 commented on #234
Still have issues but on other days/parts - but not registering as show conflict, just not allowing me to make active, and added comment to #232

[2020-07-01 21:05] astevens93 commented on #234
To refer back to this, the 10pm - 12am show is not highlighting as On Air like other shows do. Issues relating to the conflicts referred to in #232 may be related.

[2020-07-02 02:46] majick777 commented on #235
@pozitronios First thing to check would be the page slug of the new page since you recreated it. If it is "shows-2" (which WordPress defaults to if the original page is still in the trash instead of permanently deleted.) - then you either have to untrash the previous page and change it's slug or permanently delete it to be able to change the new page slug to just "shows".

`/shows/` is the default

[2020-07-02 05:26] majick777 commented on #234
@astevens93 You can recheck the show highlighting for midnight times on Tab view it should be fine in 2.3.1.9 now.

[2020-07-02 05:26] #234 closed

[2020-07-02 05:31] majick777 commented on #232
@neosonic2 Thanks that let me track it down, there was something deeper in the code, a midnight timestamp for the shift sort ordering was being set to the wrong date, which meant the conflict checker was running on a misordered schedule.
@pozitronios Hopefully this sorts your issue to if not report back with what conflicts you are getting.
@astevens93 The improvement in the shift checker logic nee

[2020-07-02 05:34] majick777 commented on #233
@astevens93 Since `rs-debug` is not going to be useful here, I have added an extra debug switch: `&rs-save-debug=1`
This will buffer any output during the save process and present it in a textarea input which you can copy/paste here.
Hopefully this will lead us to a resolution of what is causing the page to not redirect (a single white space character can do it.)
I have added that to 2.3.1.9 so yo

[2020-07-02 08:07] astevens93 commented on #232
Thanks @majick777 - this seems to work for me now. Hope it does for you @neosonic2 and @pozitronios also.

[2020-07-02 09:04] pozitronios commented on #235
@majick777 already done what you suggested, but no. Also tried  a fresh install (on xampp localhost) with just radio station activated created a page shows with the same slug and it displays "Archives: Shows Post type for Show descriptions".  I have set from the settings a different page for show archive pages.

[2020-07-02 11:22] astevens93 commented on #233
OK interesting.
In your textarea input I received the below:

<br />
<b>Notice</b>:  Undefined index: _open_graphite_open_type__nounce in <b>/home/hcrfm/public_html/wp-content/plugins/open-graphite/_open_graphite.php</b> on line <b>319</b><br />

So I disabled this plugin, and re-tried creating a new Schedule Over Ride post - I got the same blank page upon save. despite the plugin being disabled.

[2020-07-02 12:59] astevens93 commented on #233
As this looks like it could be an issue specific to me, please feel free to reach out to me via a.stevens@live.co.uk.
If you are able to, it might help if you could dig around. I appreciate you might take a fee for this service, please let me know if that's the case.  Unfortunately my WP coding knowledge is not excellent.

[2020-07-02 13:30] pozitronios commented on #232
@majick777 so using dev. version 2.3.1.9 will solve this?
In order to be more precise, while a get a notice
![image](https://user-images.githubusercontent.com/66794856/86364598-0e017100-bc81-11ea-828f-0c4d66b9a43e.png)
it doesn't highlight a conflict in shifts and doesn't disable any shifts
![image](https://user-images.githubusercontent.com/66794856/86364761-443ef080-bc81-11ea-9ca6-509e03ba73f2.pn

[2020-07-02 15:00] majick777 commented on #232
@pozitronios Yes the conflict notice should disappear with 2.3.1.9, let us know if it doesn't.

[2020-07-02 15:00] majick777 commented on #235
@pozitronios Part of the intention of the archive page settings is so that the plugin could optionally redirect from the standard WordPress archive to the chosen page... but since those redirect options are not even implemented anywhere yet, they can't be causing the issue.

So it must be something conflicting with the standard post type archive and the page. In my experience setting a page slug e

[2020-07-02 15:10] majick777 commented on #233
@astevens93 I'd be happy to do that but it may be as simple as turning WP debug mode off or debug display mode off.

Notices and warnings should not be output to the screen in standard operation, and you will find there are actually a lot of plugins that generate warnings and notices like this, and with updates coming out all the time it is not something you will have control over, so you don't wa

[2020-07-02 15:18] astevens93 commented on #233
Thanks @majick777. I'm afraid to say both of those are (apart from when I was debugging) were set to false in wp-config.

define( 'WP_DEBUG', false );
define('WP_DEBUG_DISPLAY', false);

If you could drop me a line that would be most appreciated, your email is not public here so not sure what yours is. Many thanks as always.

[2020-07-02 21:16] astevens93 commented on #234
Yes works perfectly thank you.

[2020-07-03 01:31] tonyzeoli commented on #233
@astevens93 it's preferred to keep the thread going here until it's closed, please. Others need to reference the discussion here. Thanks for understanding. When you pull a discussion off Git, then I can't know when it's closed and moved to completed in the project tasks.

[2020-07-03 06:47] astevens93 commented on #233
Absolutely Tony, that’s good with me. I just thought because it seems like it could be an issue isolated to me.

I’ve since disabled my theme try and gone through a list of plugins to see if they are at fault. Still the same error.

Would it be helpful if I shared a video of it happening?

[2020-07-03 12:25] majick777 commented on #233
@astevens94 Hmmm probably not in this case., I have emailed you.

[2020-07-03 12:46] astevens93 commented on #233
Ok thanks, will look out for it. Not arrived just yet.

Thanks in advance.

[2020-07-03 13:05] majick777 commented on #233
@astevens93 Hmmm weird I will try resend.

[2020-07-03 13:17] astevens93 commented on #233
Ok thanks.  Try both emails just in case....    a.stevens@live.co.uk and alex.stevens@hcrfm.co.uk

[2020-07-03 13:29] tonyzeoli commented on #233
Hey guys - don’t use email please. Keep the thread here. We don’t want
sidebar conversations going on without them documented.

On Fri, Jul 3, 2020 at 9:18 AM astevens93 <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-07-03 13:30] astevens93 commented on #233
Ok if I need to share backend access in case, how best to do that please?

[2020-07-03 14:12] tonyzeoli commented on #233
That can certainly be direct.

On Fri, Jul 3, 2020 at 9:31 AM astevens93 <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-07-03 16:05] astevens93 commented on #233
Will be sure to post findings on the thread, hopefully a bug that can be easily resolved!

[2020-07-04 02:23] tonyzeoli commented on #235
@pozitronios checking with you on status. Please let us know if @majick777 reply was able to resolve your issue.

[2020-07-04 02:24] tonyzeoli commented on #233
Thanks @astevens93. We're holding off on launching the next version until this is resolved so that it's resolved for everyone. Please let us know how it goes.

[2020-07-04 04:47] neosonic2 commented on #232
@majick777 The 2.3.1.9 update has resolved my issue - thank you very much for all your hard work on this!! :)

[2020-07-04 15:57] astevens93 opened #236 "[Widgets] Current Show and Upcoming Show Widget conflict"
**Describe the bug**
In Dev version 2.3.1.9, if you have Current Show **and** Upcoming Show Widget on your sidebar, the Current Show widget stops working and displays 'No scheduled show' message. Even though there is a scheduled show. Because if you then remove the Upcoming Show widget, it shows Current Show correctly.

I have also noticed that it takes some time to load the widget.

The same beha

[2020-07-05 04:53] majick777 commented on #235
@pozitronios You could try adding this (to a PHP file in /wp-content/mu-plugins/ or in your child theme functions.php)
`add_action( 'init', 'disable_radio_shows_archive_slug', 11 );
function disable_radio_shows_archive_slug() {
    global $wp_post_types;
    if ( isset( $wp_post_types[RADIO_STATION_SHOW_SLUG] ) ) {
        $wp_post_types[RADIO_STATION_SHOW_SLUG]->has_archive = false;
    }
}`
and

[2020-07-05 04:56] majick777 commented on #232
@neosonic2 Thanks for bearing with us that was sure not an easy one. :-)

[2020-07-05 04:56] #232 closed

[2020-07-05 05:19] majick777 commented on #233
@astevens93 Okay that was a journey. Well, as it turns out, the new directory ping feature is crashing the reload - only for new posts -  without any debug output anywhere as to why... which made it tricky to track down.
While this is strange, I decided instead just to queue the pinging and run it in the admin footer hook on the next pageload instead so that this issue is fixed in any case.

[2020-07-05 05:19] #233 closed

[2020-07-05 05:41] majick777 commented on #236
@astevens93 This is possibly something in the new AJAX loading of widgets. (The delay is due to the AJAX loading.)
If you don't have a page cache, then you can turn the AJAX loading of widgets off in the plugin settings (or set it on individual widgets if you prefer.) But in any case I will take a another look at the AJAX widget loading code and retest it.

[2020-07-05 05:45] majick777 commented on #193
Going to close this issue as the changes seem to have solved the timezone problems.

[2020-07-05 05:45] #193 closed

[2020-07-05 08:26] astevens93 commented on #236
Confirmed that turning off AJAX loading fixes the problem. Thanks!

[2020-07-05 09:41] majick777 commented on #236
@astevens93 Ok thanks for that, well it is a new feature, so probably best not to have it on by default anyway.
I will have a further look at what could be causing this, perhaps the two widgets are somehow calculating refreshed schedules simultaneously and missing somehow... ah hmmm - this is probably happening since we turned "Clear Transients" on.

[2020-07-06 15:53] astevens93 opened #237 "[Schedule Times] All schedule times being shifted 1 hour out"
**Is your feature request related to a problem? Please describe.**
On the Current Show (and Upcoming Show) widget (and possibly shortcode), have the ability to remove the day in schedule info.

See below:

<img width="169" alt="Screenshot 2020-07-06 at 16 48 35" src="https://user-images.githubusercontent.com/67294458/86612778-8d0be780-bfa8-11ea-8795-6bf92748c651.png">

**Describe the solution you'

[2020-07-06 17:24] tonyzeoli commented on #237
@astevens93 I'm thinking about your request and my view is your perception is a subjective view of what you want that should be able to be hidden via CSS.

Some people may like it because it reminds the person viewing of what day it is. While for others, like yourself, you believe the person viewing knows what day it is and displaying the day is redundant or inconsequential.

My opinion is to leav

[2020-07-08 09:00] majick777 commented on #237
@astevens93 Unfortunately don't see how this is possible with just CSS as there is no wrapper just around the day.
Since adding one might prove troublesome to time formatting changes in the future, instead I have added some filters to the time format, so for example the day could be omitted from the formatting string. I'll update this ticket when that the next development version is up.

[2020-07-08 09:27] astevens93 commented on #237
Ok great thanks @majick777 yes a filter sounds like a plan. Much appreciated.

[2020-07-08 15:47] majick777 commented on #237
@astevens93 I have added time format filters to dev version 2.3.1.0 for the following contexts:
- Master Schedule (Table/Tabs/ List Views)
- Current Show/Upcoming Shows Widgets
- Archive Shortcodes

Here is an example for the Current Show Widget:

[code]

Enjoy!

[2020-07-08 15:50] majick777 commented on #237
Note to match for shortcode `$args['widget']` will be 0. And to do it for both just exclude that condition entirely.
This would do it for both Current and Upcoming Shows Widgets and Shortcodes:

[code]

[2020-07-08 16:48] astevens93 commented on #237
Thanks so much for this. Worked a treat in my functions.php file.
However, noticed the latest dev version has pushed my schedules times back by 1 hour. So everything 5-8pm for example, becomes 4-7pm and so on and so forth.

[2020-07-10 04:45] majick777 commented on #237
@astevens93 The entire schedule? That does seem strange. Can you let me know your timezone settings and which dev versions and I can attempt to reproduce.

[2020-07-10 17:24] astevens93 commented on #237
Hi @majick777 sorry it's taken me some time to get back to you.
So I've just double checked this by disabling dev version 2.3.1.9 and enabling 2.3.1.10 to confirm I'm correct in what I say, and unfortunately I am.

When switching to 2.3.1.10 it shifts all the scheduled show times back by 1 hour. So 12:00am - 02:00 am becomes 11:00pm - 01:00am and so forth for every single show.

See below timezone

[2020-07-10 17:54] boywondr16 opened #238 "Tabbed view doesn't collapse, doesn't bring up day on tab"
Not sure what brought this on, but trying to use tabbed display for my station's schedule gives a 2-level tab setup with only the active day being able to be accessed. Day links don't work, tabs don't collapse down to be just one row.

I have the settings unchecked for the page to be automatic and have run into this using either the [master-schedule view="tabbed"] or [master-schedule view="tabs"]

[2020-07-10 21:31] tonyzeoli commented on #238
This has been fixed in the latest development version. We're just about to release this as 2.3.2, but there's now a new issue that just popped up that we need to fix first. So, please be patient while we work this out.

[2020-07-11 02:23] majick777 commented on #237
@astevens93 Okay thanks for that will test it out, can't have that happening!

[2020-07-11 02:23] majick777 commented on #238
@boywondr16 I can see there is a javascript error in the development version you are using (the countdown function was being called when countdown not enabled on the widget.)

You should be able to temporarily resolve this error by disabling the AJAX loading of the Current Show widget, as this looks to be what is breaking the Schedule View javascript also.

As @tonyzeoli mentioned we are just chec

[2020-07-11 02:23] #238 closed

[2020-07-11 07:37] majick777 commented on #237
@astevens93 Found the issue. Nothing to do with schedule calculation, just the final display output. Should be all good now in 2.3.1.11

[2020-07-11 07:37] #237 closed

[2020-07-11 07:38] majick777 commented on #238
@boywondr16 Development version 2.3.1.11 is up, which includes this fix (do not use 2.3.1.10 has a schedule display bug.)

[2020-07-11 09:04] astevens93 commented on #237
Thanks yes that sorted the time shift issue!  I have noticed that on tabbed schedule Version 2.3.1.11 doesn't default to the current day tab, it just loads on Monday regardless of the day. For example today is Saturday but the tabbed view loads on Monday.

[2020-07-11 13:42] boywondr16 commented on #238
Thank you!

On Fri, Jul 10, 2020 at 8:24 PM majick777 <notifications@github.com> wrote:

[2020-07-13 09:20] astevens93 opened #239 "Bugs in 2.3.1.9 (schedule override) and 2.3.1.11"
**Describe the bug**

As you have gathered in past few weeks, I am a heavy user of the plugin - apologies I keep bringing you issues! But hopefully these can be rectified for everyone ahead of an official 2.3.2 release.

**In Dev. 2.3.1.9 and upwards (as this doesn’t seem to get rectified if I upgrade to 2.3.1.11)**

- this is a strange and frustrating one, but I can’t seem to get a show override

[2020-07-13 12:43] tonyzeoli commented on #239
Thanks for these reports - in the future, please separate your issues into individual tickets to they can be tracked accordingly.

@majick777 will have a look and let us know if we're seeing this issues too. I'll be testing them today on our demo site to see for myself.

[2020-07-14 03:58] majick777 commented on #239
@astevens93 I couldn't reproduce any problems with the overrides until I added multiple overrides, then I noticed only one was being honoured in the dev version which led me to find and fix a variable name conflict.
I had already sorted the other two issues over the weekend, I had optimized the month translation but the month index was out by one in that code, so that is sorted now. Also fixed jav

[2020-07-14 03:58] #239 closed

[2020-07-14 04:01] majick777 commented on #239
@astevens93 Let me know if there is further problems with the Overrides, and if so where they are not showing up. By "frontend" I presume you meant in the Schedule view.

[2020-07-14 04:02] majick777 commented on #237
Resolved in 2.3.1.12 as per #239

[2020-07-14 04:05] majick777 commented on #236
@astevens93 I have made an adjustment to when the transients are cleared - so they are not auto-cleared for AJAX when the "Clear Transients" setting is on. Feel free to retest the AJAX widgets now and hopefully these changes are sufficient to fix the conflict.

[2020-07-14 10:29] astevens93 commented on #236
Hi @majick777 - thanks AJAX loading for both widgets running at same time works now!

[2020-07-14 10:29] #236 closed

[2020-07-14 10:35] astevens93 commented on #239
Works great, thank you!

[2020-07-14 10:50] astevens93 opened #240 "Functions Filter for hiding day of week in schedule details for widget/shortcode"
Hi,
Just referencing filter created for #237 to hide 'day' from Current Show/Upcoming Widget.

I cannot get to work in my functions.php file in the latest dev version 2.3.1.12.

As we identified there isn't a big need for this from most users so no rush to fix, but I cannot get it to work in latest version unfortunately. Just to flag.

Note to match for shortcode `$args['widget']` will be 0. And t

[2020-07-14 21:46] pozitronios commented on #235
@majick777 I added the code to functions.php in my child theme, on new install so no conflicts with other plugins.
Still when no page with slug shows is present I dont get a 404, just an empty page. After creating a page with slug 'shows' it displays an empty page and no content. Currently I am working on xampp on localhost. Perhaps it's just my environment. Have you been able to recreate this?
Th

[2020-07-15 00:08] majick777 commented on #240
@astevens93 The example I gave has AND `&&` instead of OR `||` in the condition, but it will never equal both, so just change it to OR: `||' and it should work fine.

[2020-07-15 00:08] #240 closed

[2020-07-15 00:47] majick777 commented on #235
@pozitonios Please note customizations like this are typically outside the scope of support. Here is the tested version (again you will need to flush your permalink structure by saving it for this to work):

[code]

The rewrite rules need to be removed and re-added because `add_rewrite_rules` is called in `register_post_type` and so changing the post type object later does not have the desired eff

[2020-07-15 00:47] #235 closed

[2020-07-15 08:23] astevens93 commented on #240
Hi @majick777 I still cannot get this to work in my child theme function file, seems odd as it worked in a previous version!
Cleared browser cache to check.

[2020-07-16 09:37] majick777 commented on #240
@astevens93 I tested it as it is and seemed to work fine for me. There isn't any difference in this filter since it was put in place. You could try putting it in a single PHP file in `/wp-content/mu-plugins/` (or adding it via a Code Snippet plugin) to debug further.

[2020-07-16 09:55] astevens93 commented on #240
That worked in mu-plugins - did not think of that!  Thanks @majick777 .
Right that means I've made myself another task of finding out why it's not running in my functions.php!

Appreciate all your help, as you can tell I am a heavy user of the plugin but not the most clued up on Wordpress coding so appreciate your patience.

[2020-07-16 19:16] astevens93 opened #241 "[Current Show Widget] Non AJAX Widget sometimes says No Show scheduled"
**Describe the bug**
Very _occasionally_, on a page load, the widget for Current Show (when set to _not_ use AJAX) will fail to load the current show and instead display 'No Show scheduled' text (or whatever the widget text for no show is set to).

Using Dev version 2.3.1.12.

**My question is - is there something that could be causing this?**. Appreciate it is difficult to track down due to its i

[2020-07-19 21:56] XLRradio opened #242 "[Schedule View - Tabs] Cannot access first tab or last tab in mobile view"
**Describe the bug**
When on the "tabbed view" option we cannot scroll left to Monday's schedule

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'xlrradio.co.uk'
2. Click on 'schedule.'
3. try clicking left arrow 'on schedule'
4. See error

**Expected behavior**
obviously expecting it to click back to be able to view monday.

**Desktop (please complete the following information):**
 -

[2020-07-20 02:48] tonyzeoli commented on #242
I've confirmed this issue in mobile on your site and on our demo site.

@majick777 I've confirmed in mobile, if you're on Monday, you can't click to Sunday on radiostationdemo.com. We should get out a fix for this asap as 2.3.2.1. Let me know what you find out.

[2020-07-20 09:40] pozitronios opened #243 "[AJAX Conflict] Version 2.3.2 conflict with AJAX calls using save_post"
**Describe the bug**
Radio Station Version 2.3.2 conflicts with toolset views plugin.

The problem seems to appear when creating/editing/trashing a view, it does not save and is forever loading.

This is just to bring this issue to your attention as I have found a temporary workaround: downgrade to the previous version of radio station while working with toolset, and then upgrading again.

You may

[2020-07-20 13:23] tonyzeoli commented on #243
Thanks for letting us know. It's always helpful for the community to push issues into our issue tracker for resolution. We appreciate your report!

@majick will take a look and we'll get out a fix for this as soon as possible. We'll probably release it as a development version for you and the minority of users who might experience it and then add it to the next the next release. So, when we fix it

[2020-07-20 13:34] tonyzeoli commented on #241
@astevens93 Can you possibly take a screen record with CloudApp or equivalent and post the link, so we can see what the behavior is and how it happens with a video?

[2020-07-20 13:40] astevens93 commented on #241
Hi @tonyzeoli please let me know if you're able to download this .mov file https://we.tl/t-Qx781NNsrb

I kept refreshing the site multiple times until I got the error. Then as you can see a simple refresh fixes it.

[2020-07-20 13:43] tonyzeoli commented on #224
Release completed.

[2020-07-20 13:43] #224 closed

[2020-07-20 13:44] tonyzeoli commented on #219
@majick777 I believe this is completed, is that correct?

[2020-07-20 13:45] tonyzeoli commented on #213
@majick777 I've moved this to 2.3.3 if still necessary. If not, please close.

[2020-07-20 13:46] tonyzeoli commented on #212
@majick777 Moving this to 2.3.3.

[2020-07-20 13:47] tonyzeoli commented on #211
This is fixed for now. Closing this issue to keep Gitbhub updated!

[2020-07-20 13:47] #211 closed

[2020-07-20 13:49] tonyzeoli commented on #209
Moving to 2.3.3

[2020-07-20 13:50] tonyzeoli commented on #201
Moving to 2.3.3 release. Let's talk about this one, so we're clear on what are the dependencies and requirements. Thanks!

[2020-07-20 13:51] tonyzeoli commented on #199
Moving this to 2.3.3.

[2020-07-20 13:52] tonyzeoli commented on #192
@boywondr16 Just doing some cleanup here. Let us know if you're issue is still persistent. So sorry for ignoring this since May  13, your last post, but I think this should be resolved. Let us know so we can close this Issue.

[2020-07-20 13:53] tonyzeoli commented on #188
@majick777 Was this added? Please close or move to 2.3.3 if needed. Thanks!

[2020-07-20 13:55] tonyzeoli commented on #142
@majick777 @voyager131 Just checking in on this ticket on Git. I know we're in Slack chatting about it. The last I saw was that Tony Hayes responded and Andrew was going to ingest that reply and work on changes. Is that still the case? Where do we need to go here? What do we need to do next? Thanks guys!

[2020-07-20 13:56] tonyzeoli commented on #148
I'm leaving this open for now and not related to a milestone. We may need this in the future, but not sure yet.

[2020-07-20 14:06] tonyzeoli commented on #179
@PAOK1926 I'm doing some cleanup work here in Git and came across this ticket. I'm trying to understand this a little better. Are you saying that you want the Schedule display to start not at 12 midnight, but at - say - 7 am? So, if you only have shows scheduled between 7 am and 12 midnight that all seven days only display from 7 am to 12 midnight and leave off anything after midnight to 6:59 am?

[2020-07-20 14:07] tonyzeoli commented on #173
I'd like to see these roles added in 2.3.3 please. Radio is not just music. We need to support talk formats and all news stations, thanks.

[2020-07-20 14:09] tonyzeoli commented on #168
Moving to 2.3.3. I may need to provide more detailed requirements on this one.

[2020-07-20 14:11] tonyzeoli commented on #162
@majick777 Should we make all current saved show shifts have a light green background and any duplicate shifts have a yellow background until fully saved? So, for example, if you duplicate a shift, it turns yellow until it is updated and saved?

[2020-07-20 14:14] tonyzeoli commented on #162
If an existing shift time is changed by the user, I think they would have to save it, no? If the shift time is changed, then maybe the row should immediately change color to yellow until saved and then revert back to green on save? Is there some interim Draft status, so if the user navigates away from the admin then yellow persists until they return and save?

[2020-07-20 14:14] tonyzeoli commented on #162
Moved to 2.3.3

[2020-07-20 14:16] tonyzeoli commented on #155
Moved to 2.3.3. Let's discuss this further and see if we need to progress this idea.

[2020-07-20 14:17] tonyzeoli commented on #149
Tagging this as PRO.

[2020-07-20 14:18] tonyzeoli commented on #126
@trystant Are you still able to take a look at this?

[2020-07-20 14:19] tonyzeoli commented on #126
Moved to 2.3.3

[2020-07-20 14:22] tonyzeoli commented on #61
@majick777 Let me know where we are with this. Thanks.

[2020-07-20 14:31] tonyzeoli commented on #56
@majick777 I have contacted the Romanian agency ([](https://craftinteractive.ro/)) who created this filter feature for the List view of the plugin and asked them if they want to contribute this code to the project. Hopefully, they'll respond and issue a pull request to help us grab this feature and add it to the plugin.

[2020-07-20 14:33] tonyzeoli commented on #53
Keeping this open for further investigation and not assigned to a future release yet.

[2020-07-20 14:49] boywondr16 commented on #192
You picked a good day to ask. I just had a reason to double-check and it
worked fine.

On Mon, Jul 20, 2020 at 7:53 AM Tony Zeoli <notifications@github.com> wrote:

[2020-07-20 19:03] XLRradio commented on #242
@tonyzeoli is not only in mobile. its the Tabs schedule. on desktop computers you can view tuesday to sunday but if you want to click the arrow to view the day before ie monday you cant

[2020-07-20 19:21] pozitronios commented on #243
Pro version, toolset hasn't got a free version

[2020-07-21 01:38] tonyzeoli commented on #242
@XLRradio okay, thanks for that. On desktop I saw all the tabs on our demo site, but did not click them. My error. I’ve corrected the title and @majick will respond shortly with a fix I’m sure.

[2020-07-21 02:43] majick commented on #242
Please stop tagging me in your issues.  I'm not the person you're trying to tag.  Thanks!

[2020-07-21 11:21] majick777 commented on #219
@tonyzeoli No it is still being manually synced. I will get to this one in time, it just isn't that much of a priority when it takes a short time to sync manually.

[2020-07-21 11:22] majick777 commented on #219
Also I think that we should just sync this to master branch rather than develop, or it could be confusing for users.

[2020-07-21 11:27] majick777 commented on #213
@tonyzeoli I think we should still try to reproduce this on a fresh WordPress multisite install at some point, it seems like it could be from some peculiar combination of admin role / superadmin. Superadmins are stored separately and are not a "role" in the same way that the others are, so it might still be possible to have an Editor on a site for example that is superadmin, but has no administrat

[2020-07-21 11:40] majick777 commented on #126
So with the Radio Clock Widget (and shortcode) added in 2.3.2 - and also displayable above the Master Schedule - we could look at the next step of displaying the shift times in the Schedule/Widgets in the current user timezone...

I think the easiest way to do this might be to have a (clock?) icon next to the shift times. and mousing over the clock icon would display the converted shift time. And

[2020-07-21 11:47] majick777 commented on #56
@tonyzeoli Are we considering this for another view? Because the intention with the list style view is to keep it unstyled. While we don't know for certain if anyone has used it for this purpose, adding styles to it might break their custom styles.
Or we could first make this available as a feature to the list view unstyled, then style it along with a new view like this, but what would we call tha

[2020-07-21 11:57] majick777 commented on #61
@tonyzeoli Basically just need to decide what plugin images or other promotional material/text (eg. mention of the Netmix Directory and images?) we want to put in this space, as the repository "home" page in a send, I still think we can make better use of it and make it look prettier by having images etc. (but not adding too many links.)
I can do the markdown formatting for this once we have some

[2020-07-21 12:02] majick777 commented on #94
@tonyzeoli I will need to check the code on this one, possibly made this an issue because it was my first attempt before we came up with the other solution, so it may be in place already as an option. If so, could maybe just make a filter for it in case it is ever wanted rather than removing it.

[2020-07-21 12:10] majick777 commented on #168
@tonyzeoli I think we would need to decide whether we want these Segments as a new post type, or as part of the existing Playlist functionality... since we are saying there could be a mix of music and talk within a Show, I guess we mean the latter.
In which case, for each "Track" we might be looking at adding a dropdown to select: Music/Talk/News... one question there is, are these 3 comprehensive

[2020-07-21 12:22] majick777 commented on #162
@tonyzeoli Yes nice one! I like the green and yellow background idea, this would certainly make it clear enough what is and has yet to be saved.

I'm not sure what you mean about the interim Draft status, changes only exist on the page, if they navigate away without saving those changes will be lost. Autosaves ignore post meta like this because then you'd need to add a whole new interface asking w

[2020-07-21 12:40] majick777 commented on #173
@tonyzeoli We need to not just add the role (which can easily be done just like we created Producer role from Host) but also decide where and how this would be assigned via interfaces and displayed, so it actually does something not just exists to be able to assign to users.

Currently, we have changed the "DJ" label to "Host" so as to be more generic, and so the Host could be a Podcaster or Inter

[2020-07-21 14:09] tonyzeoli commented on #173
Thanks for the feedback.

All shows will most likely always have a Host. The Reporter / Journalist is like the Producer - they ar a secondary role to the host contributing reporting to the show, episode, or segment.

We have the "Produced by:" set of producers. We could have "Contributors" and that would be the subset of Reporters / Journalists contributing to a show.

Because a Reporter / Journal

[2020-07-21 14:13] tonyzeoli commented on #162
@majick777 okay, that sounds reasonable - i was just thinking out loud as to what we do if the user hasn't clicked Update on the page to save their work. But yes, we can just say "Wait, if you navigate away from this page, your changes will not be saved. (Cancel / Save). That's fine. I just wasn't sure, but that does the trick.

[2020-07-21 14:15] tonyzeoli commented on #162
@majick777 We may also want a "legend" of sorts to show people what green and yellow mean. If green, your Yellow, your change is NEW but not yet saved. If Green, your change is NEW, but has been saved.

[2020-07-21 14:17] tonyzeoli commented on #243
Ah, I think they used to have a free version, but no longer. Okay, that's going to be hard to test against because it's a PRO plugin and we just can't go around paying for plugins to test against. I might have a PRO version myself for a client I did work for last year. I'll look and will ask @majick777 what he suggests we do here to test against a premium plugin that we don't have a license key fo

[2020-07-21 14:18] tonyzeoli commented on #241
Okay, great. I'll ask @majick777 to review the video.

[2020-07-21 14:29] tonyzeoli commented on #94
Okay...I know you love the sroll action, so...I'll leave it to you, LOL. If you have it in place and want to add it as a filter, be my guest. :)

[2020-07-21 14:40] tonyzeoli commented on #56
I'm not concerned about the way they styled the view, I just think the filter itself is a neat addition so that you can quickly see only the day of the week you're interested in. If it remains unstyled, that's fine.

I'm thinking this is just added to the List view in two columns, as they example site displays. But it doesn't have to be two columns. We could keep it to one and just add S, M, T, W,

[2020-07-21 15:00] tonyzeoli commented on #213
Okay, we can set this up on a dev server on WP Engine. I'll make a note for myself to do that next week. Then you can play with that and see if the issue persists in the way you describe.

[2020-07-21 15:02] tonyzeoli commented on #219
Okay, we'll leave this open until you get to it. Thanks!

[2020-07-21 15:15] pozitronios commented on #243
Toolset types used to have a free version but not anymore.  Since it doesn't seem to affect the site's functionality and there is a workaround, I wouldn't consider this critical, just wanted to bring it to your attention and hopefully it is going to get sorted in the future.

[2020-07-21 15:23] tonyzeoli commented on #243
@pozitronios Got it. I'd say you're right about the level of priority. Most of the sites I've seen use Radio Station aren't really generating custom post types. They usually just use Radio Station with WordPress core functionality and aren't doing much of anything else. Toolset is a popular post type generator plugin - as I said, I've used it in the past. But it's probably not as widely used with

[2020-07-21 15:31] tonyzeoli commented on #243
@pozitronios Toolset doesn't have a good way to submit an issue - I sent them a note through their Business form, because I don't want to create a login for their community forum, which I don't think will get me anywhere. Would you mind logging in with your PRO license and submitting the issue to their team and then reference this post in your note, so they can follow up and test with Radio Statio

[2020-07-21 16:37] XLRradio commented on #242
i think he meant @majick777

[2020-07-21 17:07] tonyzeoli commented on #242
@majick So sorry! I meant @majick777 - don't know how you ended up in my autocomplete!

[2020-07-21 22:44] tonyzeoli commented on #243
@majick777 How do you propose we address this issue with Toolset, when we don't have the licensed version of the plugin to test against?

[2020-07-21 23:06] ionuke commented on #241
Also have this problem at our website <www.2nvr.org.au>  "Coming Up" widget displays "No Upcoming Shows Scheduled". In our case, disabling Ajax as default setting and at widget level has no effect. Worked okay for a couple of days. Other visitors have reported this symptoms in Chrome and Firefox, on Mac,  and Edge, Chrome, Firefox using Windows. Using HTML widget with shortcode, same symptom. The

[2020-07-22 02:00] BGJamboree commented on #243
Seems the same issues are happening with Elementor that pozitronios mentioned for Toolset.  It does have a free version so perhaps a resolution with one would tackle the problem for all.  I was just able to pinpoint the conflict to Radio Station and Elementor not working together and wanted you to be aware.

[2020-07-22 06:53] pozitronios commented on #243
@tonyzeoli  I have already contacted our guy who can get through to them and astonishingly enough I got a reply saying that there may be a problem with the ajax code found in pos-types-admin.php. I am not a coder so I don't know if that is of any help.
@BGJamboree can you be more specific where and what doesn't work with elementor?

[2020-07-22 07:20] astevens93 commented on #241
Hi @ionuke interesting you have the same symptom. I was worried it was just me!
I’ve had a look at https://2nvr.org.au/contact/ like you say and I see the same as I get where On Air Now comes up with No Show currently scheduled.  The coming up soon widget loads fine.  Yours seems to throw the error more consistently than mine does though.

![D6FA5F43-6131-457A-8F9A-58B239DC4FE5](https://user-image

[2020-07-22 12:02] BGJamboree commented on #243
When trying to post or update the process takes forever only to give a false completion.  No changes are actually submitted when using Elementor.  It would take a minimum of 5 minutes for the page to attempt to publish or update but when checking the front end, there were no changes actually published.

[2020-07-22 12:07] pozitronios commented on #243
@BGJamboree I can confirm that.

[2020-07-22 18:52] tonyzeoli commented on #243
@pozitronios @BGJamboree thanks for the reports - I did get through to Toolsets and they sent us a developer login. So, we’re all set now to explore this issue. @majick777 will probably check in shortly on this issue and we’ll get out a fix for it. Thanks for getting them to identify where it might be conflicting with the ajax code.

[2020-07-23 14:44] pozitronios commented on #243
@tonyzeoli @majick777  It also affects the wordpress customizer: when you press update it gives a false negative warning, however it updates and all changes are saved regardless. From what I have seen so far it affects anything that updates with ajax on the backend.

[2020-07-23 17:23] majick777 commented on #242
@XLRradio I took the opportunity to improve the code for the tab and table responsiveness and combine it better with the left/right arrows, this should resolve the issue. Added to development version 2.3.2.1 for 2.3.3

@tonyzeoli Previously the responsiveness was based on fixed widths but with the addition of being able to display certain days via the shortcode, it made sense to change this to det

[2020-07-23 17:23] #242 closed

[2020-07-23 17:26] majick777 commented on #243
@pozitronios Can you indicate which page/interface in Toolset you are experiencing the problem?
@BGJamboree Similarly with Elementor, I am not sure where you are seeing a problem, the plugin post types are not editable by Elementor by default as they just use the Classic Editor, I have installed Elementor but not sure how to reproduce a problem here I have not had a conflict so far.

[2020-07-24 03:49] tonyzeoli opened #244 "[v 2.3.2.1] Radio Time and Your Time Do Not Display"
**Describe the bug**
A clear and concise description of what the bug is.

On RadioStationDemo.com, the Master Schedule Radio Time and Your Time views are no longer displayed.

Running Radio Station 2.,3.2.1

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://radiostationdemo.com
2. Click on Master Schedule (any view)
3. View null for Radio Time and Your Time clock

**Expected behav

[2020-07-24 03:57] tonyzeoli commented on #243
@majick777 @pozitronios said this above: from toolset types, they suggested there may be a problem with the ajax code found in pos-types-admin.php.

And, @BGJamboree said above with Elementor: "When trying to post or update the process takes forever only to give a false completion. No changes are actually submitted when using Elementor. It would take a minimum of 5 minutes for the page to attempt

[2020-07-24 04:10] tonyzeoli opened #245 "[Netmix.com] Login page broke with recent updates"
**Describe the bug**
A clear and concise description of what the bug is.

The /wp-admin login page on Netmix broke with the most recent plugin updates.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://netmix.com/wp-admin
2. View page
3. Stylesheet seems to have gone away for the page
4. Nav menu broken, logo missing
5. Many elements on the page are now unsettled including around

[2020-07-24 04:33] tonyzeoli commented on #244
Not sure what happened, but working now.

[2020-07-24 04:33] #244 closed

[2020-07-24 16:51] pozitronios commented on #243
@majick777 as commented above, If you want to recreate the problem try:
in toolset to create and/or edit a view
in elementor to save/update
in customizer to save/update

[2020-07-25 01:17] majick777 commented on #244
@tonyzeoli Possibly was just happening when I was testing the new width responsiveness javascript.

[2020-07-25 01:58] tonyzeoli commented on #244
most likely, yes...wasn't aware you were working on the site at the
time...all good now though.

On Fri, Jul 24, 2020 at 9:17 PM majick777 <notifications@github.com> wrote:

[2020-07-25 04:48] majick777 commented on #245
@tonyzeoli Were you testing any accessibility plugins? Seems like autoptimize cached the javascript for one and was applying it. This was breaking the HTML not just on the login page but the entire site.
I also couldn't login at all, and had to clear my cookies for the site. And disable Jetpack temporarily as it seems it was blocking logins.
When enabling, disabling and updating plugins we should

[2020-07-25 04:48] #245 closed

[2020-07-25 04:51] tonyzeoli commented on #245
Okay, I will definitely do that. I think there's an issue with Autoptimze 2.7.5 anyway. You can see that on [their support page as a sticky post.](https://wordpress.org/support/topic/2-7-5-known-issues/). This may have been an issue as it was an issue on the Bookstr.com site I'm working on.

[2020-07-25 04:56] majick777 commented on #243
@pozitronios Sorry I have not been able to test this further since we were given access to Toolset Types and Blocks but not Toolset Views... Hence my confusion trying to find the correct interface. So I have emailed asking for access to Toolset Views.

@BGJamboree You are probably correct that there is some AJAX action that is being processed unintentionally I will keep looking to see if I can fin

[2020-07-25 05:38] majick777 commented on #243
@BGJamboree Yes that was it, it was the new AJAX saving of shifts/tracks that was being triggered in other AJAX actions that use the `save_post` action.
@pozitronios Probably the same was causing the Toolset issue.

I have added the fix to dev version 2.3.2.2 for 2.3.3 release. If you can test it out this and report back as soon as you can, we would like to push this as a release fix as soon as we

[2020-07-25 13:23] majick777 commented on #162
@tonyzeoli I've added the background colors to the shifts and a navigate away from page dialogue on shift changes. Also, any changed fields are highlighted with the original bolded. Plus I fixed a bug where newly added shifts were not removable since last few development versions. Check it out, I will leave this open for now in case there are further on this front, I think it's pretty good now, bu

[2020-07-26 13:31] majick777 commented on #241
@astevens93 @ionuke I have seen this happen occasionally, and suspected it might be due to the Current Show transient expiry. But there is not much point to this transient if it is going to cause these potential problems, so I have just removed this transient entirely, the plugin now just loops the current schedule (which is still a transient but has not had any problems) and gets the current show

[2020-07-26 13:31] #241 closed

[2020-07-26 13:33] majick777 commented on #243
@pozitronios @BGJamboree Reports on WordPress.org support indicate this has resolved the issue so closing here. Feel free to comment if not the case and we can investigate further.

[2020-07-26 13:33] #243 closed

[2020-07-26 15:30] KerryB1 opened #246 "Tabbed View additional text appearing on upgrade to 2.3.2"
Just upgraded to 2.3.2 and noted additional text appearing on Tabbed schedule view .  This appears when text is included in a show description.

![image](https://user-images.githubusercontent.com/68817551/88482849-c908eb80-cf5b-11ea-9cf2-38797a4bd14b.png)

Note that the first entry , Sunday teatime Show does not have any text in the Show description entry.
Second entry ,  Weekly News Review has te

[2020-07-26 20:21] larryl79 opened #247 "[Plugin Settings] Can't change 12 hour format to 24 hour format"
**Describe the bug**
Can't change 12 hour format to 24H format in settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'settings'
2. Click on 'time format 24h'
3. save settings
4. See error : it turns back to 12H format

ver: 2.3.1, 2.3.2

[2020-07-26 20:57] larryl79 opened #248 "on turned on V2.3.2 plugin can't publish another customizations"
**Describe the bug**
on turned on V2.3.2 plugin can't publish another customizations
doesn't matter what theme is turned on even on a "fresh installed virgin WP"
all another plugin is turned off

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on plugin.
2. goto "visit site"
3. click customize
4. edit menus, widgets, custom css etc.
5. click on publish.
6. see error message: "Looks like

[2020-07-26 21:05] torpix commented on #248
Got the same Issue. since version 2.3.2

[2020-07-26 21:13] larryl79 opened #249 "[Schedule Overrides] Link to or copy data from existing Show"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
enable add exist show to schedule override without fill out anything just click on show name, and show + dj-s will be added for that overridden schedule.

[2020-07-26 21:14] samsmette commented on #248
I am experiencing the same issue with Elementor not allowing me to publish/update pages. This was caused following the update to 2.3.2.

[2020-07-26 21:21] tonyzeoli commented on #248
Hey everyone / this was already reported and the fix is ready for push late tonight EST sometime after 9 pm. In the meantime, disable Radio Station, publish your change to your theme or toolset views, which is also affected), and then reactivate Radio Station. We found and issue in the Ajax Script that conflicted with all themes with post types using a certain function. I will keep open until the

[2020-07-26 21:42] larryl79 commented on #248
https://github.com/netmix/radio-station/releases/tag/2.3.3

[2020-07-26 21:45] larryl79 commented on #248
bug solution in last 2 post. confirmed V2.3.3 tested and working fine.

[2020-07-26 21:45] #248 closed

[2020-07-27 01:29] majick777 commented on #246
@KerryB1 I did enable the Show Description display by default in version 2.3.2 for the Tabbed view. But have decided to revert that, since it's possible other plugins interfere with the description excerpt. We are just pushing version 2.3.3 so I've added this change as a last minute hotfix.

[2020-07-27 01:29] #246 closed

[2020-07-27 01:30] majick777 commented on #247
@larryl79 Thanks for reporting. I've added this as a last minute hotfix to 2.3.3 which we are pushing out shortly.

[2020-07-27 01:30] #247 closed

[2020-07-27 01:42] tonyzeoli commented on #247
Should be out before midnight EST.

[2020-07-27 01:45] majick777 commented on #249
@larryl79  Sorry I'm not sure I'm quite following your description here. You are just adding an empty override, and Hosts are being assigned to it?

[2020-07-27 04:10] tonyzeoli commented on #248
@larryl79 Thanks. 2.3.3 just deployed on the WordPress plugins page.

[2020-07-27 04:11] tonyzeoli commented on #247
Please take the latest version, 2.3.3, from the [WordPress plugin page.](https://wordpress.org/plugins/radio-station)

[2020-07-27 04:12] tonyzeoli commented on #246
Please download version 2.3.3 from the [WordPress plugin page.](https://wordpress.org/plugins/radio-station).

[2020-07-27 04:13] tonyzeoli commented on #243
v 2.3.3 is now available with a fix for this issue on the [WordPress plugin page.](https://wordpress.org/plugins/radio-station)

[2020-07-27 09:21] larryl79 commented on #247
I repulled 2.3.3 from wordpress and I've got still same issue.

[2020-07-27 09:24] KerryB1 commented on #246
Hi

Thanks for the quick response.

Have tested the update and  show information now appearing as expected.

It appears the rogue text was being picked up from the  page that the Master Schedule was being displayed on and not the Show Description text.

Worth noting that Master Schedule page needs to be blank on these releases as any content was ignored on 3.2.1 and before

Kerry

From: majick777

[2020-07-27 09:59] majick777 commented on #247
@larryl79 Sorry, seems like I had a network glitch on last push and didn't notice. My connection is truly next level horrible today. You can download and install the plugin from the Github master branch while we get that last fix resynced to WordPress SVN.

[2020-07-27 10:46] larryl79 commented on #249
No, sorry for my misunderstood. :)

1. add override.
![image](https://user-images.githubusercontent.com/24578424/88533086-931c4380-cffd-11ea-9c58-9377b1fe1c5d.png)

2. how can add here an exist show with hosts/producers?!

only what I can do just enter a name and description, but no hosts/producers can be added/selected. So the idea is add a selectable list to this page with exist shows, when (I)

[2020-07-27 10:50] larryl79 commented on #247
Hmmm stange... I dunno what's going on then. I just pulled master zip from here, deactivate and delete plugin, delete %radio_station% from wp-options, extract zip, upload into appropriate dir, activate plugin and still same issue. so I banging my head now into the desk...

[2020-07-27 13:34] tonyzeoli commented on #247
@larryl79 I just released 2.3.3.1 within the last 30 minutes of this post on the WordPress plugin page after @majick777 included the hotfix missed in 2.3.3. Please try again.

[2020-07-27 13:51] tonyzeoli commented on #247
@larryl79 I just checked my install on radiostationdemo.com and was able to switch 12 to 24 hours and 24 to 12 and save.

[2020-07-27 13:54] larryl79 commented on #247
I updated it now. Actually it was saved to 24H format, just not shown it in setting. now is perfect.

[2020-07-27 13:58] tonyzeoli commented on #247
@larryl79 Great. Glad we got that fixed for you. We'd appreciate a review of the plugin on our WordPress plugin page at https://wordpress.org/plugins/radio-station. Please take a moment to review. We appreciate it.

[2020-07-27 14:03] tonyzeoli commented on #247
@larryl79 When you complete the translation, send us the .po / .mo files and we'll include them. Thank you for your help with this. It is very important for us to have quality translations in other languages.

[2020-07-27 14:06] larryl79 commented on #247
Sure.

[2020-07-27 15:00] majick777 commented on #249
@larryl79 I think the easiest thing for you to do right now would be to add another Shift to the Show for the desired timeslot (and disable the other Show's overridden shift temporarily.)
I will need to consider how and what would be pulled from an existing Show, and even possibly whether they could be linked or synced. But probably just copied to begin with (so Override adjustments can be made.)

[2020-07-27 16:42] larryl79 commented on #249
@majick777  I just gave a feature idea  :) we can chat considerations if u like.

[2020-07-27 16:42] BGJamboree commented on #243
Thank you!!! Working like a charm 😊

[2020-07-27 16:47] larryl79 commented on #212
Or even viber / whatsapp number field as well. ( My friends radio using just viber for message into the show )

[2020-07-27 18:07] astevens93 opened #250 "Viewing: Sunday displayed in responsive mode when Day 6 is selected"
**Describe the bug**
This has occurred since the update and I am running Version 2.3.3.1.
As you can see from the attached video file, when in responsive view (and consequently mobile devices) if you have the Sunday (or it could just be Day 6 depending on the start day of your week), just below the day tabs a DIV appears with the text 'Viewing: Sunday'.   This does not happen on any other day sele

[2020-07-27 18:20] astevens93 commented on #250
Hello again. Sorry please ignore me. I had a look at the demo site and I realise why you have done this now, it’s because by default you may scroll across to access another day so it shows the day you are viewing.

Got it.  It is because my tabbed view is styled different to the norm.

I will close, but good for anyone else interested. Just hide with CSS!

![1114D515-D78A-4B5F-9F4C-95CDDA139E90](h

[2020-07-27 18:20] #250 closed

[2020-07-27 19:03] pozitronios commented on #243
@majick777 Thanx! It Works!

[2020-07-27 20:46] larryl79 opened #251 "[plugin][show] show age limitation (feature request)"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
add a field to show about age limitation e.g 16+ 18+ 21+ etc, which automatically shown on show page even with own logos

![image](https://user-images.githubusercontent.com/24578424/88590361-7fe79300-d052-11ea-992e-543359b0d3dd.png)

[2020-07-27 21:12] astevens93 commented on #241
Hi @majick777 - just to let you know this still doesn't seem to be fixed in Version 2.3.3.1.
Any shows scheduled between 10pm - 12am will always show 'No Show currently scheduled'.

I am getting the same message not only on my site, but http://radiostationdemo.com/widgets/

![image](https://user-images.githubusercontent.com/67294458/88592367-d2767e80-d055-11ea-9768-375251a95185.png)

[2020-07-27 21:29] larryl79 opened #252 "[Plugin Content] word mistype in php file"
**Describe the bug**
radio-station/trunk/includes/post-types-admin.php  line 2265

echo ' ' . esc_html( __( "You can then assign them to a relevent Post Category for display on your site also.", 'radio-station' ) );

todo:
change "relevent" word to "relevant"

Remark: I don't translate it until not changed.

[2020-07-27 21:34] tonyzeoli commented on #251
@larryl79 id like to understand this better. For the most part, broadcast radio in the United States does not have a rating system like our film industry (e.g. P, PG, R, X). Not do our broadcast television stations, because it’s federal law you cannot broadcast age inappropriate content over the airwaves, especially because there is no way to restrict it. Is there some law in Hungary that delineat

[2020-07-27 23:06] Ajames0807 opened #253 "[Current Show Widget/Shortcode] Does Not Display Current Shows ending at midnight"
Hello

I have just updated to v2.3.3.1 and the current show widget and short code is no longer displaying the current show. I was wondering if this is a bug and if others are experiencing this?

[2020-07-27 23:19] larryl79 commented on #251
It not just Hungary. It's in all in europe by EU law what I know about. My Host friend got $500 penalty for say a "f*ck" accidentally, because it wasn't shown an appropriate age limit on his show. That money is about a minimum wage in Hungary.
And you making this plugin worldwide... ;)

[2020-07-27 23:20] larryl79 commented on #251
I don't say this have to be mandatory, just make a possibility of choice of the radio to put on or not.

[2020-07-27 23:30] cbeattie89 commented on #253
Having the same issue. All shows are active and scheduled correctly, and are properly highlighted in the master schedule - but nothing on the current show widget and short-code.

[2020-07-27 23:40] tonyzeoli commented on #253
@Ajames0807  and @cbeattie89 Thanks for reporting this. I've confirmed on our demo site that the widget is not displaying the current show.

@majick777 I've assigned this. Can you take a look, please? Thanks. We'll have to get out a fix for this asap.

[2020-07-27 23:44] tonyzeoli commented on #252
@larryl79 Thanks for this. @majick777 is from Australia and may not spell words in U.S. English. Please let us know if you find some other content spelling issues.

[2020-07-27 23:48] larryl79 commented on #252
/radio-station/trunk/includes/post-types-admin.php  Line 1016

$error = __( 'Failed. Relogin in try again.', 'radio-station' );

may this should be (???) :
$error = __( 'Failed. Relogin in %s Try again.', 'radio-station' );

[2020-07-27 23:48] tonyzeoli commented on #252
Fixed for next Milestone: 2.3.3.2

[2020-07-27 23:48] #252 closed

[2020-07-27 23:49] larryl79 commented on #252
I spelling UK english LAMO

[2020-07-27 23:55] larryl79 commented on #252
PLease keep this issue open until I finishing with all translations in dev trunk. I don't want make new issues if I find another like this. At this moment I've done 336 from 570 in dev trunk.

[2020-07-27 23:57] larryl79 commented on #253
I've experiencing same with widget and schedule override.

[2020-07-27 23:59] tonyzeoli commented on #251
@larryl79 I understand. There will be many differences around the world for age-restricted content. But, there are plugins for age verification that do not allow the user to access the website until they confirm their age. Here is one I found: https://wordpress.org/plugins/dispensary-age-verification/

It would be very easy in the Show Description to add a line of text, instead of us adding some f

[2020-07-28 00:10] cbeattie89 commented on #253
Just a heads up - it looks like my widget's started working again. Not sure if this was something you did on the developer's end, or just a strange quirk of timing.

[2020-07-28 00:21] larryl79 commented on #251
I understand what are you saying, but it's not about age verification or access. It just about secure us hosts from (in my country MAHASZ, ARTISJUS) (in your country e.g. BMI) against penalties for "french speak".

I've done it in show description the adult restriction where I needed. Just came an idea to make it easier, and shared with you. As per I made programming as well I've got ideas how to

[2020-07-28 00:26] larryl79 commented on #253
I've just checked on mine and same started, upcoming widget started working again as well.

[2020-07-28 01:23] tonyzeoli commented on #251
I think we can do something like the following:

Content Rating:

- Children under 12
- Teen & Young Adult (13-21)
- Adult (non-Explicit Language) (21+)
- Adult (Explicit Language) (21+)

The user could click one or more and it will display the appropriate label.

I hesitate to put an age with an icon because it could be 17 in one country and 21 in another, you don't know and then we'd have to bui

[2020-07-28 01:28] tonyzeoli commented on #251
@majick777 This seems like a simple idea to execute - just display age-appropriate list on the left sidebar of a show page. @larryl79 suggests that having this option display on a web page will help station owners with legal issues related to explicit content. He was advocating for iconography, like an age with a circle around it. But, I prefer to just list out, as I've done in this ticket as test

[2020-07-28 01:42] tonyzeoli commented on #251
@majick777 @larryl79 After reading Ofcom Offensive Content on Radio Guidelines from the UK, I'll add the following:

If the user selects (Adult - Explicit Language), we should have a tooltip "?" icon that displays the following statement.

"This show's content may include, but is not limited to, offensive language, violence, sex, sexual violence, humiliation, distress, violation of human dignity,

[2020-07-28 01:43] tonyzeoli commented on #251
Here's the Ofcom guidance: https://www.ofcom.org.uk/__data/assets/pdf_file/0014/40541/offensive-language.pdf

[2020-07-28 07:27] larryl79 commented on #251
@tonyzeoli only difference in rest of europe (how I knows including hungary) 12+ 16+ 18+ (18 is the adult limit)  which is somehow applying in UK as well because they can't apply 21 on farreners. So for this case let users select own icons for all content rating categories from uploaded media, and can be shown like this below

![image](https://user-images.githubusercontent.com/24578424/88632882-23

[2020-07-28 08:01] larryl79 commented on #251
I just spoke with my friend, and he said in Germany there's a different signs for content rating (they are using letters like in U.S.A.) so it can be a good idea to select from uploaded media/images for each categories.

[2020-07-28 08:17] Ajames0807 commented on #253
Yes mine also seems to be working OK now 👍

[2020-07-28 10:43] astevens93 commented on #253
Hello just wanted to confirm that this is the same issue that I referred to in this comment?

https://github.com/netmix/radio-station/issues/241#issuecomment-664641002

[2020-07-28 11:23] tonyzeoli commented on #251
Sorry, this is way too much for a free open source plugin to support. I
agree that you need a content rating, but we’re not going to add age or
content rating. Too many variables all over the world. The thing that I am
going to settle on is a simple checkbox that displays and adult content
warning. We’re not going to get into age stuff. That’s all you need - “this
show contains adult content” Beca

[2020-07-28 15:54] tonyzeoli commented on #253
@astevens93 Let's then wait on this ticket until 10 pm to 12 am EST and see if that's the issue or it was just something that needed to clear the cache after expiry. If the issue resolves itself, I'll close this ticket when confirmed.

[2020-07-28 16:00] tonyzeoli commented on #251
@majick777 I'm settling on adding "This show may contain explicit content" warning. We should do the same for the Playlist tool, where this Song contains is marked "Explicit" on a playlist. I'll create a separate ticket for that one.

We can add this explanation in the Show Description section: ""This show's content may include, but is not limited to, offensive language, violence, sex, sexual viol

[2020-07-28 21:03] astevens93 commented on #253
Hi @tonyzeoli

10pm GMT (London) has arrived for me, and I'm getting No Show scheduled on my site and the demo site.  See attached screenshots with the time recorded. From experience it will be like this until 12am and then it will go back to showing this.

A while back there was a problem with the 10pm show not highlighting as 'On Air' in the tabbed schedule, I wonder if the two are related?

My

[2020-07-28 21:10] Ajames0807 commented on #253
Hello, yes I am getting the same now, it disappeared as soon as it went 10pm
Our site: www.wearemaidstone.com

[2020-07-28 23:13] astevens93 commented on #253
In fact post midnight it doesn’t seem to be resolving. Not yet at least. But it definitely breaks at 10pm.

[2020-07-29 02:04] tonyzeoli commented on #253
@astevens93 @Ajames0807 @larryl79 @cbeattie89 okay, I’ve confirmed on the demos site they 10 pm is blank for radiostationdemo.com.

We’ll try to get a fix for this ASAP.

Please stay tuned and will let you know what comes of it in the next 24 hours. @majick777 is currently planning a move of living space so please be patient while we work out when he can address and we can issue a hot fix.

[2020-07-29 04:27] majick777 commented on #253
@astevens93 @Ajames0807 @larryl79 @cbeattie89
There was an error for Current Shows ending at midnight, arises from fixes appied in #241 for 2.3.0

I have updated the latest development release version of the plugin (2.3.3.2) to include this fix:
https://github.com/netmix/radio-station/releases

Please confirm the issue is fixed and we can push this version to the WordPress SVN also.

[2020-07-29 04:53] majick777 commented on #250
@astevens93 Yes you are correct, this was done to resolve #229

[2020-07-29 08:10] astevens93 commented on #253
Thanks @majick777 ...  I have loaded Version 2.3.3.2 and will check back at 10pm GMT time for myself to confirm.
Hope the move goes well.

[2020-07-29 14:04] tonyzeoli commented on #253
Hey everyone - here's what I'm going to do. Let's let everyone on the thread here download the development version today then check the 10 pm to 12 pm shows on their schedules. If the fix is working for all testers, then I'll roll out the official update tomorrow morning between 9 am and 12 noon EST.

[2020-07-29 14:14] tonyzeoli opened #254 "[Playlist] Add Clean / Explicit Tag to a playlist entry"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

As part of the add track functionality on the playlist, should be able to add a tag of "Clean" or "Explicit" to a track and display the tag on the playlist.

**Describe the solution you'd like**
A clear and concise description of what you

[2020-07-29 21:13] astevens93 commented on #253
To confirm in Develop Version 2.3.3.2 it is now 10.12pm GMT (London) and the on air show scheduled up until midnight displays correctly in the widget. Thank you.

[2020-07-30 00:32] tonyzeoli commented on #253
@astevens93 thanks for reporting back...i'm waiting for the demo site at 10 pm EST. Once I've confirmed that fixed the issue, I'll release the official version late tonight or tomorrow EST.

[2020-07-30 23:08] Ajames0807 commented on #253
Thank you for releasing the fix so quickly. It was working fine on our website up until 12am British time, but is now not displaying again. I've checked on @astevens93 website and it appears they are also experiencing the same issue.

[2020-07-30 23:19] astevens93 commented on #253
Thanks for flagging this @Ajames0807. You are right, I am experiencing this. I won't be staying up til 2am (when this current show shift finishes) to check, but I can presume now that when the show starting at midnight finishes it will go back to normal.

[2020-07-30 23:27] tonyzeoli commented on #253
@astevens93 @Ajames0807 Okay, thanks for reporting. @majick777 will have to take another look. I'll keep my eye on this eastern time tonight at 10 pm and see what happens for radiostationdemo.com. It's impractical to release three hot fixes in a week, so I hope we can narrow this done if it's still an issue.

[2020-07-31 02:49] tonyzeoli commented on #253
It's 10:48 pm EST and RadioStationDemo.com Upcoming Shows widgets are displaying the content. So, I'm thinking this is now an after 12-midnight issue. I'll look out for that in an hour's time and see where we are at.

[2020-07-31 04:07] tonyzeoli commented on #253
<img width="1552" alt="Screen Shot 2020-07-31 at 12 05 25 AM" src="https://user-images.githubusercontent.com/4053819/88999136-a8c18f80-d2c1-11ea-8578-a93d77b7b33b.png">

I confirm it's 12:05 am est and widgets are displaying content.

[2020-07-31 06:06] astevens93 commented on #253
Thanks @tonyzeoli I’m just thinking about this and I wonder if yours showed correctly because at that time the show on air for you would have been Show 9’ which runs 11pm - 1am.

@Ajames0807 and myself both had a show where the shift began at midnight 12am, and we experienced the issue.

I can see from the radio station demo site, Show 1 begins Sunday 12.00am. So I would be interested to know if f

[2020-07-31 09:59] astevens93 commented on #253
Hmmm. I've done a bit of testing today and I can't replicate what we experienced @Ajames0807

1. I tried doing a Schedule Override for the day 12am - 1pm (that worked fine and showed as 'now on air' as it should)
2. I also cleared all the scheduled shows for the day and made a long scheduled show (not an override an actual show) running 12am - 4pm).  This also showed fine as it should

Slightly fr

[2020-07-31 13:41] tonyzeoli commented on #253
@astevens93 Thanks for working on this to narrow down the issue. I will try to reschedule a show for tonight to start at 12 midnight and see if that knocks out the view. Will let you know what I find out.

[2020-07-31 13:42] Ajames0807 commented on #253
@astevens93 it's very odd!

@tonyzeoli

I've been playing around with the timezones to see if I can recreate the issue. I changed to NZST (GMT + 12) - Auckland, which would be about 01:31am and I'm not displaying my scheduled show.

I again changed the timezone to +14 (GMT + 14) - Kiritimati and I'm again not showing a scheduled show. Their time would be about 3.31am.

I then tried AKDT (GMT - 11)

[2020-07-31 14:42] tonyzeoli commented on #253
@astevens93 I have set a show to start at 12 midnight EST tonight (Friday) and tomorrow night (Saturday). Let's see what happens.

[2020-07-31 14:45] tonyzeoli commented on #251
@majick777 I've been thinking about this and users can go to get one of a number of age verification plugins for their website. I'm thinking, at this point, if we want to offer age verification, then it's an Add-On we build and offer as an add-on. Most users don't need this for radio and if you're Internet radio, it doesn't much matter, because it's not broadcast - but that depends on the country.

[2020-07-31 23:31] astevens93 commented on #253
Yes be interesting to see what happens with you @tonyzeoli .  Despite not being able to replicate the issue through manual intervention today, I am still experiencing it with the scheduled show starting at midnight...   the problem still remains for me.

[2020-07-31 23:33] Ajames0807 commented on #253
Hi, yep still experiencing the issue here also. For your info, the show that is on our schedule now started 10pm yesterday and finishes at 1pm. As soon as it hit 12am, it display no show.

[2020-07-31 23:58] majick777 commented on #251
@tonyzeoli Hmmm... I think there is a distinction here that needs to be addressed further. It is one thing to view a Show page with a description that *may* have explicit content, and another thing to Play the Show with the explicit content. Plugins already exist for the former, allowing for age verification before viewing the Show page content. So if users really want to do that, they can use an

[2020-08-01 02:02] tonyzeoli commented on #251
Good questions.

The reason I’m suggesting it to be an add-on is because it’s not something that everyone needs and to build it would have a cost that needs to be supported. I was thinking the narrow scope of people wh need this would pay for it and making it an Add-On would support it’s ongoing development.

Yes, I am aware of the plugins that age restrict content and I mentioned them in my earli

[2020-08-02 04:04] tonyzeoli commented on #253
Okay, so I'm looking at RadioStationDemo.com right now and it's 12:03 AM. Up until 12, all shows starting at 12 displayed in the widgets. Starting at 12, all shows starting at 1 am appear in the widgets.

I can't replicate the issue.

[2020-08-02 23:06] Ajames0807 commented on #253
Strange - it was never an issue before v2.3.3.1 and it keeps happening each night, as soon as it turns 12am.  Can I ask, if you could try London timezone when it gets to 12am london time?

[2020-08-02 23:15] astevens93 commented on #253
It's puzzling. I've deleted all of the midnight start shows, binned them, created afresh. Still the same. I've removed the filter for displaying the Day from my functions.php file, still the same.
The only thing @Ajames0807 and I have in common are the timezone I guess.  Bang on 12am it will break.

I've found a few other UK sites running Radio Station and they get the same. I assume they are runn

[2020-08-03 06:11] tonyzeoli commented on #253
@astevens93 and @Ajames0807  I think I misunderstood the issue. I thought it was:

- show starting at 11 pm and stopping at 12 am
- show starting at 12 am and stopping at 1 am

But what I'm now realizing is, it's a show _SPANNING_ 11 pm start to 1 am end having the issue. Is that accurate? The show has to cross over midnight and into the next hour.

I spoke to @majick777 about this tonight and he'

[2020-08-03 06:28] astevens93 commented on #253
Thank you for investigating further. I am unsure about the show spanning midnight scenario, as the problem both @Ajames0807 and I are experiencing (and by the looks of it 2 others I found running the plugin)... is we have shows beginning at Midnight, in the GMT time zone, and as soon as midnight hits, the widget breaks. It thinks there is no show scheduled.

I haven’t stayed up to see when it come

[2020-08-03 06:34] tonyzeoli commented on #253
@astevens93 take a look now. I've set a show spanning 11 pm to 4 am right now. Look at the widgets page.

[2020-08-03 06:38] astevens93 commented on #253
@tonyzeoli I am seeing the show on air just fine (it’s 7.37am here in London).  However you are seeing No show scheduled I assume?

![2F3C4555-A915-4838-A4AD-E71A95BF4598](https://user-images.githubusercontent.com/67294458/89153173-4cc66780-d55c-11ea-98c2-cda5cb5c4b64.png)

[2020-08-03 06:41] tonyzeoli opened #255 "[Master Schedule] When show spans midnight the red border only appears from 12 am until and not prior"
**Describe the bug**
A clear and concise description of what the bug is.

I set a shot to span midnight - 11 pm to 4 am. The red border appears from 12 midnight to 4 am, but not from 11 pm to 12 midnight.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to RadioStationDemo.com
2. View Show Starting at 11 pm on Sunday to 4 am on Monday (same for Tuesday)
3. Red border only appears for the b

[2020-08-03 06:44] tonyzeoli commented on #253
Right, I"m seeing what you're seeing in the screenshot. So, the widget is missing data when it spans the 12 midnight hour, correct?

[2020-08-03 06:50] tonyzeoli commented on #253
@astevens93 Okay, so I set the shows back to not span the midnight hour and all data displays. So, yes, the spanning the midnight hour is the issue, I believe.

@majick777 I've confirmed this issue with @astevens93 and @Ajames0807. When a show spans the midnight hour, all show scheduling data in the widget disappears. See the widget screenshot that @astevens93 posted just prior to this message and

[2020-08-03 06:56] astevens93 commented on #253
Thank you!

[2020-08-03 06:58] tonyzeoli commented on #253
@astevens93 I just spoke to @majick777 now and he's going to have a go at it and figure this out.

No problem. Good think I couldn't sleep tonight and was able to stay up and work through this now. But I could have just set any show to start at 11 and span the midnight hour to whatever time...4am, 6am, 8pm...and the result probably would have been the same.

Thanks for keeping on top of this. Grea

[2020-08-03 14:34] majick777 commented on #253
@tonyzeoli @astevens93 @Ajames0807 @cbeattie89 @larryl79

Thanks for all your input and testing, since we've managed to go from an intermittant bug to a reproducable one, it looks like I finally have something. The issue was mostly because the current day (today) was being used as the start of the schedule week of dates, so this was not picking up split shift shows starting the previous day for Cu

[2020-08-03 14:56] astevens93 commented on #253
Hi @majick777 you've done your magic yet again.  Thank you for bearing with us and getting this fixed.  And to you @tonyzeoli.

I've tested a few days and times and it seems to work!

![image](https://user-images.githubusercontent.com/67294458/89196087-a2713300-d5a1-11ea-9227-0c9291809777.png)

[2020-08-03 15:06] tonyzeoli commented on #253
@majick777 There's one minor issue. The 24-hour time setting for the widgets is missing the "am" and "pm."

[2020-08-03 15:18] tonyzeoli commented on #253
@majick777 Whoops, okay, I was wrong. 24-hour format is supposed to say 11:00 to 12:00 or 13::00 to 14:00. There's no AM / PM. Duh! Sorry! My mistake!

[2020-08-03 15:19] tonyzeoli commented on #253
This issue is now resolved. Releasing new version shortly.

[2020-08-03 15:19] #253 closed

[2020-08-03 23:10] Ajames0807 commented on #253
To confirm all working now! Thanks so much!

[2020-08-05 17:01] greenday2087 opened #256 "[Data API] Broadcast endpoint lists next show the same as the current show"
I'm new to this plugin, which by the way is fantastic!

I think I may have found a bug... when I run http://localhost/wp-json/radio/broadcast/ it lists the same show under current (correct) and next (incorrect).

It is also missing some additional information in both areas such as avatar URL (which is appearing fine in the shows endpoint).

Many thanks
Stephen

[2020-08-05 17:10] tonyzeoli commented on #256
@greenday2087 Is this related to the API?

@majick777 Can you field this issue, please? Thanks!

[2020-08-07 07:49] astevens93 opened #257 "[Schedule] Option for start day of week to always be today"
**Is your feature request related to a problem? Please describe.**
Taking the RadioStationDemo.com example, today is Friday, so the tabbed schedule looks this.

![image](https://user-images.githubusercontent.com/67294458/89622007-3e44bc80-d88a-11ea-854e-cfd2aa74eb9d.png)

**Describe the solution you'd like**
But to make this cleaner, and almost 'look forward' to any upcoming schedule overrides, wo

[2020-08-07 12:32] tonyzeoli commented on #257
My first inclination is to say moving today's "day" is confusing if you leave off the word for the day. Because we are going to a by date calendar in PRO, which may carry over to FREE, like Gcal we're going to start the calendar on the current days date forward, so there's that aspect of what we plan to do.

So, I would say some iteration of this will happen, but it won't be as you've edited it. I

[2020-08-08 23:50] danielodeyemi opened #258 ""Thanks for Updating" Notice Not Closing"
**Describe the bug**
The "Thanks for Updating" on the administrator panel in the admin area cannot be closed. Clicking the "dismiss this notice" (x) button does nothing .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'site.com/wp-admin'
2. Click on 'Dismiss this notice (x) button on the Update Notice'
3. Error: Nothing happens, the notice still stays there at the top of every adminis

[2020-08-09 12:39] tonyzeoli commented on #258
Have you tried a different browser? I’ve never even heard of the Brave browser, but we’ll look at it and see if we can replicate the issue.

[2020-08-09 15:19] danielodeyemi commented on #258
No I have not tried a different browser.
Never heard of Brave browser? Wow, you can maybe check it out at https://brave.com
It is a privacy centered browser, very wonderful browsing experience I must say.
Thanks

[2020-08-10 08:07] astevens93 commented on #257
Oh wow yes that sounds like a great idea. So it will load today’s date on the tabbed schedule and you’ll be able to scroll/click across into advance days.
Look forward to this being included in the future. Will close this Now then as it seems this idea is already being worked on.
Cheers.

[2020-08-10 08:37] Ajames0807 commented on #258
Hello - i'm too having this issue. Cannot close the message after updating.

I have tried in both Chrome and Firefox, on the main admin user access and a secondary user access. I have tried all the usual stuff, clear cache, internet files/cookies etc etc but nothing is working to let me remove the message.

Thanks

[2020-08-10 08:44] Ajames0807 commented on #258
This might help... the error shows in the console on chrome...

![err](https://user-images.githubusercontent.com/67065843/89765377-1b1a4700-daee-11ea-9dbf-e26b35181ef8.PNG)

[2020-08-11 04:23] majick777 commented on #258
@danielodeyemi @Ajames0807 Turns out not to be an error in the code, but rather that the readme.txt got slightly corrupted in the last merge, preventing the data from being parsed correctly. I've pushed a hotfix to master branch if anyone wants to replace the readme.txt file from there so they can dismiss the notice, otherwise it is fixed for next release anyway.

[2020-08-11 04:23] #258 closed

[2020-08-11 13:32] tonyzeoli commented on #258
This is now pushed, but there is no new release version number - Download a copy of 2.3.2.2 and just move the updated readme.txt to your plugin folder or take the development version of the readme.txt file and move it to your plugin folder via FTP or SFTP.

[2020-08-11 16:30] KerryB1 opened #259 "[Show Pagination] Filter Previous and Next Show links according to Schedule"
Radio Station 2.3.3.3
Wordpress 5.4.2

Potential issue with Previous Show and Next Show links at bottom of a Show page.
Selecting one of these links does not take  you back or forward within the schedule but selects a  show at different time/date.  The link always goes to the same previous/next show ,  so does not appear to be a random selection.

1-  Select the main schedule
2-  Select a Show and

[2020-08-12 00:45] Ajames0807 commented on #258
That's done the trick! Thanks again for the fix

[2020-08-12 03:06] majick777 commented on #256
@greenday2087 Thanks for the report. Can you recheck with the latest version (2.3.3.3) as this included fixes for the Current and Upcoming Shows calculation.

[2020-08-12 03:14] majick777 commented on #259
@Kerry81 This could be a tricky thing to address, as the plugin itself is not creating these Next and Previous post links. Assuming your theme uses the inbuilt WordPress `next_post_link()` and `previous_post_link()` functions then it's possible we could add a filter to those functions.

The reason for the current behaviour without the filter is that it would be based on the Show publication date r

[2020-08-12 03:38] majick777 commented on #259
@kerry81 To elaborate further on the "tricky" part... If the Show has one Shift, that is easy, but if a Show has multiple shifts, how is one to know which is the "Next" or "Previous" Shift from just the Show page? As that is not always arrived at from the Schedule.

The current Schedule would need to be checked and the "closest" Shift for that Show used to find the previous or next Show... If ther

[2020-08-12 04:14] danielodeyemi commented on #258
Okay then. Thanks a lot.

[2020-08-12 13:37] KerryB1 commented on #259
Hi  Thanks for the reply.

Now I have some background I can work around the issue.

As an aside, the PlugIn is a good product  and gives us all we currently need for our station  ( a voluntary one that broadcasts to Hospitals around Cardiff in the UK).   Keep up the good work.

Kerry

From: majick777 <notifications@github.com>
Sent: 12 August 2020 04:39
To: netmix/radio-station <radio-station@nore

[2020-08-12 14:35] greenday2087 commented on #256
@majick777 thank you this is now working as expected. keep up the great work!

[2020-08-12 15:05] greenday2087 commented on #256
@majick777 apologies, it _was_ working when i replied, but since it went past 16:00 it is now behaving in the same way as originally reported and listing the same show for now/next. i've attached an image but if you catch this message in the next 3 hours whilst this show is on you may see the error live if you go to https://prideradio.co.uk/new-site/wp-json/radio/broadcast/

You can see the shifts

[2020-08-12 20:31] tonyzeoli commented on #259
@KerryB1

Thank you so much for your positive comment about the plugin.

Would you be able to take a minute to review the plugin here: https://wordpress.org/support/plugin/radio-station/reviews/

[2020-08-12 20:37] tonyzeoli opened #260 "[Overrides| Auto remove past show overrides"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

astephevens93 s asking if we can do something around managing historical / past show overrides, because you can all of a sudden have a deep list of overrides that are in the past and unnecessary to view on the Show schedule admin.

**Descr

[2020-08-12 20:41] tonyzeoli commented on #259
@majick777 Can you let me know what you want to do with this one? Is this something we'll be moving into development with a filter issued? If so, scheduled for this month's end of month release 2.3.4 (tentative version number and date which can change based on what we're working on)?

[2020-08-13 09:47] majick777 commented on #260
@tonyzeoli Seems my reply on the Support Forum thread didn't post.

I was basically making the suggestion there that we could add another dropdown filter to the Admin Override list for past and future Overrides (there is already one for months.) This way all past overrides could be selected and deleted using the existing admin interface.

[2020-08-13 09:51] majick777 commented on #259
@tonyzeoli I started writing some code for this, but it's not really a priority issue. It may or may not make it into the next release depending on other priorities. I think we keep it open for now, and I'll get to it sooner or later.

[2020-08-13 13:41] astevens93 commented on #260
Thanks both. That sounds like a good addition, and I know would help make it easier for users who are making lots of overrides.

Ideally the 'default' view would be future overrides, and like @tonyzeoli mentioned, you can toggle to view past or future.

[2020-08-17 01:42] tonyzeoli opened #261 "Changelog on Netmix.com is not updating when updated on SVN"
**Describe the bug**
A clear and concise description of what the bug is.

Checking the auto update feature of the Changelog on Netmix.com and it's not updating properly. Still shows 2.3.1.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://netmix.com/radio-station/docs/changelog/
2. View
3. See only up to 2.3.1

**Expected behavior**
A clear and concise description of what you exp

[2020-08-17 10:08] majick777 commented on #219
Docs are now synced to Github `/docs/` (`master` branch) and refresh automatically every 24 hours.

[2020-08-17 10:08] #219 closed

[2020-08-17 10:08] majick777 commented on #261
Well I just hadn't got to #219 yet, so was still syncing manually. Guess it is time to get to that if I am going to forget...
Okay, done! :-)

[2020-08-17 10:08] #261 closed

[2020-08-17 10:58] majick777 commented on #260
@astevens93 Seem to have it working fine so far. Thought I might add an extra selection option for "Today" as well though.

Best practice for the default behaviour for lists like this is to have all filters off - so in this case that would be showing both past and future overrides. However, I understand you would like a different default, so I'll just put a filter on that value. :-)

[2020-08-17 11:28] tonyzeoli commented on #261
Oh great...sorry I missed that we had an open ticket. Thanks for getting to
it.

On Mon, Aug 17, 2020 at 6:09 AM majick777 <notifications@github.com> wrote:

Sent from Gmail Mobile

[2020-08-19 02:47] tonyzeoli opened #262 "[Post List] Bulk Edit Action to set Related Show(s)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

After adding Radio Station to a station's website, the show owner may have to go back and relate posts to shows. This can be onerous if their a hundreds of posts that need to be assigned. If we can add the ability to bulk edit posts and as

[2020-08-19 02:51] tonyzeoli opened #263 "[Post List] Add Related Shows dropdown selector to Quick Edit"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

A show producer should be able to open the Quick Edit view in the Posts Lists area and assign a post to a Related Show.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Add Related Shows w/

[2020-08-23 13:01] RadioLichfield opened #264 "Any Idea what this is - (new User)"
Any idea what this error is and why?

Notice: Undefined variable: data_format in /var/www/wp-content/plugins/radio-station/templates/single-show-content.php on line 465

We are a new user to this plugin and find it buggy? or we are doing something wrong ??

[2020-08-23 21:16] tonyzeoli commented on #264
Can you post the link to the page you’re having an issue with?

[2020-08-23 22:35] tonyzeoli commented on #264
@majick777 have you seen this error yet?

[2020-08-23 22:36] tonyzeoli commented on #264
@RadioLichfield By the way, finding a bug doesn’t necessarily mean the plugin is “buggy.” We appreciate the notification and will look into it, but this error is not appearing as of now on our demo site.

[2020-08-24 00:42] majick777 commented on #264
@RadioLichField Thanks for the report. Yes looks like there is an old variable assignment to the `data-format` attribute.

This attribute was added for a future feature and so is not used by the plugin yet, so will not affect the plugin running as intended in any way.

I've added a fix for the next version. If you come across any more bugs please report them as separate issues.

[2020-08-24 00:42] #264 closed

[2020-08-24 03:10] tonyzeoli opened #265 "Add filter for adding text string above latest show player"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

A ticket came in on the support forum to ask for a feature to add text above the player to say something like, "Latest Show." But someone could use the player for a variety of reasons. We discussed adding a text field, but that would take

[2020-08-24 03:15] tonyzeoli opened #266 "[Show Page] Responsive About section height with Tabbed Sections new line"
**Describe the bug**
A clear and concise description of what the bug is.

The Posts/Playlists tab gets stuck in a situation where it won't shift all the way left if the Show Description is a certain length. We need to fix this so that if the show description is a certain length, the Posts/Playlists tabs will clear the div and wrap under the left column.

**To Reproduce**
Steps to reproduce the beh

[2020-09-03 16:52] Aaronjacobs678 opened #267 "Bullet Point on Title"
![snip](https://user-images.githubusercontent.com/61187426/92144040-063f8380-ee0e-11ea-83a7-a0e72965f7a1.png)

Evening - Using the [current-show] shortcode and I am really struggling with this bulletpoint from the <UL> the 'title' is sitting in. Is there a quick way to remove? I have been sat adjusting styles, adding tags and trying to locate where the 'UL' code is coming from. But cannot find it

[2020-09-03 17:32] tonyzeoli commented on #267
Sorry we haven't responded yet. I'm waiting for @majick777 to come around to your issue. He's best able to resolve. I understand it's frustrating, but I ask for your patience until he can get to you. He's in Australia and due to Covid-19, we are doing our best to deal with our personal issues while resolving support issues. Thanks for your understanding. I'll ping him on Slack again and ask him if

[2020-09-04 01:23] majick777 commented on #267
@Aaronjacobs678 The code for this shortcode is found in `/includes/shortcodes.php`

This isn't a bug, as the plugin already has the CSS in place to remove the disc style:
`.current-show-list, .current-show-list li {list-style: none;}`
It is probably the case that your theme is overriding this with another rule.

Try adding this more specific CSS:
`ul.current-show-list, ul.current-show-list li.curr

[2020-09-04 01:23] #267 closed

[2020-09-04 07:49] Aaronjacobs678 commented on #267
Thank You so Much! I really tried trawling through my CSS that I have written by hand... But could not find any conflict. Not sure if bootstrap has something to do with it?... BUT you have resolved my problem.. with Style! Haha!

Thank you so much!

[2020-09-04 23:40] majick777 commented on #267
@Aaronjacobs678 haha you're welcome.

Instead of trawling your existing CSS you always right-click and "Inspect Element" in most browsers and there will be a list of styles on the bottom right window applied to that element from various stylesheet sources, and you can see which ones are being applied and which ones overridden (crossed out.)

[2020-09-14 05:25] majick777 commented on #265
Added filter `radio_station_show_player_label` to filter the label above the Show Player (default blank.)

Similarly, filters have been added for the following labels on the Show Page:
"Show Info": `radio_station_show_info_label`
"Produced by": `radio_station_show_producers_label`
"Hosted by": `radio_station_show_hosts_label`
"Genres": `radio_station_show_genres_label`
"Languages": `radio_station_

[2020-09-14 05:25] #265 closed

[2020-09-15 02:32] majick777 commented on #266
As we discussed, I have matched the Show About Description height to the Show Info sidebar height so that it fills the same vertical area. This has the affect of pushing the tabbed sections below both sections to a new line. If there is no Show Description however, this does not occure, so the tab sections can show in place of that.

Compare:
http://radiostationdemo.com/show/show-11-local-dj-mix/

[2020-09-16 16:58] majick777 commented on #266
@tonyzeoli Feel free to close this as resolved if there are no further changes needed here.

[2020-09-16 17:00] majick777 commented on #265
@tonyzeoli Can't seem to find the related Support forum ticket for this to update it, perhaps you can find it via your forum email notifications.

[2020-09-16 17:01] majick777 commented on #263
@tonyzeoli Not the easiest to work with the Quick Edit menu, but got there in the end.

[2020-09-16 17:01] #263 closed

[2020-09-16 17:05] majick777 commented on #263
@tonyzeoli Oh and it should be noted that along with this I have made the Related Shows selection a multiple select so that it a Post can be assigned as related to multiple Shows, and modified the Show Posts Archive shortcode to work with multiple values.

[2020-09-16 17:05] majick777 commented on #262
@tonyzeoli Feel free to test this out on the demo site along with the Quick Edit field.

[2020-09-16 17:05] #262 closed

[2020-09-16 18:59] tonyzeoli commented on #263
@majick777 You're awesome! Thanks! I'll check it out.

[2020-09-16 18:59] tonyzeoli commented on #262
@majick777 Sure thing! Will do. Thanks for this. Should make it so much easier to edit stuff!

[2020-09-17 01:36] #192 closed

[2020-09-21 10:22] Hotrodradio opened #268 "No Featured Image no matter what I try"
Hello all,

We use the radio station addon measures great fun. Only what we also try we don't get to see the Featured Image, we do get the avatar of 150x150.

This is the link and the code we use. Is there something wrong in the code?

https://hotrodradio.nl/show/de-dwaze-maandag-show/

[master-schedule view="tabs" time="24" show_djs ="1" show_image ="1" display_show_time ="1" show_link ="1"]

Reg

[2020-09-24 16:19] RimantasMurza opened #269 "[Schedule] Tabbed view does not show all days on mobile"
When the timetable is viewed from a mobile device, only two tabs are visible and navigation arrows take to the first/last two tabs only. For example, when opening it on thursday, it displays the thursday tab correctly, however if you want to view what's up on wednesday, press the arrow to the left and you get taken to monday/tuesday view. Try the arrow on the right - taken to saturday/sunday view

[2020-09-26 09:15] Hotrodradio commented on #268
Problem is solved :-)

[2020-09-26 09:15] #268 closed

[2020-09-27 03:58] tonyzeoli commented on #268
So sorry to not get back to you in a timely manner. Glad you resolved the issue. Let us know if you need anything else.

[2020-09-27 03:59] tonyzeoli commented on #269
@majick777 Can you field this issue from this user, please? Thanks.

[2020-09-27 04:02] tonyzeoli commented on #269
@majick777 I can confirm Wednesday is missing from the tabbed view for some reason on radiostationdemo.com

[2020-09-27 04:04] tonyzeoli commented on #269
@RimantasMurza It looks like Wednesday may certainly be missing form the tab view in my testing of radiostationdemo.com. I've asked @majick777 to come through and take a look at this. Usually, we can issue a patch and you can download the development version before we release a new version. So, stay tuned and we'll get to it and see what we can find out. Thanks for reporting.

[2020-09-27 11:43] RimantasMurza commented on #269
@tonyzeoli Cheers, looking forward to a fix!

[2020-09-29 12:51] majick777 commented on #269
@RimantasMurza Thanks for the report, I have added a fix to 2.3.3.5 ready for release.
@tonyzeoli i have updated the Table script to match the new functionality of the Tab scripting as well.

[2020-09-29 12:51] #269 closed

[2020-09-29 12:53] majick777 commented on #260
@astevens93 The Override filter dropdown is now in place for Past, Today and Future Overrides, added to version 2.3.3.5 for release.

[2020-09-29 12:53] #260 closed

[2020-09-29 12:58] majick777 commented on #257
@astevens93 In following up on this, I've added a filter `radio_station_schedule_start_day` to which the value of `today` can now be passed (or any other weekday) - and this will override the existing Start of Week setting in WordPress so that the Schedule display will start on that day.
Alternatively a value can also be passed to the Master Schedule shortcode as an attibribute eg. `[master-schedu

[2020-09-29 12:58] #257 closed

[2020-09-29 13:27] astevens93 commented on #257
Thanks @majick777. I have tried this with the latest dev version on my site with the shortcode attribute added in

`[master-schedule view="tabs" show_link="0" show_desc="1" start_day="today"]`

And it just re-arranges the days for me, making Sunday my first day of week (when default is Monday).  Any ideas?

[2020-09-30 01:25] majick777 commented on #257
@astevens93 Yep was just a typo there, added a hotfix to `includes/support-functions.php` try it now.

[2020-09-30 08:08] astevens93 commented on #257
Brill, works great.  Thank you.

[2020-09-30 08:18] astevens93 opened #270 "display_date attribute in tabbed schedule shortcode not displaying correct date"
**Describe the bug**
Using https://netmix.com/radio-station/docs/Shortcodes/ as a reference, I have included display_date="1" in my shortcode to form:

[master-schedule view="tabs" show_link="0" show_desc="1" display_date="1"] in Version 2.3.3.3
or [master-schedule view="tabs" show_link="0" show_desc="1" start_day="today" display_date="1"] in Version 2.3.3.5

But it doesn't seem to output the corr

[2020-10-01 01:27] majick777 commented on #270
@astevens93 This attribute accepts a date format rather than just a `1`, so you would use `j` for the value to display just the date, or `jS` for `1st, 2nd etc..` I will add a line to catch a `1` value to default to `jS` ... but for now you can just use `display_date="jS"`

[2020-10-01 01:27] #270 closed

[2020-10-01 08:04] astevens93 commented on #270
Perfect thank you.  It is my fault, I mis-read the documentation!  I have it working nicely now.

[2020-10-06 15:50] KerryB1 opened #271 "Master Schedule Shortcode link-hosts on Show page"
When the Short Code Link_hosts is used on the Master Schedule it successfully turns on ( or off) the link to the DJ/Host profile page  on the main schedule entries.    However, it does not turn off the link to the DJ/Host profile page on the Show page.
Not sure if this is the expected behaviour, however, if it is, then it would be useful to turn off both the DJ/Host links

To recreate.
Set the Lin

[2020-10-06 15:52] KerryB1 opened #272 "Short Code Link_hosts not working on Show page"
When the Short Code Link_hosts is used on the Master Schedule it successfully turns on ( or off) the link to the DJ/Host profile page  on the main schedule entries.    However, it does not turn off the link to the DJ/Host profile page on the Show page.
Not sure if this is the expected behaviour, however, if it is, then it would be useful to turn off both the DJ/Host links

To recreate.
Set the Lin

[2020-10-06 17:07] KerryB1 commented on #272
Please close.     Github Site issue and duplicate entry created

[2020-10-06 17:07] #272 closed

[2020-10-11 05:44] perezjos opened #273 "[After Update Notice] 2.3.3.1 Update Notice not dismissing"
Hello

the Update Notice never disappear even if I press the close button
Can you help ?
Thanks

![image](https://user-images.githubusercontent.com/1007206/95671298-bbc1db80-0bf1-11eb-8d5e-de36058d00b7.png)

[2020-10-11 11:38] tonyzeoli commented on #273
We'll take a look. Thanks for reporting this. We're just about to release an update so if this is an issue, we'll get a fix out for it.

[2020-10-11 11:41] tonyzeoli commented on #271
So sorry for the delayed reply @KerryB1 Been working on some client projects last week but am coming around today to check on tickets.

I can see why that would be an issue. If you're turning off the link on the calendar, then the link should be turned off on the Show Page too.

We'll check into this and get back to you.

[2020-10-14 02:00] tonyzeoli commented on #273
@majick777 can you loop around on this?

[2020-10-15 06:50] majick777 commented on #273
@perezjos Can you let us know which version you have installed so we can test this? Also whether you have any javascript errors in your console, before and after clicking the dismissal button.

[2020-10-15 07:09] majick777 commented on #271
@KerryB1 There is a filter in `radio_station_get_host_url` which you can use to disable all host links:

`add_filter( 'radio_station_host_url', '__return_false' );`

This can't be done through the Master Schedule shortcode because there is a separate template for single Show pages. Also this filter will disable linking in the Current and Upcoming Shows widget as the function is also used there.

[2020-10-15 07:09] #271 closed

[2020-10-15 13:11] majick777 opened #274 "[Overrides/Schedule VIew] Mismatch date calculation with different day_start attribute"
Transferred from:
https://wordpress.org/support/topic/when-does-week-start/#post-13536858

When the `day_start` attribute is used to provide a different day in the Master Schedule view, the dates used do not match the Override dates used in the Schedule calculation. This results in Overrides not being displayed later in the week.

[2020-10-15 13:26] majick777 commented on #257
@astevens93 Just a heads up since you are using this, there is an issue with Overrides with this:
https://github.com/netmix/radio-station/issues/274
So if you have Overrides you may want to revert back to standard display (no `day_start` attribute) until that is resolved.

[2020-10-15 19:09] perezjos commented on #273
Hi the version should be on the screenshot and no no error
message. Am I the only one with that problem ?
thanks
José
On Thu, 15 Oct 2020 at 7:51 PM, majick777 <notifications@github.com> wrote:

[2020-10-15 23:47] majick777 commented on #273
@perezjos I ask because that isn't the latest version, so updating could resolve it. I do recall the readme.txt formatting got screwed up temporarily in a merge commit in that release. (If you look at your readme.txt and it has >>> HEAD somewhere in the Upgrade Notice that is the cause.)
There is another report of this on WordPress support forum I have referred them here also.

[2020-10-17 16:32] astevens93 commented on #257
Ok thanks @majick777. I must admit I’ve been trying to decipher the problem reported on Wordpress Forum and in #274 but I don’t understand. I tested making a test override for a week previous and it does not show in my tabbed schedule - which I think is the reported problem?

I am using =today as the start day and not a specific day, I cannot replicate the issue in Dev Version 2.3.3.5.

The only i

[2020-10-19 02:59] majick777 commented on #274
Have just added a hotfix for this issue for inclusion in 2.3.3.5

[2020-10-19 02:59] #274 closed

[2020-10-19 03:01] majick777 commented on #257
@astevens93 I've just added a hotfix for this issue (to master branch.)
So that the week start and end dates are passed on to the schedule calculation from the shortcode.
Feel free to test it out and follow up in #274

[2020-10-19 03:06] majick777 commented on #256
@greenday2087 I've added some code to recalculate the next Show if it is the same as the current Show. (Included in latest hotfix.) Hopefully this will fix the issue, but let us know if it doesn't.

[2020-10-19 03:06] #256 closed

[2020-10-19 03:07] majick777 commented on #266
@tonyzeoli Going to close this now as new changes are working fine, reopon if there is more to do.

[2020-10-19 03:07] #266 closed

[2020-10-20 07:17] astevens93 commented on #274
Super, works in the latest hotfix in dev version 2.3.3.5.
Will watch out for master release update whenever it gets pushed.

Thanks again.

[2020-10-26 17:06] retiredgamer commented on #273
Hey guys!
I'm the one who posted to the Wordpress support forum. Sorry for taking so long to post here, been out of office. I am attaching a screenshot of my installation. I am running the latest version.
![radiostationerror](https://user-images.githubusercontent.com/73490928/97204110-ae752700-1783-11eb-8214-5ef7c50c5d2a.jpg)

[2020-10-27 20:09] judeconnors opened #275 "[Schedule] Tabbed View only Displaying Show Images"
The tabbed view of the schedule no longer shows any of the information, just the pictures.

You can see this by checking my page: https://xradio.zone/schedule/

![Screenshot_6](https://user-images.githubusercontent.com/66576662/97356566-74c91c80-1866-11eb-8a21-4ba543974c8e.png)

[2020-10-29 02:05] tonyzeoli commented on #275
@judeconnors I took a look at the page you referenced and you've switched out of the tabbed view, so we can't ascertain what your issue is. If you look at the demo site here; [](https://radiostationdemo.com/master-schedule/tabbed-view/) there are no issues with the display of the content to the right of the thumbnails. Until you are able to restore the tabbed view, it's going to be difficult for u

[2020-10-29 03:06] majick777 commented on #275
@judeconnors I recommend installing the latest development version that is pending release to see if this resolves the issue, and if not create a separate page that we can still preview on your site.

https://netmix.com/radio-station/docs/FAQ/#how-do-i-install-the-latest-development-version-for-testing

[2020-10-31 19:54] matzuras opened #276 "[Show Related Posts] DJ's can edit assign posts to others' Shows"
In the current version (2.3.3.5) anyone can create posts in, or edit, anyone's show. Did I misconfigure RS somehow, or is this a known problem? Here's what I did to reproduce this:

1. Sign in as someone with only the DJ role.
2. Go to Posts > Add New > Related To, fill in some prelim text like title and comment, then chose a show from the drop-down list of all shows that was not mine.
3. Clicked

[2020-10-31 21:32] tonyzeoli commented on #276
Honestly, when we took over the plugin last year, that was something I did not test for, not has anyone brought it up until now. But in theory, a DJ should only be able to publish a post to the show they are assigned to. Thanks for catching this. We’ll have to take a look.

[2020-11-01 14:49] judeconnors commented on #275
Updated and now it works again. Thanks!

On Wed, Oct 28, 2020 at 10:06 PM majick777 <notifications@github.com> wrote:

[2020-11-01 22:05] majick777 commented on #275
@judeconnors Great! :-)

[2020-11-01 22:05] #275 closed

[2020-11-02 17:12] retiredgamer commented on #273
This issue was fixed for me in the latest release. Thanks!

Steve

[2020-11-02 17:17] astevens93 commented on #273
Just to add to this, I am also on Main Release Version 2.3.3.5 and I still get the notice.

Below is a video of said action, that does not clear (notices 5). Running Wordpress Version 5.5.3.
It does not affect functionality but worth flagging on this thread running along the same theme.

![Screen Recording 2020-11-02 at 17 14 31](https://user-images.githubusercontent.com/67294458/97898054-3ed8dc00

[2020-11-02 17:20] tonyzeoli commented on #273
Thanks, will have to re-open and check this.

On Mon, Nov 2, 2020 at 12:17 PM astevens93 <notifications@github.com> wrote:

[2020-11-09 00:07] majick777 opened #277 "[Plugin Settings] Main Language options default Setting"
Select options for the Main Language has a duplicated setting for fallback to the WordPress Setting.
This was causing the Main Language to not be applied when set to WordPress Setting and not being output in the Data Feed. Picked up as was showing null when Demo site data was scraped for the Directory.

[2020-11-09 00:13] majick777 opened #278 "[Tabbed Schedule View] Dates not clickable on Tabs to change day display"
from Support Forum: https://wordpress.org/support/topic/when-date-displayed-this-isnt-clickable/

In Tabbed Schedule View, when the `display_date` attribute is set (default is false), clicking the dates does not change the active tab the way that clicking the day labels does.

[2020-11-09 14:31] tonyzeoli commented on #276
@majick777 Just thinking here that an Admin, Editor, and Producer, should be able to assign Posts to different shows. The only restriction would be on DJs themselves. But a DJ could be assigned to two or more shows, right? So, what do we do about that?

Maybe when the DJ is created and assigned to a show or shows, then if the DJ wants to post a blog post to one or many shows, there is a meta box o

[2020-11-09 15:26] Dexbowen opened #279 "[Schedule Page] Template and Theme configuration"
Hi,

I selected the page I want the schedule to display on and in the setting the Theme template is selected but when the scheduled is displayed on the page it is outside the specified area. It pushed the sidebar to the bottom of the page.

I am expecting the schedule to sit within the dark section of the page as the rest of the site  and not on the background.

![image](https://user-images.github

[2020-11-09 16:10] Dexbowen commented on #279
I was able to resolve how the schedule displayed on the page by unchecking the automatic display box.
![image](https://user-images.githubusercontent.com/3705265/98565747-f87a0480-227b-11eb-8164-377ef9d69f8c.png)

The issue is now, I am unable to display the schedule with tabs. Is this by design?

[2020-11-12 08:13] majick777 commented on #278
Dates are now clickable on Tabbed Schedule View.

[2020-11-12 08:13] #278 closed

[2020-11-12 08:15] majick777 commented on #277
Main Language Options have been fixed.

[2020-11-12 08:15] #277 closed

[2020-11-12 08:23] majick777 commented on #276
This was a little more complex than first expected, especially since we have recently added Quick Edit and Bulk Edit abilities also, the code for those needed to be changed at the same time.

Basically anyone with a Administrator, Editor or Show Editor role can assign any posts to any Shows.
And anyone who has a DJ/Host or Producer for a Show can also assign a post to it, and this was already poss

[2020-11-13 19:00] tonyzeoli commented on #279
@Dexbowen sorry to not get back to you quickly. @majick777 can you address this?

[2020-11-13 19:02] tonyzeoli opened #280 "[Freemius] Update Freemius library to 2.4.1"
**Is your developer task related to a problem or a requirement? Please describe.**

One or more plugins you have commit access to have been flagged as using an out-of-date version of the Freemius library. This library has been recently updated with security patches and it is crucial that you update your plugin(s) by the end of 2020 to use its latest version (currently v2.4.1, or later).

**Describ

[2020-11-14 03:32] majick777 commented on #279
@Dexbowen Which theme are you using? Schedules are output via shortcode and the settings are available with the intention of being able to play nicely within any theme, but from what you've said it looks like it's not working as intended with your theme, so to investigate further I'll need to check with that theme to determine whether there is a conflict there or if it's some more general bug.

[2020-11-14 03:59] majick777 commented on #279
@Dexbowen Also note for now, if you uncheck `Automatic Display` option, you need to include the shortcode in the page, eg. for tabbed view: `[master-schedule view="tabs"]` ... The Schedule should be showing at all without that checked and without the shortcode in the page content.

[2020-11-14 04:07] majick777 commented on #280
Updated Freemius library to 2.4.1 in development version.

[2020-11-14 04:08] #280 closed

[2020-11-15 19:22] MattMski opened #281 "[Conflict Check] Show Shift detects conflicts with itself"
I have an issue with a show where that specific day/time shows that it's conflicting with itself. Maybe this is coming from a previous deleted permanently show with the same time, I'm not sure but not sure how to fix this. Let me know if you want more information.

![issue](https://user-images.githubusercontent.com/6692764/99194549-90c52d00-2745-11eb-91e6-430ef3f44442.PNG)

[2020-11-16 03:02] tonyzeoli commented on #281
@MattMski you are stating that you had the exact same show with the exact same show time, but you deleted it. Now, you have a new show with the exact same name and time and it's conflicting with that previously deleted show, or so it seems. Is that correct? This is the first time this issue's come up, so we'll take a look and see if that's the cause. If you can maybe provide a step-by-step analysi

[2020-11-16 03:03] tonyzeoli commented on #279
@Dexbowen and @majick777 I'll leave this open for 72 hours and if we don't hear back, we'll close this ticket as resolved.

[2020-11-16 07:22] majick777 commented on #281
@MattMski Not too long ago we added the extra check with the last shift in the Schedule in case that overlaps with a newly added shift into the next week... It seems this is what is being tripped up as a conflict here, whereas the shift should not check against itself in this case (and this is probably because it is the last shift in the week?)

Though I was unable to reproduce the issue when savi

[2020-11-16 20:46] MattMski commented on #281
That is correct. I can't really say much cause I did permanently delete the show first round but there is no other show in existence with the same time nor was there anything in the database.

[2020-11-16 23:44] majick777 commented on #281
@MattMski If the conflict has disappeared already without the code in the development version, and I couldn't reproduce it myself, we can probably safely assume it's a glitch that's only going to come up at a particular day/time in the week, combined with when the Shift being saved is also the last shift of the week.

Given this makes it really hard to reproduce, and we now already have a patch in

[2020-11-16 23:44] #281 closed

[2020-11-16 23:50] majick777 commented on #279
@Dexbowen I suspect there is something in the theme's `page.php` template that is closing one too many HTML tags when there is shortcode content, so the content/sidebar container is closed and the sidebar pushed out of it... But again it's hard to tell without being able to see the page source or test the theme, so if you could provide an URL and/or name of theme, otherwise we may not be able to t

[2020-11-19 18:33] Dexbowen commented on #279
Hi All,

Sorry for the late response. I am using the Pratt theme.

[image: image.png]

On Fri, Nov 13, 2020 at 10:32 PM majick777 <notifications@github.com> wrote:

[2020-11-19 18:45] Dexbowen commented on #279
![image](https://user-images.githubusercontent.com/3705265/99709519-49081380-2a6d-11eb-8d41-b7e34c24d006.png)

The Url is www.purevibesradio.com

[2020-11-19 19:08] Dexbowen commented on #279
Hi Team

You can login with the below information to check. The Page is not
published so you can click on pages in the dashboard and look or show &
schedule.

www.purevibesradio.com
Username - admin
PW - MyFamily712 or MyFamily716

On Fri, Nov 13, 2020 at 11:00 PM majick777 <notifications@github.com> wrote:

[2020-11-19 22:27] gusaus opened #282 "[Show Posts] Links to related show no longer work"
**Describe the bug**
I've updated all plugins to the latest release and the links to related show no longer work.

For instance, assigning this post to show 2 -

<img width="1273" alt="Edit Post ‹ OpenProducer — WordPress 2020-11-19 12-09-58" src="https://user-images.githubusercontent.com/113996/99719204-e14bcb80-2a60-11eb-9c2b-019ef771d1cc.png">

This link does not reference the show -
![Aliquet